<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="MicYear" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年/学期 --</option>
                    </select>
                </div>
                <div class="col-sm-6 checkbox">
                    <label ng-repeat="grade in GradeCourses" class="checkbox-inline">
                        <input type="checkbox" value="{{grade.CourseCode}}" name="grades" />{{grade.FullName}}
                    </label>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="query()"><span class="glyphicon glyphicon-ok"></span>查询</button>
                </div>
            </div>
            <div class="form-group" ng-show="testShow">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="TestType" ng-options="m.Name for m in TestTypes">
                        <option value="">-- 请选择考试类型 --</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="TestNo" ng-options="m.TestNo for m in TestLogins">
                        <option value="">-- 请选择考试号 --</option>
                    </select>
                </div>
                <div class="col-sm-2 checkbox">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="1" ng-model="teacherName" />显示任课教师
                    </label>
                </div>
                <div class="col-sm-3">
                    排序条件：
                    <a ng-click="order(0)" style="cursor:pointer;">序号</a>&nbsp;&nbsp;
                    <a ng-click="order(1)" style="cursor:pointer;">成绩</a>
                </div>
            </div>
            <div class="form-group" ng-show="testShow">
                <div class="col-sm-12 checkbox">
                    <label ng-repeat="student in Students" class="checkbox-inline">
                        <input type="checkbox" value="{{student.StudentId}}" name="selected" />{{student.StdName}}
                    </label>
                </div>
            </div>
            <br />
            <div class="form-group" ng-show="testShow">
                <div class="col-sm-2">
                    最高分：<font style="color:blue;">{{maxNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    最低分：<font style="color:blue;">{{minNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    单/多次平均分：<font style="color:blue;">{{aveNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    合计人次：<font style="color:blue;">{{couNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    优良人次：<font style="color:blue;">{{goodNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    不及格人次：<font style="color:blue;">{{failNumScore}}</font>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr style="background-color:#808080">
                    <th style="width:8%;text-align:center" ng-show="teacherName>0">任课教师</th>
                    <th style="width:10%;text-align:center">班级</th>
                    <th style="width:8%;text-align:center">班级序号</th>
                    <th style="width:8%;text-align:center">课程</th>
                    <th style="width:10%;text-align:center">考试类型</th>
                    <th style="width:5%;text-align:center">学号</th>
                    <th style="width:8%;text-align:center">姓名</th>
                    <th style="width:5%;text-align:center">成绩</th>
                    <th style="width:5%;text-align:center">等第</th>
                    <th style="width:5%;text-align:center">T分</th>
                    <th style="width:8%;text-align:center">年级排名</th>
                    <th style="width:8%;text-align:center">班级排名</th>
                    <th style="width:6%;text-align:center">考试号</th>
                    <th style="width:10%;text-align:center">记分方式</th>
                </tr>
            </thead>
            <tr ng-repeat="item in pageService.data">
                <td ng-show="teacherName>0">
                    {{item.teacherName}}
                </td>
                <td>
                    {{item.class}}
                </td>
                <td>
                    {{item.ClassSN}}
                </td>
                <td>
                    {{item.CourseName}}
                </td>
                <td>
                    {{item.TypeName}}
                </td>
                <td>
                    {{item.SRID}}
                </td>
                <td>
                    {{item.StdName}}
                </td>
                <td>
                    {{item.NumScore}}
                </td>
                <td>
                    {{item.LevelScore}}
                </td>
                <td>
                    {{item.StandardScore}}
                </td>
                <td>
                    {{item.GradeOrder}}
                </td>
                <td>
                    {{item.ClassOrder}}
                </td>
                <td>
                    {{item.Testno}}
                </td>
                <td>
                    {{item.markName}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row" ng-show="pageService.data.length>0">
    <div class="col-sm-12" ng-class="{hidden:pageService.pages==1}" style="background-color: #434a54;">
        <ul class="pager">
            <li class="previous"><a style="cursor:pointer" ng-click="pageService.previous()">&larr; 上一页</a></li>
            <li><a href="#">{{pageService.index}} / {{pageService.pages}}</a></li>
            <li class="next"><a style="cursor:pointer" ng-click="pageService.next()">下一页 &rarr;</a></li>
        </ul>
    </div>
</div>