<configuration>
  <!--
  /======基本设置，微博，日志，新闻的配置文件=====
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  -->
  <showannounce>1</showannounce>
  <attNumber>10</attNumber>
  <cityNumber>30</cityNumber>
  <attNumber>30</attNumber>
  <pNumber>30</pNumber>
  <friendStyle>0</friendStyle>
  <fNumber>30</fNumber>
  <vNumber>30</vNumber>
  <SearchNumber>30</SearchNumber>
  <Magic>8</Magic>
  <Twitter>0</Twitter>
  <TwitterCommentCheck>0</TwitterCommentCheck>
  <Twitterpath>/uploads/app/twitter</Twitterpath>
  <TwitterURLWriter>0</TwitterURLWriter>
  <Blog>0</Blog>
  <BlogURLWrite>0</BlogURLWrite>
  <BlogContentNumber>360</BlogContentNumber>
  <BlogRSSContentNumber>500</BlogRSSContentNumber>
  <BlogCommentCheck>0</BlogCommentCheck>
  <BlogCommentNumber>16</BlogCommentNumber>
  <Blogtrack>10</Blogtrack>
  <BlogSearchText>0</BlogSearchText>
  <BlogHotNumber>15</BlogHotNumber>
  <BlogPath>/uploads/app/blog</BlogPath>
  <contentcheck>1</contentcheck>
  <contentPreNumber>15</contentPreNumber>
  <ContentURLWrite>0</ContentURLWrite>
  <ContentShow>1</ContentShow>
  <ContentShowNumber>400</ContentShowNumber>
  <ContentSearchText>0</ContentSearchText>
  <ContentPath>/uploads/app/article</ContentPath>
  <ContentCommentNumber>16</ContentCommentNumber>
  <NewsCommentCheck>0</NewsCommentCheck>
  <ContentHotNumber>15</ContentHotNumber>
  <noteNumber>2</noteNumber>
  <sendfriendnumber>5</sendfriendnumber>
  <gbookcheck>0</gbookcheck>
  <visitenumber>9</visitenumber>
  <citynumber>6</citynumber>
  <friendnumber>6</friendnumber>
  <regnumber>6</regnumber>
  <deleteUser>30</deleteUser>
  <helppath>/uploads/help</helppath>
</configuration>

