<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  /==================================
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  -->
  <!--软件版本-->
  <lang>zh-cn</lang>
  <webName>JuSNS.CN</webName>
  <SiteName>聚拉网</SiteName>
  <!--域名，不带HTTP-->
  <Domain>www.jusns.cn</Domain>
  <Url>http://www.jusns.cn</Url>
  <isLogin>0</isLogin>
  <keywords>JuSNS,Julaa,,聚网社交软件,软件开发,.NET</keywords>
  <description>JuSNS是一个基于.NET2.0+MS SQL server 2000/2005的一款平台型社交网络软件。她灵活多变，开发者(包括用户)可以基于JuSNS平台开发自己的社交关系</description>
  <copyright>Copyright © 2006-2010 www.JuSNS.com，成都聚讯网络科技有限公司版权所有 All Rights Reserved</copyright>
  <siteExName>.aspx</siteExName>
  <OpenReg>1</OpenReg>
  <RegVer>0</RegVer>
  <SkinStyle>blue</SkinStyle>
  <defaultfriend>3</defaultfriend>
  <intelnum>5,10,1,2,1,1,1,1,1,2,1,1,1,1,1,1,2,1,2,1,1,2,1,1,2,2,2,2,2,1,1,1,1,1,1,2,1,2,1,1,1,5</intelnum>
  <downintel>2</downintel>
  <loginCode>1</loginCode>
  <isRealName>1</isRealName>
  <isRegMobile>0</isRegMobile>
  <isUpHeadPic>0</isUpHeadPic>
  <picsize>10</picsize>
  <pictype>.jpg.gif.png.jpeg.bmp</pictype>
  <filetype>.rar.zip.doc,docx.rm,.xls</filetype>
  <mediatype>.wmv,.avi,.wma,.mp3,.mid</mediatype>
  <friendlimit>50,50,50</friendlimit>
  <limitType>1|1|1|1</limitType>
  <pokeNumber>30</pokeNumber>
  <inviteReg>聚啦网是一个和朋友保持联系，认识新朋友地方！可以与朋友一起分享您的心情，您的照片等！还可以发表评论。感觉还不错，你也来看看吧。</inviteReg>
  <Matchfriend>0</Matchfriend>
  <sendmobileNumber>1000</sendmobileNumber>
  <sendMobileBind>13981776676</sendMobileBind>
  <isEmailReturn>service@jusns.com</isEmailReturn>
  <onlinebase>0,30</onlinebase>
  <IsOnline>1</IsOnline>
  <dynNumber>30</dynNumber>
  <HomedynNumber>20</HomedynNumber>
  <isOpenAlbum>0</isOpenAlbum>
  <isShowNewReg>1</isShowNewReg>
  <isShowBirthday>1</isShowBirthday>
  <ValidateIP></ValidateIP>
  <showIndexPage>0</showIndexPage>
  <isCheckAsk>0</isCheckAsk>
  <ShowRegCount>1|12000</ShowRegCount>
  <GuestSearch>0</GuestSearch>
  <isDev>0</isDev>
  <links>电话：028-85079801，移动电话：13981776676，Email:service@jusns.com</links>
  <CookieDomain></CookieDomain>
  <CookieVerifyCode>1234567890</CookieVerifyCode>
  <Spaceurl>0</Spaceurl>
  <adstoindex>1,1</adstoindex>
  <groupcreat>1</groupcreat>
  <gName>元宝</gName>
  <gChange>1</gChange>
  <maxchangenumber>1000</maxchangenumber>
  <charge>100,1</charge>
  <memberleves>100,250,500,800,1200,2000,3000,5000</memberleves>
  <Vip>10</Vip>
  <systempath>system</systempath>
  <regIP>1</regIP>
  <ErrorLogin>1</ErrorLogin>
  <orderdateNumber>30</orderdateNumber>
  <AdminLogin>1</AdminLogin>
  <AdminCookies>SNSAdminPassPort</AdminCookies>
</configuration>
