<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <hotblogusernumber>5</hotblogusernumber>
  <hotblognumber>8</hotblognumber>
  <topNumber>10</topNumber>
  <groupdynumber>5</groupdynumber>
  <twitternumber>12</twitternumber>
  <newsrecnumber>12</newsrecnumber>
  <newsnewnumber>10</newsnewnumber>
  <newspicnumber>3</newspicnumber>
  <topusernumber>16</topusernumber>
  <albumnumber>6</albumnumber>
  <showtopicnumber>9</showtopicnumber>
  <flashnumber>4</flashnumber>
  <adspic>/uploads/ads</adspic>
  <persionnumber>20</persionnumber>
  <recgroup>12</recgroup>
  <recgoods>12</recgoods>
  <recshop>12</recshop>
  <recphoto>15</recphoto>
  <recactive>10</recactive>
  <recask>10</recask>
  <recvote>10</recvote>
  <edit_file>/library/page/upload.aspx?type=file</edit_file>
  <edit_pic>/library/page/upload.aspx?type=pic</edit_pic>
  <edit_flash>/library/page/upload.aspx?type=flash</edit_flash>
  <edit_media>/library/page/upload.aspx?type=media</edit_media>
  <editskin>o2007silver</editskin>
  <errorlogs>0</errorlogs>
  <curpicpath>/uploads/app/cus/pic</curpicpath>
  <curfilepath>/uploads/app/cus/file</curfilepath>
  <curflashpath>/uploads/app/cus/flash</curflashpath>
  <curmediapath>/uploads/app/cus/media</curmediapath>
  <linksopen>1</linksopen>
  <linkspath>/uploads/links</linkspath>
  <linksNumber>30</linksNumber>
  <flashpath>/uploads/flash</flashpath>
  <flashnumber>4</flashnumber>
  <helpclass>程序的安装,常见问题,其他问题</helpclass>
  <taskpath>/uploads/task</taskpath>
  <taskarray>更新个人资料, 上传头像, 结交5位好友, 认证邮箱, 邀请2位好友, 发表3个微博, 发表3篇博客, 创建1个相册, 创建一个社群, 发表一个商品, 提出1个问题, 发起1个活动, 赠送3个礼物, 向3个人打招呼, 发起投票, 分享3个信息, 安装一个应用程序</taskarray>
  <isfloat>0</isfloat>
</configuration>