@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/class.css" rel="stylesheet" />

<div class="coursesite_box">
    <div class="wrap_box" ng-controller="AddClassController">
        <p class="class_guide">在读教学班 > 教学班管理<a target="_self" href="../class/index">返回</a></p>
        <div class="form_select">
            <div class="class_name_box">
                <label class="table_tit">教学班名称：</label>
                <p><input class="class_name" value="" ng-model="OCClass.TeachingClassName" type="text"><b>*</b></p>

            </div>
            <div class="teach_date">
                <label class="table_tit">授课起止日期：</label>
                <p>
                    <input class="laydate-icon" id="start_date" value="{{OCClass.StartDate |dateFormat}}" ng-model="OCClass.StartDate" type="text">
                </p>
                <span>~</span>
                <p>
                    <input class="laydate-icon" id="end_date" value="{{OCClass.EndDate |dateFormat}}" ng-model="OCClass.EndDate" type="text">
                </p>
                <b>*</b>
            </div>
            <p class="teacher_select">
                <label class="table_tit">授课教师：</label>
                @*<select>
                        <option ng-repeat="OCTeacher in OCClassTeachertList" ng-selected="OCTeacher.IsSelected" ng-model="OCTeacher"> {{octeacher.username}}</option>
                    </select>*@
                @*<select ng-model="m.IsSelected" ng-selected="m.IsSelected" ng-options="m.UserName for m in OCClassTeachertList" style="height:30px;">
                        <option value="" selected="selected">--请选择--</option>
                    </select>*@
                <span style="margin-left:5px;" ng-repeat="octeacher in OCClassTeachertList"><input type="checkbox" ng-checked="octeacher.IsSelected" ng-model="octeacher.IsSelected" />{{octeacher.UserName}}</span>
                @*{{OCClassTeachertList|json}}*@
                <b>*</b>
            </p>
            <p class="open_register"><label class="table_tit">注册码：</label><input type="checkbox" ng-checked="OCClass.RegStatus" ng-model="OCClass.RegStatus"><span>启用注册码</span><input class="register_num" type="text" ng-model="OCClass.RegNum"></p>
        </div>
        <div class="class_management stu_management">
            <h5>教学班学生({{OCClassStudentList.length}})</h5>
            <div class="function_list">
                <a href="javascript:;" ng-click="BatchDeleteStudent()"><em><i class=" icon delete_btn"></i></em><span>批量删除</span></a>
                <div class="import_box">
                    <a href="javascript:;"><em><i class="icon import_btn"></i></em><span>导入班级学生</span></a>
                    <a class="download_box" href="javascript:;"><em><i class="icon download_btn"></i></em><span>下载导入格式</span></a>
                </div>
                <a class="add_btn" href="javascript:;" ng-click="ShowAddModal()"><em><i class="icon icon_add"></i></em><span>添加学生</span></a>

            </div>
            <div class="class_wrap">
                <table class="class_box">
                    <tr>
                        <th width="20"><input type="checkbox" ng-checked="OCClassSelectedType.SelectedPage" ng-click="OCClassSelectPage()"></th>
                        <th width="115">学号</th>
                        <th width="95">姓名</th>
                        <th width="195">专业</th>
                        <th width="195">行政班</th>
                        <th>来源</th>
                    </tr>
                    <tr ng-repeat="OCClassStudent in OCClassStudentList|listFilter:'between':OCClassStudentIndex:PageSize" ng-class="{true: 'active', false: ''}[Show_btn]" ng-mouseover="Show_btn=true" ng-mouseleave="Show_btn=false">
                        <td><input type="checkbox" ng-model="OCClassStudent.IsSelected" ng-checked="OCClassStudent.IsSelected"></td>
                        <td ng-model="OCClassStudent.UserNo">{{OCClassStudent.UserNo}}</td>
                        <td ng-model="OCClassStudent.UserName">{{OCClassStudent.UserName}}</td>
                        <td ng-model="OCClassStudent.SpecialtyName">{{OCClassStudent.SpecialtyName}}</td>
                        <td ng-model="OCClassStudent.ClassName">{{OCClassStudent.ClassName}}</td>
                        <td ng-model="OCClassStudent.Source">{{OCClassStudent.Source}}<span class="icon delete_btn" style="cursor:pointer;margin-left:30px;" ng-click="DeleteStudent(OCClassStudent)"></span></td>
                    </tr>
                </table>
                <div class="all_select">
                    <p style="margin-left:7px;"><input type="checkbox" ng-checked="OCClassSelectedType.SelectedAll" ng-click="OCClassSelectAll()" ng-model="OCClassSelectedType.SelectedAll">全选</p> <div id="OCClassStudentPage" style="float:right;margin-right:20px;"></div>
                </div>
            </div>
        </div>
        <div class="btn_box">
            <a class="save" href="javascript:;" ng-click="OCClass_Edit()">保存</a>
            <a class="cancel" href="javascript:;">取消</a>
        </div>


        <div id="addStudentModal" class="modal hide fade" style="width:700px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <h4>添加</h4><span class="icon close_pop" data-dismiss="modal"></span>
            <div class="add_student">
                <ul class="accord_box">
                    <li class="active" ng-class="{true: 'active', false: ''}[SearchType]"><a ng-click="addSearchType(true)">按行政班添加</a></li>
                    <li ng-class="{true:'', false: 'active'}[SearchType]"><a ng-click="addSearchType(false)">按学生添加</a></li>
                </ul>
                <div class="result_box" ng-show="SearchType">
                    <div class="stu_accord">
                        <div class="user_search">
                            <input type="text" ng-model="ClassModel.Key" placeholder="请输入 '行政班名称' 关键字">
                            <b>*</b>
                            <a href="#" ng-click="SearchClass()">搜索</a>
                        </div>
                    </div>
                    <div class="stu_box">
                        <table class="class_box">
                            <tr>
                                <th width="20"></th>
                                <th width="145">行政班名称</th>
                                <th width="50">年级</th>
                                <th width="50">学生数</th>
                                <th width="120">专业</th>
                                <th>所属机构</th>
                            </tr>
                            <tr ng-repeat="Class in Class_List">
                                <td><input type="radio" name="rad_addClass" ng-model="ClassModel.ClassID" ng-value="{{Class.ClassID}}"></td>
                                <td>{{Class.ClassName}}</td>
                                <td>{{Class.EntryDate|dateFormatYear}}</td>
                                <td>{{Class.StudentsNumber}}</td>
                                <td>{{Class.SpecialtyName}}</td>
                                <td>{{Class.OrganizationName}}</td>
                            </tr>
                        </table>
                        <div id="ClassPage" style="margin:20px; margin-left:150px;"></div>
                        <div class="btn_box">
                            <a class="save" href="javascript:;" ng-show="ClassModel.ClassID>0" ng-click="SelectClassStudent()">选择</a>
                            <a class="cancel" data-dismiss="modal" aria-hidden="true">取消</a>
                        </div>
                    </div>
                </div>
                <div class="result_box" ng-hide="SearchType">
                    <div class="stu_accord">
                        <div class="user_search">
                            <input type="text" ng-model="SearchModel.Key" placeholder="请输入 '学号、姓名、年级、机构、专业' 关键字">
                            <b>*</b>
                            <a href="#" ng-click="SearchStudent()">搜索</a>
                        </div>
                    </div>
                    <div class="stu_box">
                        <table class="class_box">
                            <tr>
                                <th width="20"><input type="checkbox" ng-checked="SelectedType.SelectedPage" ng-click="SelectPage()"></th>
                                <th width="90">学号</th>
                                <th width="75">姓名</th>
                                <th width="120">专业</th>
                                <th width="145">行政班</th>
                                <th>年级</th>
                            </tr>
                            <tr ng-repeat="occlassstudent in OCClassStudentSearchList|listFilter:'between':PageSearchStudentIndex:PageSize" ng-model="PageSearchStudentIndex">
                                <td><input type="checkbox" ng-checked="occlassstudent.IsSelected" ng-model="occlassstudent.IsSelected"></td>
                                <td>{{occlassstudent.UserNo}}</td>
                                <td>{{occlassstudent.UserName}}</td>
                                <td>{{occlassstudent.SpecialtyName}}</td>
                                <td>{{occlassstudent.ClassName}}</td>
                                <td>{{occlassstudent.EntryDate|dateFormatYear}}</td>
                            </tr>
                        </table>
                        <div class="all_select">
                            <p style="margin-left:7px;"><input type="checkbox" ng-checked="SelectedType.SelectedAll" ng-click="SelectAll()" ng-model="SelectedType.SelectedAll">全选</p> <div id="SearchStuPage" style="float:right;margin-right:20px;"></div>
                        </div>

                    </div>
                    <div class="select_num">
                        <p>已选{{(OCClassStudentSearchList|listFilter2:'=':true).length}} 人</p>
                        <div class="btn_box" style=" margin-left:60px;">
                            <a class="save" href="javascript:;" ng-show="(OCClassStudentSearchList|listFilter2:'=':true).length>0" ng-click="SelectSelectedStudent()">选择</a>
                            <a class="cancel" data-dismiss="modal" aria-hidden="true">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
