@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/class.css" rel="stylesheet" />
<!--右侧主题内容开始-->
<div class="main_content">
    <div class="coursesite_box" ng-controller="ClassController">

        <div class="class_item">
            <div class="item_box">
                <ul class="class_item_list">
                    <li ng-class="{true: '', false: 'active'}[OCClass.IsHistroy]"><a ng-click="ShowHistroyOCClass(false)">在读教学班</a></li>
                    <li ng-class="{true: 'active', false: ''}[OCClass.IsHistroy]"><a ng-click="ShowHistroyOCClass(true)">结业教学班</a></li>
                    @*<li ng-hide="true"><a href="javascript:;">网络招生班级</a></li>*@
                </ul>
                <div class="class_operation" ng-hide="OCClass.IsHistroy">
                    <a href="javascript:;"><em><i class="icon download_btn"></i></em><span>导出全部班级</span></a>
                    <a target="_self" href="../class/AddTeachingClass"><em><i class="icon icon_add"></i></em><span>新增教学班</span></a>
                </div>
            </div>
            <div class="class_tip">
                <p ng-hide="OCClass.IsHistroy">说明：以学年学期为时间段，整班全体学生学习时间与进度要求一致，适用于学期课程和在校学生</p>
                <div class="class_tip" ng-show="OCClass.IsHistroy">
                    <select class="term_select">
                        <option>全部学期</option>
                        <option>全部学期</option>
                        <option>全部学期</option>
                    </select>
                    <span class="class_search"><input type="text" placeholder="请输入‘班级’ ‘学生姓名’关键字"><i class="icon search_icon"></i></span>
                </div>
                <span class="class_search"><input type="text" ng-model="OCClass.Key" placeholder="{{OCClass.Key}}"><i class="icon search_icon" ng-click="SearchClassList()"></i></span>
            </div>
            <table class="class_table">
                <tr>
                    <th width="30"></th>
                    <th width="215">教学班名称</th>
                    <th width="180">教学运行时间</th>
                    <th width="60">学生数</th>
                    <th width="150">授课教师</th>
                    <th width="170">其他教学团队</th>
                    <th width="60" ng-hide="OCClass.IsHistroy">注册码</th>
                    <th></th>
                </tr>
                <tr ng-repeat="occlass in OCClassList" ng-class="{true: 'oddbg', false: ''}[$even]" ng-mouseover="Show_btn=true" ng-mouseleave="Show_btn=false">
                    <td></td>
                    <td title="{{occlass.TeachingClassName}}" ng-bind="occlass.TeachingClassName |limitTo:20"></td>
                    <td ng-bind-template="{{occlass.StartDate| dateFormat}}~{{occlass.EndDate| dateFormat}}"></td>
                    <td ng-bind="occlass.StudentCount"></td>
                    <td title="{{occlass.Teacherinfo}}" ng-bind="occlass.Teacherinfo|limitTo:14"></td>
                    <td ng-bind="occlass.Teaminfo |limitTo:14"></td>
                    <td ng-hide="OCClass.IsHistroy">
                        <div class="register_item">
                            <a class="code_btn" ng-click="RegNum_Upd(occlass)">{{occlass.RegStatus==0?'未启用':occlass.RegNum}}</a>

                        </div>
                    </td>
                    <td ng-hide="OCClass.IsHistroy">
                        <div ng-hide="OCClass.IsHistroy" class="register_btn" ng-class="{true: 'regis ter_btns', false: 'register_btn'}[Show_btn]">
                            <span class="icon icon_throw" ng-click="OCClass_Del(occlass)" title="删除"></span>

                            <span class="icon import_btn_gray" title="导入学生">
                                <div class="icon_explain">导入学生<a href="/G2S/Views/OC/Class/Student.xls">[下载导入表格]</a></div>
                            </span>
                            <span class="icon jieye_btn" ng-click="OCClass_IsHistroy_Upd(occlass)" title="设为结业">
                                <div class="icon_explain">设为结业</div>
                            </span>
                            <span class="icon code_edit" ng-click="OCClass_Edit(occlass)" title="删除"></span>
                        </div>
                    </td>
                    <td>
                        <div ng-show="OCClass.IsHistroy" class="register_btn" ng-class="{true: 'register_btns', false: 'register_btn'}[Show_btn]">
                            <span class="icon icon_throw" ng-click="OCClass_Del(occlass)" title="删除"></span>
                            <span class="icon export_btn" title="导出学生">
                                <div class="icon_explain">导出学生</div>
                            </span>

                            <span class="icon detail_btn" ng-click="OCClassStudent_List(occlass)" title="查看详细">
                                <div class="icon_explain">查看详细</div>
                            </span>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div id="ClassPage" style="margin:20px; margin-left:150px;"></div>


        <div id="myRegNumModal" class="modal hide fade" style=" width:500px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <h4>注册码</h4>
            <span class="icon close_pop" data-dismiss="modal"></span>
            <div class="form_box">
                <div class="register_box">
                    注册码：<input type="checkbox" ng-model="OCClass_Upd.RegStatus" ng-checked="OCClass_Upd.RegStatus"><span>启用注册码</span><input class="register_code" type="text" ng-model="OCClass_Upd.RegNum" value="{{OCClass_Upd.RegNum}}">
                    <p class="code_tip">你需要将注册码，通过其他方式告知你的学生</p>
                </div>
                <div class="btn_box">
                    <a class="save" ng-click="OCClass_RegNum_Upd()" data-dismiss="modal">锁定</a>
                    <a class="cancel" data-dismiss="modal" aria-hidden="true">取消</a>
                </div>
            </div>
        </div>

        <div id="myDetailsModal" class="modal hide fade" style=" width:700px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <h4>查看详细</h4>
            <span class="icon close_pop"></span>
            <div class="pop_wrap">
                <div class="detail_tit">
                    <h5>{{Class_Details.TeachingClassName}}<span>（{{OCClassStudentList.count}}学生）</span></h5>
                    <a href="javascript:;"><em><i class="icon download_btn"></i></em><span>导出学生</span></a>
                </div>
                <table class="class_box">
                    <tr>
                        <th width="25"></th>
                        <th width="85">学号</th>
                        <th width="75">姓名</th>
                        <th width="125">专业</th>
                        <th width="145">行政班</th>
                        <th>年级</th>
                    </tr>
                    <tr ng-class="{true: 'oddbg', false: ''}[$even]" ng-repeat="OCClassStudent in OCClassStudentList">
                        <td></td>
                        <td ng-bind="OCClassStudent.UserNo"></td>
                        <td ng-bind="OCClassStudent.UserName"></td>
                        <td ng-bind="OCClassStudent.SpecialtyName"></td>
                        <td ng-bind="OCClassStudent.ClassName"></td>
                        <td ng-bind="OCClassStudent.EntryDate"></td>
                    </tr>
                </table>
                <div id="StudentPage" style="margin:20px; margin-left:150px;"></div>
                <div class="btn_box">
                    <a class="cancel" data-dismiss="modal" aria-hidden="true">取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧主题内容结束-->
