@charset "utf-8";
/* CSS Document */
.icon_forum{ display:inline-block; width:16px; height:16px; background:url(../Images/icon_forum.png) no-repeat;}
.admin_wrap .wrap{ background:#666;}
/*左侧重置样式*/
.admin_wrap .side_left{ background:url(../Images/side_left2.gif) repeat-y;}
.admin_wrap .user{ background:url(../Images/left_bg2.gif) repeat;}
.admin_wrap .side_nav li{ position:relative;}
.admin_wrap .side_nav li a{ border-left-color:#284a51;}
.admin_wrap .side_nav li i{ position:absolute; right:40px; top:12px; color:#fff; font-style:normal; text-align:center; line-height:16px;}
.admin_wrap .side_nav li i.notice_tip{ background-position:-32px 0;}
.admin_wrap .side_nav li.active,.admin_wrap .side_nav li:hover{ background:#284a51;}
.admin_wrap .side_nav li.active a,.admin_wrap .side_nav li:hover a{ border-left-color:#12f7fd;}
.admin_wrap .switch_btn{ background:#366061;}
.admin_wrap .more_tool{ background:#284a51;}
.admin_wrap .more_tool:hover{ background:#213d43;}
.admin_wrap .icon_fold{ background:url(../Images/fold2.gif) no-repeat;}
.admin_wrap .icon_fold:hover{ background:url(../Images/fold2_hover.gif) no-repeat;}
.admin_wrap .nav_box li.active a{ background:#284a51; border-bottom-color:#284a51;}
.admin_wrap .user_name{ background:#284a51;}
.admin_wrap .user_info{ background:#284a51;}
/*公告重置样式*/
.admin_wrap .notice_list li{ width:700px; padding-right:160px;}
.admin_wrap .notice_list li p{ position:absolute; right:0; top:10px; height:20px; line-height:20px;}
.admin_wrap .notice_list li p a{ color:#366061; text-decoration:underline;}
.admin_wrap .notice_list li p span{ display:inline-block; width:110px; height:20px; background:#f2f2f2; margin-left:5px; text-align:center; color:#333;}
.admin_wrap .notice_box{ width:auto; float:none;}
.admin_wrap .notice_btn{ margin:12px 15px 0 0;}
.admin_wrap .notice_btn a{ display:block; width:16px; height:16px; margin-left:7px;}
.admin_wrap a.prev_btn{ background-position:0 -64px;}
.admin_wrap a.next_btn{ background-position:-16px -64px;}
.admin_wrap a.prev_btn:hover{ background-position:0 -64px;}
.admin_wrap a.next_btn:hover{background-position:-16px -64px;}

/*通知重置样式*/
.admin_wrap .message_nav{ border-bottom:1px solid #366061;}
.admin_wrap .message_nav li.active a{ border-bottom:2px solid #366061;}
.admin_wrap .message_nav li a{ color:#366061;}

/*右侧边栏新添样式*/
.side_item h4{ height:50px; line-height:50px; background:#366061; font-size:14px; color:#fff; padding-left:15px;}
.online_box{ padding:20px 15px;}
.online_box img{ display:block;}
.server_box{ margin-top:-10px;}
.server_box li{ margin-bottom:10px;}
.server_box li b{ color:#366061;}
.server_box li p{ color:#666;}
.progress_bar{ display:block; margin-top:5px; width:218px; height:20px; border:1px solid #009900; overflow:hidden; zoom:1; position:relative;}
.progress_bar em{ display:block; position:absolute; top:0; left:0; background:#009900; height:20px;}
.over_80{ border:1px solid #ff0000;}
.over_80 em{ background:#ff0000;}

/*日历和待处理项目*/
.matter_box{ height:325px; overflow:hidden; zoom:1;}
.date_box{ width:250px; float:left;}
.date_box img{ display:block;}
.matter_item{ overflow:hidden;}
.matter_tit{ height:50px; line-height:50px; background:#284a51; overflow:hidden; zoom:1; color:#fff;}
.matter_tit h4{ float:left; margin-left:24px; font-size:14px;}
.matter_tit h4 span{ font-weight:normal;}
.add_schedule{ float:right; margin:0 20px; color:#fff;}
.matter_tit p{ float:right; margin-left:10px;}
.matter_tit p input{ height:50px; vertical-align:middle; margin-right:3px;}
.matters{ height:275px; overflow:hidden; zoom:1;}
.matters_box{ height:245px; overflow:hidden; zoom:1; position:relative;}
.matters_list{ width:500px; position:absolute; top:0; left:0; height:9999px;}
.matters_list li{ padding:6px 20px 6px 13px; height:22px; line-height:22px; border-bottom:1px solid #e4e4e4; overflow:hidden; zoom:1;}
.matters_list li:hover{ background:#f2f2f2;}
.matters_list li a{ float:right; margin-left:10px; color:#366061; text-decoration:underline;}
.matters_list li p{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; zoom:1; color:#666;}
.red{ color:#ff0000; padding:0 4px;}
.gray{ padding-right:4px; color:#999;}
.status_label{ float:left; margin-right:10px; width:40px; height:22px; line-height:22px; text-align:center; color:#fff;}
.pending{ background:#cc3300;}
.system{ background:#009900;}
.mine{ background:#0033ff;}
.switch_btn_list{ height:30px; line-height:30px; background:#f2f2f2; text-align:right; padding-right:18px; overflow:hidden; zoom:1;}
.switch_btn_list li{ float:right; width:10px; height:10px; margin:10px 0 0 5px; background:#ccc; cursor:pointer;}
.switch_btn_list li.active{ background:#366061;}

/*发布通知重置样式*/
.admin_wrap .issue_notice{ background:#f2f2f2;}
.filter_notice{ float:left; line-height:40px;}
.filter_notice p{ float:left; margin-left:30px; font-size:13px; color:#666;}
.filter_notice p input{ height:40px; vertical-align:middle; margin-right:3px;}
.search_notice{ float:left; margin-left:18px; position:relative;}
.search_notice input{ padding:0 22px 0 6px; height:30px; line-height:30px\9; border:1px solid #ccc; background:#f2f2f2;}
.search_notice i{ position:absolute; top:12px; right:6px; cursor:pointer;}
.search_notice i.search_notice_btn{ background-position:-32px -16px;}
/*重置通知字体颜色*/
.admin_wrap .message_tit h4{ color:#366061;}
.admin_wrap .comment_btn{ color:#366061;}
.admin_wrap .comment_list li p a{ color:#366061;}
.admin_wrap .more_comment{ color:#366061;}


/*管理员端列表页*/
.icon_admin{ display:inline-block; width:16px; height:16px; background:url(../Images/icon_admin.png) no-repeat;}
.admin_nav_box{ height:55px; background:#284a51; overflow:hidden; zoom:1;}
.admin_nav_list{ overflow:hidden; zoom:1; height:38px; margin:17px 0 0 24px;}
.admin_nav_list li{ float:left; margin-right:10px;}
.admin_nav_list li a{ display:block; height:38px; line-height:38px; width:90px; text-align:center; background:#366061; font-size:14px; color:#fff;}
.admin_nav_list li a:hover,.admin_nav_list li.active a{ background:#fff; color:#366061;}

.sousuo_box{ background:#f2f2f2; overflow:hidden; zoom:1;}
.filter_item{ height:40px; line-height:40px; border-bottom:1px solid #ccc;}
.filter_btn{ float:right; margin-right:27px; color:#366061;}
.class_operation{ float:right; margin:5px 5px 0 10px; height:30px; border:1px solid #284a51; position:relative;}
.class_operation a{ display:block; width:100px; height:30px; line-height:30px; border-top:1px solid #284a51; margin-top:-1px; overflow:hidden; zoom:1; color:#fff; background:#366061;}
.class_operation a:hover{ background:#305556;}
.class_operation a i{ float:left; margin:7px 3px 0 7px;}
.class_operation ul{ display:none; position:absolute; top:30px; left:-1px; z-index:999;border:1px solid #284a51;}
.daoru{ background-position:0 -48px;}
.daochu{ background-position:0 -64px;}
.download_btn{ background-position:0 -32px;}
.add_student{ float:right; margin:5px 0 0 20px; width:90px; height:30px; line-height:30px; border:1px solid #366061; background:#284a51; color:#fff;}
.add_student i{ float:left; margin:7px 6px 0;}
.add_btn{ background-position:0 -16px;}
.search_btn{ float:right; width:260px; position:relative; overflow:hidden; zoom:1;}
.search_btn input{ width:233px; margin-top:5px; height:30px; line-height:30px\9; padding:0 20px 0 5px; border:1px solid #ccc;}
.search_btn i{ position:absolute; top:12px; right:4px; cursor:pointer;}
.search_icon{ background-position:0 0;}

.select_requirement_box{ padding:0 25px 28px 35px; overflow:hidden; zoom:1; border-bottom:1px solid #ccc; clear:both; position:relative;}
.requirement_box{ margin-top:15px; overflow:hidden; zoom:1;}
.requirement_box dt{ float:left; width:50px; margin-right:15px; color:#666; line-height:27px;}
.requirement_box dd{ overflow:hidden; zoom:1; position:relative;}
.all_requirement{ overflow:hidden; zoom:1; padding-right:30px; position:relative;}
.select_require{ overflow:hidden; zoom:1; height:30px;}
.select_require span{ float:left; margin:0 5px 3px 0; min-width:50px;}
.select_require span a{ display:block; height:27px; line-height:27px; color:#666; padding:0 13px;}
.select_require span a:hover,.select_require span.active a{ background:#366061; color:#fff;}
.fold_btn{ color:#366061; position:absolute; right:0; top:0; line-height:27px;}
.second_require{ padding:10px; background:#e4e4e4; border:1px solid #ccc;}
.second_require span{ margin-bottom:0;}
.date_time{ overflow:hidden; zoom:1;}
.date_time span{ float:left; margin:0 10px; color:#666; line-height:32px;}
.date_time p{ float:left; width:150px; height:32px; position:relative;}
.date_time p input{ width:120px; padding:0 24px 0 4px; height:30px; line-height:30px\9; border:1px solid #ccc;}
.date_time p i{ position:absolute; right:8px; top:7px; cursor:pointer;}
.date_icon{ background-position:-16px 0;}

.search_button{ display:block; margin:20px 0 0 65px; width:120px; height:30px; line-height:30px; text-align:center; color:#fff; background:#e67f22; border:1px solid #d35403;}
.search_button:hover{ background:#d87720;}

.close_box{ display:block; width:24px; height:24px; background-color: rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); position:absolute; right:0; top:0; cursor:pointer;}
.close_box i{ position:absolute; top:4px; left:4px;}
.shouqi_icon{ background-position:-16px -16px;}

.search_result_box{ padding:10px 20px; overflow:hidden; zoom:1;}
.result_tit{ padding-bottom:8px; height:32px; line-height:32px; border-bottom:2px solid #c8d6ff;}
.result_tit h4{ float:left; height:32px; line-height:32px; padding-bottom:7px; border-bottom:3px solid #366061; font-size:16px; color:#333;}
.result_tit h4 span{ color:#999; font-size:12px; font-weight:normal;}
.show_num{ float:right; margin-left:17px; color:#666;}
.show_num select{ height:30px; line-height:30px; border:1px solid #ccc; width:50px; padding-left:5px; margin-left:10px;}
.result_tit a{ float:right; margin-left:10px; padding:0 18px; height:30px; line-height:30px; border:1px solid #ccc; background:#f2f2f2; color:#333;}
.result_tit a:hover{ background:#e8e8e8;}

.result_table{ width:100%; border-bottom:1px solid #e8e8e8;}
.result_table tr th{ text-align:left; border-bottom:1px solid #e8e8e8;}
.result_table tr th i{ vertical-align:middle;}
.result_table tr th,.result_table tr td{ height:42px; line-height:42px; color:#333;}
.result_table tr th input,.result_table tr td input{ height:42px; vertical-align:middle;}
.user_id{ color:#366061;}
.rank_btn{ background-position:-16px -64px;}
.operation_box{ display:none; height:42px; overflow:hidden; zoom:1;}
.operation_box i{ float:left; margin:13px 10px 0 0; cursor:pointer;}
.edit_btn{ background-position:-16px -32px;}
.delete_btn{ background-position:-16px -48px;}

.admin_wrap .page_box a:hover{ background:#366061; border:1px solid #ccc;}
.page_wrap{ margin:40px 0; overflow:hidden; zoom:1;}

/*新增资料*/
.crumbs_box{ line-height:55px; color:#fff; margin-left:15px; font-size:13px;}
.data_nav_box{ background:#f2f2f2; height:25px; padding:10px 0; border-bottom:1px solid #ccc; overflow:hidden; zoom:1;}
.data_nav_list{ margin-left:30px; overflow:hidden; zoom:1;}
.data_nav_list li{ float:left; margin-right:10px;}
.data_nav_list li a{ display:block; width:80px; height:23px; line-height:23px; text-align:center; background:#e4e4e4; border:1px solid #d7d7d7; color:#333; border-radius:3px;}
.data_nav_list li.active a,.data_nav_list li a:hover{ background:#c8d6ff; border:1px solid #c8d6ff;}
.data_box{ padding:18px 30px; overflow:hidden; zoom:1;}
.tip_box{ padding:4px 18px 4px 12px; background:#c7e5fd; border:1px solid #3399ff; overflow:hidden; zoom:1; position:relative;}
.tip_box p{ line-height:22px; color:#666; font-size:13px;}
.tip_box p i{ float:left; margin:3px 8px 0 0;}
.close_tip{ font-size:20px; line-height:22px; color:#3399ff; position:absolute; right:6px; top:4px; cursor:pointer;}
.tip_icon{ background-position:-32px -32px;}
/*基本信息*/
.info_box{ margin-top:15px; overflow:hidden; zoom:1;}
.info_box h5{ font-size:14px; color:#333; font-weight:normal; font-family:'Arial';}
.info_detail_box{ margin-top:5px; padding:20px 30px; background:#f7f7f7; border:1px solid #f2f2f2; overflow:hidden; zoom:1;}
.info_detail{ width:726px; float:left; margin-top:-15px; overflow:hidden; zoom:1;}
.info_detail input[type=text]{ float:left; width:190px; height:30px; line-height:30px\9; border:1px solid #e4e4e4; padding:0 4px;}
.info_detail select{ width:193px; height:30px; line-height:30px; border:1px solid #e4e4e4; padding-left:5px;}
.info_detail_list{ float:left; width:363px; margin-top:15px; height:32px; line-height:32px;}
.info_detail_list label{ float:left; margin-right:10px; width:65px; text-align:right; font-size:13px; color:#333;}
.info_label{ width:100%;}
.fill_box{ float:left; position:relative;}
.fill_box b{ float:left; margin:0 5px; font-weight:normal; font-size:14px;}
.fill_tip{ float:left; font-size:13px; color:#999;}
.fill_tip i{ float:left; margin:8px 8px 0 0;}
.wrong_icon{ background-position:-32px -48px;}
.radio_select{ float:left; margin-right:30px; font-size:12px; color:#333;}
.radio_select input{ height:32px; margin-right:5px; vertical-align:middle;}
.mobile_box{ overflow:hidden; zoom:1;}
.mobile_box span{float:left; height:30px; line-height:30px; border:1px solid #e4e4e4; background:#f2f2f2; text-align:center;}
.mobile_box span.default_num{  width:39px; border-right:0;} 
.mobile_box span.credit_name{ width:48px; margin-right:10px;}
.info_detail input.mobile_input{ width:150px;}
.info_detail input.credit_input{ width:130px;}
.info_detail input.input_100{ width:600px;}
.mar48 label{ margin-left:48px;}
.photo_box{ overflow:hidden; zoom:1;}
.photo_box span{ float:left; margin-right:4px; font-size:13px; color:#333;}
.photo_img{ overflow:hidden; zoom:1; text-align:center;}
.photo_img img{ display:block;}
.photo_img p{font-size:13px; color:#333;}
.photo_img a{ display:inline-block; margin-top:10px; width:90px; height:25px; line-height:25px; text-align:center; background:#284a51; color:#fff; border-radius:3px;}
.photo_img a:hover{ background:#234046;}
/*家庭信息*/
.family_table{ width:100%;}
.family_table tr th,.family_table tr td{ height:40px; line-height:40px; border-bottom:1px solid #e8e8e8; color:#333;}
.family_table tr th{ text-align:left;}
.info_btn{ height:40px; overflow:hidden; zoom:1;}
.info_btn i{ float:left; margin:12px 0 0 12px;}
.family_table tr td select{ height:28px; line-height:28px; border:1px solid #e4e4e4;}
.family_table tr td input{ height:28px; line-height:28px\9; border:1px solid #e4e4e4;}
.family_relation{ width:80px;}
.family_name{ width:120px;}
.family_work{ width:350px;}
.family_link{ width:120px;}
.save_box{ overflow:hidden; zoom:1;}
.save_box a{ float:left; margin-right:10px; width:50px; height:30px; line-height:30px; text-align:center; border:1px solid #ccc;}
.save_label{ background:#284a51; color:#fff;}
.save_label:hover{ background:#244248;}
.cancel_label{ background:#fff; color:#333;}
.cancel_label:hover{ background:#f2f2f2;}
.add_family{ display:block; margin-top:15px; color:#284a51;}
.add_family i{ float:left; margin:3px 13px 0 8px;}
.icon_add{ background-position:-32px -64px;}
.update_btn{ display:block; width:90px; height:40px; line-height:40px; text-align:center; margin:30px 0 30px 20px; background:#284a51; color:#fff;}
.update_btn:hover{ background:#244248;}

/*出生日期*/
.birth_date_box{ display:none; padding:10px 0 10px 10px; background:#fff; width:280px; border:1px solid #284a51; position:absolute; top:30px; left:0; z-index:10;}
.birth_date_box select{ float:left; width:83px; margin-right:10px;}









