@charset "utf-8";
/* CSS Document */
.icon_test{ display:inline-block; width:16px; height:16px; background:url(../Images/icon_test.png) no-repeat;}
.test_box{ margin-top:12px; overflow:hidden; zoom:1;}
.test_tit{ padding:0 0 10px 25px;height:22px;line-height:22px; border-bottom:1px solid #374760;}
.test_tit h5{ float:left; height:22px; line-height:22px; padding-bottom:8px; border-bottom:3px solid #374760; font-size:14px; color:#333;}
.test_tit h5 span{ color:#ff3300;}

.test_table{ width:100%; margin-top:5px;}
.test_table tr th,.test_table tr td{height:39px; line-height:39px; border-bottom:1px solid #d7d7d7; color:#666;}
.test_table tr th{font-weight:normal; text-align:left;}
.test_table tr th select{ height:25px; line-height:25px; padding-left:8px; border:1px solid #e4e4e4; width:140px;}
.student_name{ color:#008573;}
.downloading{ display:block; margin-top:10px; text-align:center; color:#374760;}