.treeCollspand {
	cursor: pointer;
	background: url(../Images/collspand.gif) no-repeat center;
	width: 10px;
	height: 10px;
	float: left;
	display: inline;
	margin: 0 0 0 5px;
}

.treeExpand {
	cursor: pointer;
	background: url(../Images/expand.gif) no-repeat center;
	width: 10px;
	height: 10px;
	float: left;
	display: inline;
	margin: 0 0 0 5px;
}

.panelOrg {
	overflow: hidden;
	border-top-color: #bfc4c9;
	border-right-color: #bfc4c9;
	border-bottom-color: #bfc4c9;
	border-left-color: #bfc4c9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	overflow-x: hidden;
	overflow-y: auto;
}

.i-head {
	background: #F2F6F8;
	padding: 2px 0px;
	border: #CCCCCC 1px solid;
	line-height: 25px;
}
.pop_600_New{width:600px; position:absolute; left:50%; margin-left:-300px;top:0px; background:#fff; z-index:999; }
.pop_600_New h4{ height:40px; line-height:40px; background:#1e5975; font-size:14px; color:#fff; padding-left:13px;}
.pop_400_New{  width:400px; position:absolute; left:50%; margin-left:-200px; top:0px; background:#fff; z-index:999;}
.pop_400_New h4{ height:40px; line-height:40px; background:#1e5975; font-size:14px; color:#fff; padding-left:13px;}
