<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="row" style="margin-bottom:0.5em;">
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.MicYear" ng-options="m.MicYear for m in AcademicYears">
                            <option value="">-- 请选择学年--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.GradeCode" ng-options="m.GradeName for m in GradeCodes">
                            <option value="">-- 请选择年级--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.GradeClass" ng-options="(conditionData.GradeCode.GradeBriefName + '(' + m.ClassNo.substr(2) + ')班') for m in GradeClasses">
                            <option value="">-- 请选择班级--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.GradeCourse" ng-options="m.FullName for m in GradeCourses">
                            <option value="">-- 请选择课程--</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.TestType" ng-options="m.Name for m in TestTypes">
                            <option value="">-- 请选择考试类型 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.TestLogin" ng-options="m.TestLoginNo for m in TestLogins">
                            <option value="">-- 请选择考试号 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.ScoreType" ng-options="m.name for m in ScoreTypes">
                            <option value="">-- 请选择分数类型 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.ScoreOption" ng-options="m.name for m in ScoreOptions">
                            <option value="">-- 请选择范围 --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="stat();"><span class="glyphicon glyphicon-ok"></span>统 计</button>
                    @*<button type="button" class="btn btn-default" ng-click="tryCalculate();"><span class="glyphicon glyphicon-print"></span>打 印</button>*@
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row" ng-class="{'hideTag': !haveStat}">
            <div class="col-sm-12" style="text-align:center;font-size:2em;">{{conditionData.Student.StdName}}{{conditionData.GradeCourse.FullName}}考试情况分析</div>
        </div>
        <div class="row">
            <div class="col-sm-6" ng-class="{'hideTag': !haveStat}">
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-12">班级统计结果：</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">参加考试人数</div>
                    <div class="col-sm-2">{{base.RenShu}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">班级平均分</div>
                    <div class="col-sm-2">{{base.AvgScore}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">班级最高分</div>
                    <div class="col-sm-2">{{base.MaxScore}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">班级最低分</div>
                    <div class="col-sm-2">{{base.MinScore}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">班级方差</div>
                    <div class="col-sm-2">{{base.Fangcha}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">等级A人数</div>
                    <div class="col-sm-2">{{base.ARenShu}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">等级B人数</div>
                    <div class="col-sm-2">{{base.BRenShu}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">等级C人数</div>
                    <div class="col-sm-2">{{base.CRenShu}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">等级D人数</div>
                    <div class="col-sm-2">{{base.DRenShu}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">等级E人数</div>
                    <div class="col-sm-2">{{base.ERenShu}}</div>
                </div>
                <div class="row" style="margin-bottom:0.3em;">
                    <div class="col-sm-4" style="text-align:left;">考试时间</div>
                    <div class="col-sm-6">{{base.TestTime}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="text-align:left;">任课教师</div>
                    <div class="col-sm-4">{{base.TeacherName}}</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="main1" style="height:300px;width:100%"></div>
            </div>

        </div>
        <div class="row" style="margin-top:1em;">
            <div class="col-sm-6">
                <div id="main2" style="height:300px;width:100%"></div>
            </div>
            <div class="col-sm-6">
                <div id="main3" style="height:300px;width:100%"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-class="{'hideTag': !haveStat}">
                <div class="row">
                    <div class="col-sm-12" style="text-align:center;font-size:2em;">
                        {{conditionData.GradeCode.GradeBriefName}}({{conditionData.GradeClass.ClassNoPart}})班{{conditionData.GradeCourse.FullName}}第{{conditionData.TestLogin.TestLoginNo}}次考试统计表
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"> 
                        <table class="table table-striped table-bordered" style="width:100%"> 
                            <thead>
                                <tr>
                                    <th style="width:10%;text-align:center;">比较项目</th>
                                    <th style="width:20%;text-align:center;">得分率0-0.4</th>
                                    <th style="width:10%;text-align:center;">0.4-0.6</th>
                                    <th style="width:10%;text-align:center;">0.6-0.75</th>
                                    <th style="width:10%;text-align:center;">0.75-0.85</th>
                                    <th style="width:10%;text-align:center;">0.85-1</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in data1">
                                    <td>{{item.Name}}</td>
                                    <td>{{item.S_40}}/{{item.S_Sum}}</td>
                                    <td>{{item.S_60}}/{{item.S_Sum}}</td>
                                    <td>{{item.S_75}}/{{item.S_Sum}}</td>
                                    <td>{{item.S_85}}/{{item.S_Sum}}</td>
                                    <td>{{item.S_100}}/{{item.S_Sum}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12" style="text-align:center;font-size:2em;">
                        {{conditionData.GradeCode.GradeBriefName}}({{conditionData.GradeClass.ClassNoPart}})班{{conditionData.GradeCourse.FullName}}与年级比较表
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered" style="width:100%"> 
                            <tbody>
                                <tr ng-repeat="item in data2">
                                    <td>{{item.S_0}}</td>
                                    <td>{{item.S_1}}</td>
                                    <td>{{item.S_2}}</td>
                                    <td>{{item.S_3}}</td>
                                    <td>{{item.S_4}}</td>
                                    <td>{{item.S_5}}</td>
                                    <td>{{item.S_6}}</td>
                                    <td>{{item.S_7}}</td>
                                    <td>{{item.S_8}}</td>
                                    <td>{{item.S_9}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require.config({
        packages: [
            { name: 'echarts', location: '/content/charts/echarts', main: 'echarts' },
            { name: 'zrender', location: '/content/charts/zrender', main: 'zrender' }
        ]
    });
</script>
