<!--右侧头部公告结束-->
<div class="exercise_search">
    <div class="select_condition">
        <p class="current_course">个人资料</p>
    </div>
    <div class="exercise_btn">
        <span class="sort_box">[筛选]</span>
        <a class="topic_import" ng-click="AddFile()"><em><i class="icon"></i></em><span>上传文件</span></a>
        <a href="javascript:;" ng-click="AddFolder()"><em><i class="icon"></i></em><span>新建文件夹</span></a>
        <batch-operation share-ranges="shareRanges" on-fire-remove-all="fireRemoveAll()"
                         on-fire-mobile-batch="fireMobileBatch()">
        </batch-operation>
        <p class="search_topic"><input type="text" placeholder="请输入您要搜索的关键字" ng-model="model.searchKey"><span class="icon" ng-click="filterChanged();"></span></p>
    </div>
</div>
<div class="filter_box">
    <dl class="filter_list">
        <dt>文件类型</dt>
        <dd>
            <a href="#" ng-class="{active:model.FileType==item.id}" ng-click="typeChanged(item.id);" ng-repeat="item in fileTypes"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>上传时间</dt>
        <dd>
            <a href="#" ng-class="{active:model.timeSelection==item.id}" ng-click="timeChanged(item.id);" ng-repeat="item in timePass"><span ng-bind="item.name"></span></a>
    </dl>
    <dl class="filter_list">
        <dt>使用权限</dt>
        <dd>
            <a href="#" ng-class="{active:model.ShareRange==item.id}" ng-click="shareChanged(item.id);" ng-repeat="item in shareRanges"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <span class="guanbi"><i class="icon"></i></span>
</div>
<table class="course_data">
    <thead>
        <tr>
            <th width="620">
                <div class="data_name">
                    <input type="checkbox">
                    <p>文件名称</p>
                    <i class="icon arrow"></i>
                </div>
            </th>
            <th width="120">
                <div class="data_name">
                    <p>文件格式</p>
                    <i class="icon arrow"></i>
                </div>
            </th>
            <th width="120">文件大小</th>
            <th>修改日期</th>
        </tr>
    </thead>
    <tr ng-repeat="item in folderRelations">
        <td>
            <div class="data_name">
                @*<input type="checkbox" checklist-model="checks" checklist-value="item" ng-click="checkAdd(item)">*@
                <input type="checkbox" checklist-model="checks" checklist-value="item" ng-click="checkAdd(item)">
                <folder folder-name="item.Name" folder-ext="item.Ext" on-open="folderClick(item)" on-blur="updFolderName(item)"></folder>
                <file-operation on-property="fireProperty()" on-remove="fireRemove(item)" on-return-page="returnPage(item)"
                                on-mobile="fireMobile(item)">
                </file-operation>
            </div>
        </td>
        <td ng-bind="item.RelationType==1?'文件':'文件夹'"></td>
        <td ng-bind="item.FileSize!=0?item.FileSize:''"></td>
        <td ng-bind="item.CreateTime | dateFormat"></td>
    </tr>
</table>

<div class="pop_400" ng-show="delIsShow">
    <h4>删除</h4>
    <span class="icon close_pop" ng-click="close()"></span>
    <div class="pop_wrap">
        <p class="confirm_tip">是否确定删除已选择的文件？</p>
        <div class="btn_box">
            <a class="save" ng-click="folderDelClick()">确定</a>
            <a class="cancel" ng-click="close()">取消</a>
        </div>
    </div>
</div>

<div class="pop_bg" ng-show="bgShow"></div>
<mobilefolder ng-show="mobileIsShow" on-upd-folder-mobile="updFolderMobile()" on-close="close()" mobiles="mobiles" mobile-is-show="mobileIsShow"></mobilefolder>
