<!--右侧头部公告结束-->
<div class="exercise_search">
    <div class="select_condition">
        <p class="current_course">
            <span ng-repeat="item in tabTitles" style="cursor:pointer" ng-click="tabChange(item)">
                {{item.name}}
            </span>
        </p>
    </div>
    <div class="exercise_btn">
        <a class="topic_import" dialog-show dialog-id="eIesUploader"><em><i class="icon"></i></em><span>上传文件</span></a>
        <a href="javascript:;" ng-click="AddFolder()"><em><i class="icon"></i></em><span>新建文件夹</span></a>
        <batch-operation share-ranges="shareRanges" on-fire-remove-all="fireRemoveAll()" on-fire-mobile-batch="fireMobileBatch()" />
        <p class="search_topic"><input type="text" placeholder="请输入您要搜索的关键字" ng-model="model.FileTitle"><span class="icon" ng-click="filterChanged()"></span></p>
    </div>
</div>
<div class="filter_box">
    <dl class="filter_list">
        <dt>文件类型</dt>
        <dd>
            <a href="#" ng-class="{active:model.FileType==item.id}" ng-click="typeChanged(item.id);" ng-repeat="item in fileTypes"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>上传时间</dt>
        <dd>
            <a href="#" ng-class="{active:model.timePass==item.id}" ng-click="timeChanged(item.id);" ng-repeat="item in timePass"><span ng-bind="item.name"></span></a>
    </dl>
    <dl class="filter_list">
        <dt>使用权限</dt>
        <dd>
            <a href="#" ng-class="{active:model.ShareRange==item.id}" ng-click="shareChanged(item.id);" ng-repeat="item in shareRanges"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <span class="guanbi"><i class="icon"></i></span>
</div>
<table class="course_data">
    <thead>
        <tr>
            <th width="620">
                <div class="data_name">
                    <input type="checkbox" ng-model="selectionAllToggle" ng-true-value="YES" ng-false-value="NO">
                    <p>文件名称</p>
                    <i class="icon arrow"></i>
                </div>
            </th>
            <th width="120">
                <div class="data_name">
                    <p>文件格式</p>
                    <i class="icon arrow"></i>
                </div>
            </th>
            <th width="120">文件大小</th>
            <th>修改日期</th>
        </tr>
    </thead>
    <tr ng-repeat="item in folderRelations">
        <td>
            <div class="data_name">
                @*<input type="checkbox" checklist-model="checks" checklist-value="item" ng-click="checkAdd(item)">*@
                <input type="checkbox" checklist-model="checks" checklist-value="item">
                <folder folder-name="item.Name" folder-ext="item.Ext" on-open="folderClick(item)" on-blur="updFolderName(item)"></folder>
                <div class="file_operation">
                    <div class="more_operation">
                        <span>...</span>
                        <file-operation on-property="fileProperty(item)"
                                        on-remove="fireRemove(item)"
                                        on-return-page="returnPage(item)"
                                        on-mobile="fireMobile(item)"
                                        folder-relation="item"
                                        share-ranges="shareRanges">
                        </file-operation>

                    </div>
                </div>
            </div>
        </td>
        <td ng-bind="item.RelationType==1?'文件':'文件夹'"></td>
        <td ng-bind="item.FileSize!=0?item.FileSize:''"></td>
        <td ng-bind="item.CreateTime | dateFormat"></td>
    </tr>
</table>


<div class="pop_400" ng-show="delIsShow">
    <h4>删除</h4>
    <span class="icon close_pop" ng-click="close()"></span>
    <div class="pop_wrap">
        <p class="confirm_tip">是否确定删除已选择的文件？</p>
        <div class="btn_box">
            <a class="save" ng-click="folderDelClick()">确定</a>
            <a class="cancel" ng-click="close()">取消</a>
        </div>
    </div>
</div>

<div class="pop_bg" ng-show="bgShow"></div>

@*<move-folder ng-show="moveShow" on-move-file="moveFileSubmit()" on-selected-move="selectedMove()"
    on-close="close()" files="files"></move-folder>*@
<div class="pop_400" ng-show="moveShow">
    <h4>移动文件</h4>
    <span class="icon close_pop" ng-click="close()"></span>
    <div class="pop_wrap">
        <dl class="folder">
            <dd>
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content" ng-click="selectedMove(node)" ng-class="{mobileSelected:node.Id==folder.Id}">
                        <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
                            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                        </a>
                        <font ng-bind="node.Name"></font>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.Children" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.Children" nodrag ui-tree-node ng-include="'nodes_renderer.html'">
                        </li>
                    </ol>
                </script>
                <div ui-tree id="tree-root">
                    <ol ui-tree-nodes="" ng-model="mobile">
                        <li ng-repeat="node in files" nodrag ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </dd>
        </dl>
        <div class="btn_box">
            <a class="save" ng-click="moveFileSubmit()">确定</a>
            <a class="cancel" ng-click="close()">取消</a>
        </div>
    </div>
</div>

<file-property id="fileProp" style="display:none" chapter="chapter" chapters="chapters" ken="ken" kens="kens"></file-property>

<ies-file-uploader id="eIesUploader" style="display:none"
                   upload-url="/DataProvider/FileUpload.ashx/?FROM=1&FolderID={{folderRelation ? folderRelation.Id : 0}}&OCID={{model.OCID}}&CourseID={{model.CourseID}}&ShareRange=-1" />
