<!--右侧头部公告结束-->
<div class="exercise_search">
    <div class="select_condition">
        <p class="current_course">个人资料</p>
    </div>
    <div class="exercise_btn">
        <span class="sort_box">[筛选]</span>
        <a class="topic_import" ng-click="AddFile()"><em><i class="icon"></i></em><span>上传文件</span></a>
        <a href="javascript:;" ng-click="AddFolder()"><em><i class="icon"></i></em><span>新建文件夹</span></a>
        <batch-operation share-ranges="shareRanges" on-fire-remove-all="fireRemoveAll()"
                         on-fire-mobile-batch="fireMobileBatch()">
        </batch-operation>
        <p class="search_topic"><input type="text" placeholder="请输入您要搜索的关键字" ng-model="model.searchKey"><span class="icon" ng-click="filterChanged();"></span></p>
</div>
</div>
<div class="filter_box">
    <dl class="filter_list">
        <dt>文件类型</dt>
        <dd>
            <a href="#" ng-class="{active:model.FileType==item.id}" ng-click="typeChanged(item.id);" ng-repeat="item in fileTypes"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>上传时间</dt>
        <dd>
            <a href="#" ng-class="{active:model.timeSelection==item.id}" ng-click="timeChanged(item.id);" ng-repeat="item in timePass"><span ng-bind="item.name"></span></a>
    </dl>
    <dl class="filter_list">
        <dt>使用权限</dt>
        <dd>
            <a href="#" ng-class="{active:model.ShareRange==item.id}" ng-click="shareChanged(item.id);" ng-repeat="item in shareRanges"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <span class="guanbi"><i class="icon"></i></span>
</div>
<table class="course_data">
    <thead>
        <tr>
            <th width="620">
                <div class="data_name">
                    <input type="checkbox">
                    <p>文件名称</p>
                    <i class="icon arrow"></i>
                </div>
            </th>
            <th width="120">
                <div class="data_name">
                    <p>文件格式</p>
                    <i class="icon arrow"></i>
                </div>
            </th>
            <th width="120">文件大小</th>
            <th>修改日期</th>
        </tr>
    </thead>
    <tr ng-repeat="item in folderRelations">
        <td>
            <div class="data_name">
                <input type="checkbox" checklist-model="checks" checklist-value="item" ng-click="checkAdd(item)">
                <folder folder-name="item.Name" folder-ext="item.Ext" on-open="folderClick(item)" on-blur="updFolderName(item)"></folder>
                <file-operation on-property="fireProperty()" on-remove="fireRemove(item)" on-return-page="returnPage(item)"
                                on-mobile="fireMobile(item)">
                </file-operation>
            </div>
        </td>
        <td ng-bind="item.RelationType==1?'文件':'文件夹'"></td>
        <td ng-bind="item.FileSize!=0?item.FileSize:''"></td>
        <td ng-bind="item.CreateTime | dateFormat"></td>
    </tr>
</table>

<div class="pop_400"  ng-show="delIsShow">
    <h4>删除</h4>
    <span class="icon close_pop" ng-click="close()"></span>
    <div class="pop_wrap">
        <p class="confirm_tip">是否确定删除已选择的文件？</p>
        <div class="btn_box">
            <a class="save" ng-click="folderDelClick()">确定</a>
            <a class="cancel" ng-click="close()">取消</a>
        </div>
    </div>
</div>

<div class="pop_bg" ng-show="bgShow"></div>
<div class="pop_400" ng-show="mobileIsShow" >
    <h4>移动文件</h4>
    <span class="icon close_pop" ng-click="close()"></span>    
    <div class="pop_wrap">
        <dl class="folder">
            @*<dt>文件夹</dt>*@
            <dd>
                @*<div class="select_box">
                        <input type="text" placeholder="请选择">
                        <span></span>
                    </div>*@
                <script type="text/ng-template" id="nodes_renderer.html">                    
                    <div ui-tree-handle class="tree-node tree-node-content" ng-click="selectedMobile(node)" ng-class="{mobileSelected:node.Id==folder.Id}">
                        <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
                            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                        </a>
                        <font ng-bind="node.Name"></font>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.Children" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.Children" nodrag ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)">
                        </li>
                    </ol>
                </script>
                <div ui-tree id="tree-root">
                    <ol ui-tree-nodes="" ng-model="mobile">
                        <li ng-repeat="node in mobiles" nodrag ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
                    </ol>
                </div>





                @*<div ui-tree id="tree-root">
                        <ol ui-tree-nodes="" ng-model="data">
                            <li ng-repeat="node in mobiles" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
                        </ol>
                    </div>
                    <script type="text/ng-template" id="nodes_renderer.html">
                        <div ui-tree-handle class="tree-node tree-node-content">
                            <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                            {{node.FolderName}}
                            <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <ol ui-tree-nodes="" ng-model="node.Children" ng-class="{hidden: collapsed}">
                            <li ng-repeat="node in node.Children" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)">
                            </li>
                        </ol>
                    </script>*@

                @*<ul class="folder_list">
                        <li class="active"><a class="first_folder" href="#">文件夹名称</a></li>
                        <li>
                            <a class="first_folder" href="#">文件夹名称</a>
                            <ul class="second_folder">
                                <li>
                                    <a href="#">二级文件夹名称</a>
                                </li>
                                <li><a href="#">二级文件夹名称</a></li>
                                <li><a href="#">二级文件夹名称</a></li>
                            </ul>
                        </li>
                        <li><a class="first_folder" href="#">文件夹名称</a></li>
                        <li><a class="first_folder" href="#">文件夹名称</a></li>

                        <li ng-repeat="item in mobiles" ng-include="'mobile_renderer.html'" on-finish-repeat>
                                <a class="first_folder" href="#" ng-bind="item.FolderName"></a>
                            </li>
                    </ul>*@
            </dd>
        </dl>
        <div class="btn_box">
            <a class="save" ng-click="updFolderMobile()">确定</a>
            <a class="cancel" ng-click="close()">取消</a>
        </div>
    </div>
</div>

@*<script type="text/ng-template" id="mobile_renderer.html">
        <a class="first_folder" href="#" ng-bind="item.FolderName"></a>
        <ul class="second_folder">
            <li ng-repeat="secondItem in item.Children"><a href="#" ng-bind="secondItem.FolderName"></a></li>
        </ul>
    </script>*@


@*<script>
        $('.select_box').live('click', function () {
            if (!$(this).hasClass('click')) {
                $(this).addClass('click');
                $('.folder_list').show();
            } else {
                $(this).removeClass('click');
                $('.folder_list').hide();
            }

        });

        $('.folder_list li').hover(function () {
            $(this).addClass('active').siblings().removeClass('active');
        }, function () {
            $(this).removeClass('active');
        });
    </script>*@

@*<script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
            {{node.title}}
            <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)">
            </li>
        </ol>
    </script>
    <div ui-tree id="tree-root">
        <ol ui-tree-nodes="" ng-model="data">
            <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
        </ol>
    </div>*@


@*<div class="pop_bg"></div>
    <div class="pop_400">
        <h4>移动资料</h4>
        <span class="icon close_pop"></span>
        <div class="pop_wrap">
            <dl class="set_property">
                <dt>移动资料</dt>
                <dd>
                    <script type="text/ng-template" id="nodes_renderer.html">
                        <div>
                            <select ng-model="item.items" ng-options="item.FolderName for item in item.items" ng-include="'nodes_renderer.html'"></select>
                        </div>
                    </script>
                    <div>
                        <select ng-model="mobiles" ng-options="item.FolderName for item in mobiles" ng-include="'nodes_renderer.html'"></select>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="btn_box">
            <a style="cursor:pointer" ng-click="mobileClick()" class="save">保存</a>
            <a href="javascript:;" class="cancel">取消</a>
        </div>
    </div>*@

<script src="/Scripts/PageAffect/index.js" type="text/javascript"></script>
