<div class="exercise_nav">
    <ul class="exercise_nav_list">
        <li ng-repeat="item in tabs"><a class="first_nav" href="#" style="cursor:pointer" ng-click="tabChanged(item.id);" ng-bind="item.Name"></a></li>
    </ul>
</div>
<div class="exercise_search">
    <div class="select_condition">
        <p class="current_course">我的习题</p>
    </div>
    <div class="exercise_btn">
        <span class="sort_box">[筛选]</span>
        <a href="javascript:;" class="topic_import">
            <em><i class="icon"></i></em>
            <span>新建试卷</span>
            <ul class="batch_list">
                <li>智能型试卷</li>
                <li>答题卡试卷</li>
                <li>自测型试卷</li>
            </ul>
        </a>
        <a href="javascript:;" class="import_exercise"><em><i class="icon"></i></em><span>导出</span></a>
        <p class="search_topic"><input type="text" placeholder="请输入您要搜索的关键字"><span class="icon" href="#"></span></p>
    </div>
</div>
<div class="filter_box">
    <dl class="filter_list">
        <dt>文件类型</dt>
        <dd>
            <a href="#" ng-class="{active:fileSelection==item.id}" ng-click="typeChanged(item.id);" ng-repeat="item in fileTypes"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>上传时间</dt>
        <dd>
            <a href="#" ng-class="{active:timeSelection==item.id}" ng-click="timeChanged(item.id);" ng-repeat="item in timePass"><span ng-bind="item.name"></span></a>
    </dl>
    <dl class="filter_list">
        <dt>创建人</dt>
        <dd>
            <a href="#" ng-class="{active:shareSelection==item.id}" ng-click="shareChanged(item.id);" ng-repeat="item in shareRange"><span ng-bind="item.name"></span></a>            
        </dd>
    </dl>
    <span class="guanbi"><i class="icon"></i></span>
</div>
<table class="course_data paper_data">
    <tr>
        <th width="350">
            <div class="data_name">
                <input type="checkbox">
                <p>试卷名称</p>
                <i class="icon arrow"></i>
            </div>
        </th>
        <th width="100">创建人</th>
        <th width="120">试卷类型</th>
        <th width="90">题目数</th>
        <th width="80">总分</th>
        <th>最后修改日期</th>
    </tr>
    <tr>
        <td>
            <div class="data_name">
                <input type="checkbox">
                <i class="icon_24 paper"></i>
                <p>测试试卷</p>
            </div>
        </td>
        <td>张明宇</td>
        <td>智能型试卷</td>
        <td>50</td>
        <td>100</td>
        <td>
            2014-10-23
            <div class="topic_icon">
                <a href="javascript:;" class="icon delete_topic"></a>
                <a href="javascript:;" class="icon icon_preview">
                    <div class="icon_content">
                        <span></span><p>预览</p>
                    </div>
                </a>
                <a href="javascript:;" class="icon edit_topic"></a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="data_name">
                <input type="checkbox">
                <i class="icon_24 paper"></i>
                <p>测试试卷</p>
            </div>
        </td>
        <td>张明宇</td>
        <td>智能型试卷</td>
        <td>50</td>
        <td>100</td>
        <td>
            2014-10-23
            <div class="topic_icon">
                <a href="javascript:;" class="icon delete_topic"></a>
                <a href="javascript:;" class="icon icon_preview">
                    <div class="icon_content">
                        <span></span><p>预览</p>
                    </div>
                </a>
                <a href="javascript:;" class="icon edit_topic"></a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="data_name">
                <input type="checkbox">
                <i class="icon_24 paper"></i>
                <p>测试试卷</p>
            </div>
        </td>
        <td>张明宇</td>
        <td>智能型试卷</td>
        <td>50</td>
        <td>100</td>
        <td>
            2014-10-23
            <div class="topic_icon">
                <a href="javascript:;" class="icon delete_topic"></a>
                <a href="javascript:;" class="icon icon_preview">
                    <div class="icon_content">
                        <span></span><p>预览</p>
                    </div>
                </a>
                <a href="javascript:;" class="icon edit_topic"></a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="data_name">
                <input type="checkbox">
                <i class="icon_24 paper"></i>
                <p>测试试卷</p>
            </div>
        </td>
        <td>张明宇</td>
        <td>智能型试卷</td>
        <td>50</td>
        <td>100</td>
        <td>
            2014-10-23
            <div class="topic_icon">
                <a href="javascript:;" class="icon icon_preview"></a>
            </div>
        </td>
    </tr>
</table>
