

<link href="~/Css/reverse.css" rel="stylesheet" />


<div class="main_content" ng-controller="FCController">
    <div class="classroom_box" ng-model="select">
        @*<select class="classroom_time" ng-model="termSelect" ng-change="termSelect_change()">
                <option value="">全部</option>
                <option ng-repeat="termInfo in termInfoList" value="{{termInfo.term}}">{{termInfo.term.TermYear}}学年{{termInfo.termTypeName}}</option>
            </select>*@
        <a class="add_classroom"  href="step1?FCID=0"><em><i class="icon_con icon_add"></i></em><span>新增翻转课堂</span></a>
    </div>
    <div class="reverse_course_box" ng-repeat="fc in fclist">
        <div class="reverse_course_list">
            <div class="course_intro">
                <div class="course_intro_l">
                    <h5>{{OCName}}翻转课程</h5>
                    <p><i>总进度：</i><span class="learning_progress"><em></em></span><b>48%</b></p>
                    <p>教学班：{{fc.FCTeachingClassNames}}</p>
                    @*<classlist ng-model="fc"></classlist>*@
                </div>
                <div class="course_intro_r">
                    <img src="http://placehold.it/250x90/cccccc" width="250" height="90" />
                    <p>开始日期：{{fc.StartDate | dateFormat}}<br>总学生数：{{fc.FCStudentCount}}<br>总小组数：{{fc.FCLiveGroupCount}}</p>
                </div>
            </div>

            <div class="course_detail" id="cd_{{fc.FCID}}">
                <ul class="course_item">
                    <li ng-class="courseClass"><a ng-click="Type_Click('course')">线上内容</a><img src="../../images/dian.png" width="9" height="9" alt=""></li>
                    <li ng-class="offClass"><a ng-click="Type_Click('off')">线下课堂</a></li>
                    @*<li><a href="javascript:;">学生评分</a></li>*@
                </ul>
                <div class="item_detail" style="display:block;">
                    <div ng-show="coursebox">
                        <div class="group_learning">
                            <div class="progress_tit">
                                <p>小组学习进度@*<a href="javascript:;">[督促] 暂时不做</a>*@</p>
                                <span class="groups"><i class="label_gray"></i>番茄组</span>
                                <span class="groups"><i class="label_red"></i>南瓜组</span>
                            </div>
                            <ul class="progress_bar">
                                <li class="bar_red" style="width:100%;" ng-repeat="group in fcInfo.GroupList">
                                    <div class="group_detail">
                                        <p>{{fc.group.Name}}</p>
                                        <span class="learning_time">时长：03:34:00</span>
                                        <span class="progress_num">进度：67%</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="item_detail_r">
                            <div class="tip_box">
                                <p>您有<span>3</span>份待批作业</p>
                                <a href="javascript:;">[批阅]</a>
                            </div>
                            <div>
                                <div class="topic_tit">
                                    <a class="check_all" href="javascript:;"><em><i class="icon_r icon_search"></i></em><span>查看全部</span></a>
                                    <p><b>论题互动</b><span>最活跃：南瓜组</span>，最潜水：白菜组</p>

                                </div>
                                <ul class="topic_list">
                                    <li ng-repeat="live in fcInfo.FCLiveList">
                                        <p class="topic_theme">{{live.Title}}<span> 回复：{{live.Responses}}</span></p>
                                        <div class="topic_detail">
                                            <img src="http://placehold.it/50x50/cccccc" width="50" height="50" />
                                            <div class="topic_detail_r">
                                                <span class="user_reply">{{live.LastUserName}}<b>{{live.LastUpdateTime | dateFormat}}</b></span>
                                                <p>{{live.LastContent}}</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div ng-show="offbox" class="off_box">
                        <div class="off_tit">
                            <p>已完成<b>3</b>/5次线下课堂，总出勤率<b>89%</b></p>
                            <span>出勤率最差小组：菠菜组，黄瓜组</span>
                        </div>
                        <div class="attend_box">
                            <ul class="timetable">
                                <li><i class="icon_r icon_complete"></i><br>8-15<br>周五</li>
                                <li><i class="icon_r icon_complete"></i><br>8-27<br>周五</li>
                                <li><a href="javascript:;">[导入]</a><br>8-31<br>周五</li>
                                <li>-<br>9-29<br>周一</li>
                                <li><br>10-13<br>周二</li>
                            </ul>
                            <div class="attend_detail">

                                <div class="off_course" ng-repeat="offline in fcInfo.FCOfflineList">
                                    <p class="course_name">
                                        <span ng-if="offline.Status == 1" class="not_started">未开始：</span>
                                        <span ng-if="offline.Status == 2" class="not_started">进行中：</span>
                                        <span ng-if="offline.Status == 3" class="ended">已结束：</span>
                                        <b>{{offline.Title}}</b> 
                                        {{offline.StartTime | dateFormatAll}}
                                    </p>
                                    <p class="course_info">授课教师：{{offline.UserName}}  |  助教：{{offline.AssUserName}}  |  授课地点：{{offline.Address}}</p>
                                    <p class="course_intro">{{offline.Brief}}</p>
                                    <div class="attach_box" ng-if="false">
                                        <a class="attach_name" href="javascript:;">附件2</a>
                                        <ul class="attach_file">
                                            <li><img src="http://placehold.it/90x55/cccccc" width="90" height="55" /></li>
                                            <li>
                                                <p><i class="icon_24 excel"></i><br>重大IES问题.xlsx</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="edit_btn" ng-if="offline.Status == 1">
                                        <i class="icon icon_shanchu"></i>
                                        <i class="icon icon_write"></i>
                                    </p>
                                    <div class="attendence" ng-if="offline.Status == 3">
                                        <div class="import_box">
                                            <a href="javascript:;" ng-mousemove="Import_but_move()" ng-mouseleave="Import_but_over()"><em><i class="icon_r daoru"></i></em><span>导入出勤名单</span></a>
                                            <a class="download_name" ng-mousemove="Import_but_move()" ng-mouseleave="Import_but_over()" href="javascript:;" ng-show="Down_Excel_but"><em><i class="icon_r xiazai"></i></em><span>下载导入格式</span></a>
                                        </div>
                                        <p>出勤率：<span>80%</span></p>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="reverse_unfold" ng-click="Up_Down(fc.FCID)" id="unfold_{{fc.FCID}}">展开 ∨</div>

    </div>


</div>