@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
    //Layout = null;
}



<div class="main_wrap" ng-controller="FCControllerStep1">
    <h2>《国际英语》 翻转课堂 > 设计向导</h2>
    <div class="step_nav_box">
        <ul class="step_nav">
            <li class="index4 active"><a href="#">1.线上内容设置</a></li>
            <li class="index3"><a href="#">2.班级学生分组</a></li>
            <li class="index2"><a href="#">3.线下课堂设置</a></li>
            <li class="index1"><a href="#">4.学生评分设置</a></li>
        </ul>
        <div class="create_box">
            <a href="#">如何创建翻转课堂？</a>
            <a class="learning_descrip" role="button" data-toggle="modal"  data-backdrop="static" href="#myModal"><em><i class="icon_r shuoming"></i></em><span>输入学习说明</span></a>

            <div id="myModal" class="modal hide fade" style="width:400px" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h3 id="myModalLabel">学习说明</h3>
                </div>
                <div style='padding:10px 18px;overflow:hidden; zoom:1;'>
                    <textarea class="learning_box" ng-model="fc.Brief" placeholder="请输入学习说明"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button class="btn btn-primary" ng-click="OCSiteColumn_Edit()" data-dismiss="modal">保存</button>
                </div>
            </div>

        </div>
    </div>
    <div class="main_box">
        <div class="time_box">
            <label>学习起止时间：</label>
            <p>
                @*<input  type="text"  class="Wdate" onfocus="WdatePicker({dateFmt:'yyyy年MM月dd日 HH时mm分ss秒'})" >*@
                <input id="start" class="laydate-icon" ng-value="fc.StartDate | dateFormat" />
            </p>
            <span>~</span>
            <p>
                <input id="end" class="laydate-icon" ng-value="fc.EndDate | dateFormat" />
            </p>
            <b class="red">*</b>
        </div>
        <div class="content_box">
            <!--资料学习 开始-->
            <div class="item_box">
                <div class="item_tit">
                    <h5>资料学习</h5>
                    <a class="upload_data" href="javascript:;"><em><i class="icon_mooc upload"></i></em><span>上传新资料</span></a>
                    <p>资料：{{fc.FCFileCount}}（必读：{{fc.FCFileMustCount}}）</p>
                </div>
                <div class="fold_btn click" ng-click="file_data_click()" style="cursor:pointer">[{{file_data_show}}]</div>
                <p class="tip_set"><input type="checkbox">间隔<input class="time_set" type="text" ng-model="fc.PopTime" value="10" />分钟弹出学习提示</p>
            </div>
            <table class="data_table" style="display:table;" ng-show="file_data">
                <tr ng-repeat="file in fcfilelist">
                    <td width="24"></td>
                    <td width="710"><p class="file_name"><i class="icon_24" ng-class="file.Ext"></i>{{file.FileTitle}}</p></td>
                    <td>
                        <div class="learning_during">
                            <p ng-if="file.TimeLength>0">视频时长：{{file.TimeLength_Form}}</p>
                            <p ng-if="file.TimeLength<0">学时<input type="text" ng-model="file.Time"><span>（分钟）</span></p>
                            <i class="icon_mooc delete" ng-click="OCFCFileDelete(file)"></i>
                            <i class="icon_mooc flag" ng-click="OCFCFileMust(file)"></i>
                        </div>
                    </td>
                </tr>
                
            </table>
            <!--资料学习 结束-->
            <!--作业测试 开始-->
            <div class="item_box">
                <div class="item_tit">
                    <h5>作业测试</h5>
                    <a class="upload_data" href="javascript:;"><em><i class="icon_con icon_add"></i></em><span>新增作业</span></a>
                    <p>作业：{{fc.FCExamCount}}</p>
                </div>
                <div class="fold_btn click" ng-click="exam_click()" style="cursor:pointer">[{{exam_show}}]</div>
            </div>
            <table class="data_table" style="display:table;" ng-show="exam_data">
                <tr>
                    <td width="24"></td>
                    <td width="310"><p class="zuoye">提交一份阅读评论</p></td>
                    <td width="400"><p class="deadline">作业截止周：第3周</p></td>
                    <td>
                        <div class="learning_during">
                            <p>题目数量：1</p>
                            <i class="icon_mooc delete"></i>
                            <i class="icon_mooc pen"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="24"></td>
                    <td width="310"><p class="zuoye">知识点的掌握程度练习</p></td>
                    <td width="400"><p class="deadline">作业截止周：第3周</p></td>
                    <td>
                        <div class="learning_during">
                            <p>题目数量：1</p>
                            <i class="icon_mooc delete"></i>
                            <i class="icon_mooc pen"></i>
                        </div>
                    </td>
                </tr>

            </table>
            <!--作业测试 结束-->
            <!--论题互动 开始-->
            <div class="item_box">
                <div class="item_tit">
                    <h5>论题互动</h5>
                    <a class="upload_data" href="javascript:;"><em><i class="icon_con icon_add"></i></em><span>新增讨论主题</span></a>
                    <p>讨论主题：{{fc.FCLiveCount}}</p>
                </div>
                <div class="fold_btn click" ng-click="live_click()" style="cursor:pointer">[{{live_show}}]</div>
            </div>
            <table class="data_table" style="display:table;" ng-show="live_data">
                <tr ng-repeat="live in fclivelist">
                    <td width="24"></td>
                    <td width="310"><p class="anli">{{live.Title}}</p></td>
                    <td width="520">
                        <p class="tips">
                            {{live.Conten}}
                        </p>
                    </td>
                    <td>
                        <div class="learning_during">
                            <i class="icon_mooc delete"></i>
                            <i class="icon_mooc pen"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="24"></td>
                    <td width="310"><p class="theme_box"><input type="text" placeholder="输入讨论主题"><b class="red">*</b></p></td>
                    <td width="520"><input type="text" class="require_box" placeholder="输入说明或要求"></td>
                    <td>
                        <div class="learning_during">
                            <i class="icon_mooc delete"></i>
                            <i class="icon_mooc pen"></i>
                        </div>
                    </td>
                </tr>
            </table>
            <!--论题互动 结束-->
        </div>
        <div class="btn_box">
            <a class="cancel" href="javascript:;">预览</a>
            <a class="save" href="javascript:;">保存</a>
            <a class="keep" href="javascript:;">保存并进入下一步</a>
        </div>

    </div>
</div>

<link href="~/Css/reverse.css" rel="stylesheet" />