@{
    Layout = null;
}

<!DOCTYPE html>
<script charset="utf-8"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <input type="file" />
    </div>
</body>
</html>
