<div>
    <div class="pop_bg"></div>
    <div class="pop_400">
        <h4>添加章节</h4>
        <span class="icon close_pop" ng-click="onCancel()"></span>
        <div class="pop_wrap">
            <div class="add_knowledge">
                <div class="point_box">
                    <label>章节名称</label>
                    <input type="text" ng-model="chapter" required>
                </div>
                <div class="point_box">
                    <label>关联知识点</label>
                    <select ng-model="knowledge" ng-options="item.Name for item in knowledges"></select> 
                </div>
                <div class="point_box">
                    <label>重要程度</label>
                    <select ng-model="importance" ng-options="item.name for item in importances"></select>
                </div>
            </div>
            <div class="btn_box">
                <a id="btnSaveNew" href="javascript:;" class="save" ng-click="onSaveNew()">确定并继续</a>
                <a id="btnSave" href="javascript:;" class="save" ng-click="onSave()">保存</a>
                <a id="btnCancel" href="javascript:;" class="cancel" ng-click="onCancel()">取消</a>
            </div>
        </div>
    </div>
</div>