<ul class="attach_list">
    <li ng-repeat="item in attachments">
        <a ng-click="remove(item)">删除</a>
        <p> 
            <i class="icon_24" file-ext ext="{{item.FileName.substring(item.FileName.lastIndexOf('.'))}}" ng-click="onOpen();"></i>
            <!--<file-icon icon-type="item.FileExtType" relation-type="1" ng-click="onOpen();"></file-icon>-->
            <a ng-href="{{item.DownURL}}" target="_blank" style="float:left; margin-left:0px;">
                {{item.Title}}
            </a>
        </p>
    </li>
</ul>