<li>
    <a class="first_chapter" ng-class="{'chapterSelected':chapterItem.ChapterID==chapterSelectedItem.ChapterID}">
        <p ng-bind="chapterItem.Title" ng-click="chapterSelected()"></p>
        <i class="icon fold_btn"></i>
        <span class="edit_box" ng-class="{'hideAuth': !hasChapterAuth}"><em class="icon btn_box_edit" ng-click="edit(chapterItem)"></em><span>编辑</span></span>
        <span class="add_box" ng-class="{'hideAuth': !hasChapterAuth}" ng-click="willAddSection(chapterItem, items)"><em class="icon btn_add"></em> <span>增加小节</span></span>
    </a>
    <ul class="second_item"> 
        <li ng-class="{'active': child.ChapterID===childChapter.ChapterID}" ng-repeat="child in items | parentID:chapterItem.ChapterID | orderBy:'Orde'" ng-click="childSelected(child)">
            <a class=" first_chapter">
                <p ng-bind="child.Title"></p>
                <span class="edit_box" style="right:4px;" ng-class="{'hideAuth': !hasChapterAuth}">
                    <em class="icon btn_box_edit" ng-click="edit(child)"></em>
                    <span>编辑</span>
                </span>
            </a>
        </li>
    </ul>
</li>