<li class="show">
    <div class="topic_label">
        <p class="question_degree simple" ng-class="{'simple':exercise.Diffcult==1,'medium':exercise.Diffcult==2,'difficult':exercise.Diffcult==3}"><input type="checkbox" checklist-model="checks" checklist-value="exercise">{{getDifficultName(exercise)}}</p>
        <div class="label_list">
            <a href="#"><span ng-bind="exercise.Keys | keyReplace"></span></a>
        </div>
        <div style="text-align: right;padding-right:80px;" class="creator">
            创建人：{{exercise.CreateUserName}}<span>最后修改时间：{{exercise.UpdateTime | dateFormat}}</span>
        </div>
    </div>
    <div class="topic_tit">
        <h5>
            <span>[{{getExerciseType(exercise)}}]</span>
            <span style="color: #a1a1a1">{{getShareRange(exercise)}}</span>
        </h5>
        <div class="question" ng-bind-html="exercise.Conten">
        </div>
        <!--<p class="answer" ng-bind-html="exercise.Answer">
        </p>-->
    </div>
    <div class="mess_box">
        <a class="icon_24 spread" ng-click="preView(exercise)"></a>
    </div>
    <div class="topic_icon"> 
         <a ng-click="editExercise(exercise)" class="icon edit_topic">
            <div class="icon_content" style="display:none;">
                <span></span><p>预览</p>
            </div>
        </a>
        <a class="icon delete_topic" ng-click="deleteExercise(exercise)">
            <div class="icon_content" style="display:none;">
                <span></span><p>删除</p>
            </div>
        </a>
        <a class="icon share_topic">
            <div class="icon_share_content" style="display:none;">
                <span></span>
                <p ng-repeat="item in shareRanges" ng-click="shareExercise(exercise, item)">{{item.name}}</p>
            </div>
        </a>
        <a ng-click="editExercise(exercise)" class="icon edit_topic">
            <div class="icon_content" style="display:none;">
                <span></span><p>编辑</p>
            </div>
        </a> 
    </div>
</li>