<div class="pop_exercise_import" style="display:block">
    <h4>文件导入</h4>
    <span class="icon close_pop"></span>
    <div class="pop_box">
        <div class="options_box">
            <div class="options_list">
                <label><b class="red">*</b>选择导入题型：</label>
                <select>
                    <option>单选题</option>
                    <option>多选题</option>
                    <option>单选题</option>
                </select>
                <a class="muban_btn" href="javascript:;">[导入模板下载]</a>
            </div>
            <div class="options_list">

                <!--                <label><b class="red">*</b>导入文件：</label>-->
                <div nv-file-drop uploader="iesUploader" url="uploadUrl">
                    <input type="file" id="file" nv-file-select="" uploader="iesUploader" style="display:none;" multiple />
                    <a class="scan_btn" onclick="$('#file').click()" ng-disabled="!iesUploader.getNotUploadedItems().length">导入文件</a>
                    <!--
                                        <div class="col-md-12">
                                                                   <h3 style="font-size:20px;">上传队列</h3>
                                                                   <p>已选择文件: {{ iesUploader.queue.length }}</p>
                                            <table class="table" style="width:100%;height:120px;"
                                                <thead>
                                                    <tr>
                                                        <th width="50%">文件名</th>
                                                        <th ng-show="iesUploader.isHTML5">大小</th>
                                                        <th ng-show="iesUploader.isHTML5">进度</th>
                                                        <th>操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="width:100%;height:120px; overflow:auto;">
                                                    <tr ng-repeat="item in iesUploader.queue">
                                                        <td><strong>{{ item.file.name }}</strong></td>
                                                        <td ng-show="iesUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                        <td ng-show="iesUploader.isHTML5">
                                                            <div class="progress" style="margin-bottom: 0;">
                                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                            </div>
                                                        </td>
                                                        <td nowrap>
                                                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                                上传
                                                            </button>
                                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                                取消
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                                移除
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>-->

                </div>
            </div>
        </div>

        <div class="test_box">
            <div class="test_tit">
                <h5>导入文件数据验证</h5>
            </div>
            <div class="table_box">
                <table class="data_table">
                    <tr>
                        <th width="79">序号</th>
                        <th width="119">异常数据位置</th>
                        <th width="299">异常原因</th>
                        <th>结果</th>
                    </tr>
                </table>
                <div class="loading_box"></div>
            </div>
        </div>


        <div class="test_box" style="display:none;">
            <div class="test_tit">
                <h5>导入文件数据验证</h5>
                <p>异常数据：<span class="red">34</span>条　｜　成功数据：<span class="green">5837</span>条</p>
            </div>
            <div class="table_box">
                <table class="data_table">
                    <tr>
                        <th width="79">序号</th>
                        <th width="119">异常数据位置</th>
                        <th width="299">异常原因</th>
                        <th>结果</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>第23行</td>
                        <td>习题选项，习题名称有异常</td>
                        <td><span class="red">无法导入</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>第23行</td>
                        <td>习题选项，习题名称有异常</td>
                        <td><span class="red">无法导入</span></td>
                    </tr>
                </table>
            </div>
        </div>

        <!--<div class="btn_box">
            <a class="save" href="javascript:;">导入</a>
            <a class="cancel" href="javascript:;">取消</a>
        </div>-->
    </div>
</div>