<ul class="mouse_right">
    <li ng-click="onProperty()" ng-show="folderrelation.RelationType==1"><p><i class="icon data_property"></i>资料属性</p></li>
    <li bg-class="pop_bg" pop-class="pop_400" cancel-class="cancel" ng-click="onMobile()">
        <p><i class="icon data_move"></i>移动资料</p>
    </li>
    <li ng-click="onDownload()"><p><i class="icon data_download"></i>下载资料</p></li>
    <li ng-click="onRemove()"><p><i class="icon data_remove"></i>删除资料</p></li>
    <li> 
        <p><i class="icon data_share"></i>浏览权限</p>
        <ul class="permissions">
            <li class="current"><p><i class="icon"></i>全校师生</p></li>
            <li><p><i class="icon"></i>课程学生</p></li>
            <li><p><i class="icon"></i>社会大众</p></li>
            <li><p><i class="icon"></i>关闭开放</p></li>
        </ul>
    </li>
</ul>