<div class="file_operation">
    <div class="more_operation">
        <span>...</span>
        <ul class="mouse_right">
            <!--<li ng-click="onProperty()"><p><i class="icon data_property"></i>资料属性</p></li>-->
            <li bg-class="pop_bg" pop-class="pop_400" cancel-class="cancel" ng-click="onMobile()">
                <p><i class="icon data_move"></i>移动资料</p>
            </li>
            <!--<li ng-click="onRename()"><p><i class="icon data_rename"></i>重命名</p></li>-->
            <li ng-click="onDownload()"><p><i class="icon data_download"></i>下载资料</p></li>
            <li ng-click="onVideo()"><p><i class="icon video"></i>视频剪辑</p></li>
            <li ng-click="onRemove()"><p><i class="icon data_remove"></i>删除资料</p></li>
        </ul>
    </div>
    <a class="icon data_move" style="cursor:pointer" ng-click="onReturnPage(item)"></a>
    <!--<a class="icon data_share" href="javascript:;"></a>-->
    <a class="icon data_share" id="youlan"></a>
    <ul class="permissions" style="margin-left:33em;margin-top:2em;">
        <li ng-repeat="item in shareRanges">
            <p><i class="icon"></i>{{item.name}}</p>
        </li>
    </ul>

</div>