<div>
    <i class="icon_24" ng-class="{'mp4':folderItem.FileType==1,
               'doc':folderItem.FileType==2,
               'excel':folderItem.FileType==3,
               'ppt':folderItem.FileType==4,
               'pdf':folderItem.FileType==5,
               'img':folderItem.FileType==6,
               'mp3':folderItem.FileType==7,
               'zip':folderItem.FileType==8,
               'other':folderItem.FileType==9,
               'file': folderItem.RelationType==0}" ng-click="onOpen()">
    </i>
    <p class="data_tit" ng-bind="folderName"></p>
    <input class="rename_test" ng-model="folderName" ng-blur="onBlur()" type="text">
</div>