<div>
    <div class="pop_uploader">
        <h4>文件上传</h4>
        <span class="icon close_pop"></span>
        <div class="pop_wrap" style="height:400px">
            <div nv-file-drop="" uploader="uploader" ng-init="">
                <input type="file" id="file" nv-file-select="" uploader="uploader" multiple style="display:none;" />
                <a class="attach_box" href="javascript:;" onclick="$('#file').click()">
                    <i class="icon_forum icon_upload"></i>
                    上传附件
                </a>
                <div class="col-md-12" style="margin-top: 40px">
                    <h3 style="font-size:20px;">上传队列</h3>
                    <p>已选择文件: {{ uploader.queue.length }}</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">文件名</th>
                                <th ng-show="uploader.isHTML5">大小</th>
                                <th ng-show="uploader.isHTML5">进度</th> 
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        上传
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        取消
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        移除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div>
                            总进度:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> 上传所有
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> 取消所有
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> 移除所有
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>