
@using IES.Cache;
@using IES.Security;
@using IES.JW.Model;
@using IES.G2S.JW.BLL;
@using IES.Service;
@using IES.CC.OC.Model;
@using IES.Service.Common;
@{
    string userid = IESCookie.GetCookieValue("ies");
    IES.JW.Model.User user = new IES.JW.Model.User { UserID = Int32.Parse(userid) };
    user = UserService.User_Get(user);
    List<OC> oclist = UserService.User_OC_List(user);

    if (Request.QueryString["currentoc"] != null)
    {
        Browse.SetCurrentOC(Request.QueryString["currentoc"]);
    }
    if (Browse.CurrentOC == "0")
    {
        if ( oclist.Count > 0 )
        { 
            Browse.SetCurrentOC(oclist[0].OCID.ToString());
        }
    }
    
    
    
}
@helper gethref(string ocid )
{
    var result = Request.Path + "?currentoc=" + ocid;
    @result

}

<div class="exercise_nav">
    <ul class="exercise_nav_list">
        @for (int i = 0; i < oclist.Count; i++)
        {
            OC oc = oclist[i];
            if (oc.OCID.ToString() == Browse.CurrentOC)
            {
                <li class="active"><a  target="_self" class="first_nav" href=@gethref(@oc.OCID.ToString())  >@oc.Name</a></li>
            }
            else
            {
                <li><a target="_self" class="first_nav" href=@gethref(@oc.OCID.ToString())>@oc.Name</a></li>
            }
        }
    </ul>
</div>
