@using IES.Cache;
@using IES.Security;
@using IES.JW.Model;
@using IES.G2S.JW.BLL;
@using IES.Service;
@{
    var helpurl = string.Empty;
    string userid = IESCookie.GetCookieValue("ies");
    IES.JW.Model.User user = new IES.JW.Model.User { UserID = Int32.Parse(userid) };
    user = UserService.User_Get(user);
    List<Notice> noticelist = UserService.User_Notice_List(user);   
}

<div class="right_header">
    <p class="freshman"><i class="icon icon_question"></i><a href=@helpurl target="_blank">新手向导</a></p>
    <div class="notice_box">
        <ul class="notice_list">
            @for (int i = 0; i < noticelist.Count ; i++ )
            {
                Notice notice = noticelist[i];
                if (i == 0)
                {  
                    <li style="display:block;"><i class="icon notice_icon"></i>@notice.Title</li> 
                }
                else
                {
                   <li><i class="icon notice_icon"></i>@notice.Title</li>
                }
            }
        </ul>
        <div class="notice_btn">
            <a class="icon prev_btn" href="javascript:;"></a>
            <a class="icon next_btn" href="javascript:;"></a>
        </div>
    </div>
</div>
