<div class="all_knowledge">
    <dl class="knowledge_list">
        <dt>全部知识点</dt>
        <dd ng-class="{'active':knowSelection.KenID==knowledge.KenID}" ng-repeat="knowledge in ocKnowledges"><a ng-click="knowSelected(knowledge)" ng-bind="knowledge.Name"></a>
    </dl>
    <dl class="knowledge_list">
        <dt>关联章节</dt>
        <dd ng-repeat="item in knowChapters"><a ng-click="chapterSelected(item)" ng-class="{'active':chapterSelection.ChapterID===item.ChapterID}" ng-bind="item.Title"></a></dd>
    </dl>
</div> 