    <div class="exercise_nav">
        <ul class="exercise_nav_list">
            <li class="active"><a class="first_nav" href="#">毛泽东思想和中国特色社会主义毛泽东思想和中国特色社会主义</a></li>
            <li><a class="first_nav" href="#">大学英语</a></li>
            <li><a class="first_nav" href="#">形式与政策</a></li>
        </ul>
    </div>
    <div class="exercise_search">
        <div class="select_condition">
            <ul class="knowledge_sort">
                <li class="active"><a href="#">按知识点</a></li>
                <li><a href="#">按章节</a></li>
            </ul>
        </div>
        <div class="exercise_btn">
            <a class="topic_import" href="javascript:;"><em><i class="icon"></i></em><span>添加知识点</span></a>
            <a class="topic_import" href="javascript:;"><em><i class="icon"></i></em><span>添加章节</span></a>
        </div>
    </div>
    <p class="guide_word">点击左侧[知识点]，查看该知识点关联章节、资料、习题、话题</p>
    <div class="knowledge_box">
        <div class="all_knowledge">
            <dl class="knowledge_list">
                <dt>全部知识点</dt>
                <dd class="active"><a href="#">知识点1</a></dd>
                <dd><a href="#">知识点2</a></dd>
                <dd><a href="#">知识点3</a></dd>
                <dd><a href="#">知识点4</a></dd>
                <dd><a href="#">知识点5</a></dd>
                <dd><a href="#">知识点6</a></dd>
                <dd><a href="#">知识点7</a></dd>
                <dd><a href="#">知识点8</a></dd>
            </dl>
            <dl class="knowledge_list">
                <dt>关联章节</dt>
                <dd><a href="#">第一章 1.1</a></dd>
                <dd><a href="#">第三章 1.1</a></dd>
                <dd><a href="#">第三章 1.1</a></dd>
            </dl>
        </div>
        <div class="chapter_box">
            <ul class="chapter_list">
                <li class=""><a href="javascript:;">关联资料</a></li>
                <li class="active"><a href="javascript:;">关联习题</a></li>
                <li><a href="javascript:;">关联话题</a></li>
            </ul>
            <table class="data_list">
                <tbody>
                    <tr>
                        <th width="460">文件名称</th>
                        <th>创建人</th>
                    </tr>
                    <tr>
                        <td>
                            <p class="file_data"><i class="icon_24 doc"></i><span>巴斯通森林</span></p>
                        </td>
                        <td>李志伟</td>
                    </tr>
                    <tr>
                        <td style="background: rgb(242, 242, 242);">
                            <p class="file_data"><i class="icon_24 flv"></i><span>巴斯通森林</span></p>
                        </td>
                        <td style="background: rgb(242, 242, 242);">李志伟</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="file_data"><i class="icon_24 ppt"></i><span>巴斯通森林</span></p>
                        </td>
                        <td>李志伟</td>
                    </tr>
                    <tr>
                        <td style="background: rgb(242, 242, 242);">
                            <p class="file_data"><i class="icon_24 mp4"></i><span>巴斯通森林</span></p>
                        </td>
                        <td style="background: rgb(242, 242, 242);">李志伟</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="file_data"><i class="icon_24 html"></i><span>巴斯通森林</span></p>
                        </td>
                        <td>李志伟</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
