<div class="exercise_search">
    <div class="select_condition">
        <ul class="knowledge_sort">
            <li ui-sref-active="active"><a ui-sref="content.knowledge.topic">按知识点</a></li>
            <li ui-sref-active="active"><a ui-sref="content.knowledge.chapter">按章节</a></li>
        </ul>
    </div>
    <div class="exercise_btn">
        <a class="topic_import" href="javascript:;"><em><i class="icon"></i></em><span>添加知识点</span></a>
        <a class="topic_import" href="javascript:;"><em><i class="icon"></i></em><span>添加章节</span></a>
    </div>
</div>
<p class="guide_word">点击左侧[章节]，查看该章节右侧关联知识点</p>
<div class="knowledge_box" ui-view> 
</div>

<div class="pop_bg"></div>
<div class="pop_600">
    <h4>课程中心上传组件</h4>
    <span class="icon close_pop"></span>
    <ul class="upload_list">
        <li>
            <i class="icon_24 pdf"></i>
            <div class="data_detail">
                <p>2014工作指导方案.pdf<span>153kb</span></p>
                <em></em>
            </div>
            <a class="remove_data" href="javascript:;">×</a>
        </li>
        <li>
            <i class="icon_24 doc"></i>
            <div class="data_detail">
                <p>2014工作指导方案.pdf<span>153kb</span></p>
                <em></em>
            </div>
            <a class="remove_data" href="javascript:;">×</a>
        </li>
        <li>
            <i class="icon_24 mp3"></i>
            <div class="data_detail">
                <p>2014工作指导方案.pdf<span>153kb</span></p>
                <em></em>
            </div>
            <a class="remove_data" href="javascript:;">×</a>
        </li>
    </ul>
</div>