<div class="exercise_search">
    <div class="select_condition">
        <ul class="knowledge_sort">
            <li ui-sref-active="active"><a ui-sref="content.knowledge.topic">按知识点</a></li>
            <li ui-sref-active="active"><a ui-sref="content.knowledge.chapter">按章节</a></li>
        </ul>
    </div>
    <add-knowledge id="eByKnowledge" style="display:none;"
                   knowledge="aKnowledge.name"
                   chapter="aKnowledge.chapter"
                   chapters="ocChapters"
                   require-ment="requireMent"
                   require-ments="requireMents"
                   on-save-new="aKnowledge.saveNew(aKnowledge)"
                   on-save="aKnowledge.save(aKnowledge)"
                   on-cancel="aKnowledge.cancel()">
    </add-knowledge>
    <add-chapter id="eByChapter" style="display:none;"
                 chapter-name="aChapter.name"
                 knowledge="aChapter.knowledge"
                 knowledges="ocKnowledges"
                 require-ment="requireMent"
                 require-ments="requireMents"
                 on-save-new="aChapter.saveNew(aChapter)"
                 on-save="aChapter.save(aChapter)"
                 on-cancel="aChapter.cancel()">
    </add-chapter>
    <div class="exercise_btn">
        <a class="topic_import" dialog-show dialog-id="eByKnowledge"><em><i class="icon"></i></em><span>添加知识点</span></a>
        <a class="topic_import" dialog-show dialog-id="eByChapter"><em><i class="icon"></i></em><span>添加章节</span></a>
    </div>
</div>
<p class="guide_word">点击左侧[章节]，查看该章节右侧关联知识点</p>
<div class="knowledge_box" ui-view>
</div> 