<div class="all_knowledge">
    <dl class="knowledge_list">
        <dt>全部知识点</dt>
        <dd class="active"><a href="#">知识点1</a></dd>
        <dd><a href="#">知识点2</a></dd>
        <dd><a href="#">知识点3</a></dd>
        <dd><a href="#">知识点4</a></dd>
        <dd><a href="#">知识点5</a></dd>
        <dd><a href="#">知识点6</a></dd>
        <dd><a href="#">知识点7</a></dd>
        <dd><a href="#">知识点8</a></dd>
    </dl>
    <dl class="knowledge_list">
        <dt>关联章节</dt>
        <dd><a href="#">第一章 1.1</a></dd>
        <dd><a href="#">第三章 1.1</a></dd>
        <dd><a href="#">第三章 1.1</a></dd>
    </dl>
</div>
<div class="chapter_box">
    <ul class="chapter_list">
        <li class=""><a href="javascript:;">关联资料</a></li>
        <li class="active"><a href="javascript:;">关联习题</a></li>
        <li><a href="javascript:;">关联话题</a></li>
    </ul>
    <table class="data_list">
        <tbody>
            <tr>
                <th width="460">文件名称</th>
                <th>创建人</th>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 doc"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
            <tr>
                <td style="background: rgb(242, 242, 242);">
                    <p class="file_data"><i class="icon_24 flv"></i><span>巴斯通森林</span></p>
                </td>
                <td style="background: rgb(242, 242, 242);">李志伟</td>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 ppt"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
            <tr>
                <td style="background: rgb(242, 242, 242);">
                    <p class="file_data"><i class="icon_24 mp4"></i><span>巴斯通森林</span></p>
                </td>
                <td style="background: rgb(242, 242, 242);">李志伟</td>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 html"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
        </tbody>
    </table>
</div>



