<div class="chapter_knowledge">
    <div class="chapter_btn">
        <a class="icon_con add_btn" ng-click="addChapter();"></a>
        <a class="icon_con up_btn" ng-click="move(3)"></a>
        <a class="icon_con down_btn" ng-click="move(4)"></a>
        <a class="icon_con right_btn" ng-click="move(2)"></a>
        <a class="icon_con left_btn" ng-click="move(1)"></a>
        <a class="icon delete_icon" ng-click="delete()"></a>
    </div>
    <ul class="chapter_item">
        <li class="active" ng-repeat="item in ocChapters">
            <a class="first_chapter">
                <i class="icon fold_btn"></i>
                {{item.Title}}
            </a>
            <ul class="second_item">
                <li ng-class="{active:selection==child.ChapterID}" ng-repeat="child in ocChapters | parentID:item.ParentID "><a class="first_chapter" ng-bind="child.title" ng-click="chapterSelected(child)"></a></li>
            </ul>
        </li>
        <li ng-show="canAdd">
            <a class="first_chapter" href="javascript:;">
                <input type="text" ng-model="title" placeholder="请输入章节标题" ng-blur="onBlurAdd(title)">
            </a>
        </li>
    </ul>
</div>

<div class="chapter_box">
    <div class="filter_knowledge">
        <a ui-sref-active="active" ui-sref="" ng-repeat="knowledge in knowledges" ng-bind="knowledge.title"></a>
    </div>
    <ul class="chapter_list">
        <li ng-class="{active:association.selection == 1}"><a ng-click="association.linkDoc()">关联资料</a></li>
        <li ng-class="{active:association.selection == 2}"><a ng-click="association.linkExercise()">关联习题</a></li>
        <li ng-class="{active:association.selection == 3}"><a ng-click="association.linkTopic()">关联话题</a></li>
    </ul>
    <div class="connect_item">
        <table class="data_list">
            <tr>
                <th width="460">文件名称</th>
                <th>创建人</th>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 doc"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 flv"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 ppt"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 mp4"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
            <tr>
                <td>
                    <p class="file_data"><i class="icon_24 html"></i><span>巴斯通森林</span></p>
                </td>
                <td>李志伟</td>
            </tr>
        </table>
    </div>
    <div class="connect_item">
        <ul class="topic_list">
            <li class="show">
                <div class="topic_label">
                    <p class="question_degree simple"><input type="checkbox">简单</p>
                    <div class="label_list">
                        <a href="#"><span>标签1</span></a>
                        <a href="#"><span>标签2</span></a>
                        <a href="#"><span>标签3</span></a>
                        <a href="#"><span>标签4</span></a>
                    </div>
                    <p class="creator">创建人：李明宇<span>最后修改时间：2014-08-18</span></p>
                </div>
                <div class="topic_tit">
                    <h5><b class="course_status shared">已共享</b>国际英语<span>[选择题]</span></h5>
                    <p class="question">
                        &mdash;&mdash;What are you busy with?<br>
                        &mdash;&mdash;We are carrying out a research <input type="text" style="width:20px;"> the causes of cancer.
                    </p>
                    <p class="answer">
                        A:into<br>
                        B:onto<br>
                        <b>C:to（正确答案）</b><br>
                        D:in
                    </p>
                </div>
                <div class="mess_box">
                    <a href="javascript:;" class="icon_24 spread"></a>
                </div>
                <div class="topic_icon">
                    <a href="javascript:;" class="icon delete_topic"></a>
                    <a href="javascript:;" class="icon share_topic">
                        <div class="icon_content">
                            <span></span><p>共享</p>
                        </div>
                    </a>
                    <a href="javascript:;" class="icon edit_topic"></a>
                </div>
            </li>
            <li>
                <div class="topic_label">
                    <p class="question_degree medium"><input type="checkbox">中等</p>
                    <div class="label_list">
                        <a href="#"><span>标签1</span></a>
                        <a href="#"><span>标签2</span></a>
                        <a href="#"><span>标签3</span></a>
                        <a href="#"><span>标签4</span></a>
                    </div>
                    <p class="creator">创建人：李明宇<span>最后修改时间：2014-08-18</span></p>
                </div>
                <div class="topic_tit">
                    <h5><b class="course_status cited">引用</b>国际英语<span>[选择题]</span></h5>
                    <p class="question">
                        &mdash;&mdash;What are you busy with?<br>
                        &mdash;&mdash;We are carrying out a research <input type="text" style="width:20px;"> the causes of cancer.
                    </p>
                    <p class="answer">
                        A:into<br>
                        B:onto<br>
                        <b>C:to（正确答案）</b><br>
                        D:in
                    </p>
                </div>
                <div class="mess_box">
                    <a href="javascript:;" class="icon_24 spread"></a>
                </div>
                <div class="topic_icon">
                    <a href="javascript:;" class="icon delete_topic"></a>
                    <a href="javascript:;" class="icon share_topic">
                        <div class="icon_content">
                            <span></span><p>共享</p>
                        </div>
                    </a>
                    <a href="javascript:;" class="icon edit_topic"></a>
                </div>
            </li>
            <li>
                <div class="topic_label">
                    <p class="question_degree difficult"><input type="checkbox">较难</p>
                    <div class="label_list">
                        <a href="#"><span>标签1</span></a>
                        <a href="#"><span>标签2</span></a>
                        <a href="#"><span>标签3</span></a>
                        <a href="#"><span>标签4</span></a>
                    </div>
                    <p class="creator">创建人：李明宇<span>最后修改时间：2014-08-18</span></p>
                </div>
                <div class="topic_tit">
                    <h5><b class="course_status shared">已共享</b>国际英语<span>[选择题]</span></h5>
                    <p class="question">
                        &mdash;&mdash;What are you busy with?<br>
                        &mdash;&mdash;We are carrying out a research <input type="text" style="width:20px;"> the causes of cancer.
                    </p>
                    <p class="answer">
                        A:into<br>
                        B:onto<br>
                        <b>C:to（正确答案）</b><br>
                        D:in
                    </p>
                </div>
                <div class="mess_box">
                    <a href="javascript:;" class="icon_24 spread"></a>
                </div>
                <div class="topic_icon">
                    <a href="javascript:;" class="icon delete_topic"></a>
                    <a href="javascript:;" class="icon share_topic">
                        <div class="icon_content">
                            <span></span><p>共享</p>
                        </div>
                    </a>
                    <a href="javascript:;" class="icon edit_topic"></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="connect_item" style="display:block;">
        <ul class="connect_topic">
            <li>
                <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                <div class="connect_topic_detail">
                    <p class="connect_detail"><a href="#">话题标题</a><span class="to_top">置顶</span></p>
                    <p class="topic_origin">[混合式课程设计与技术平台<1>班] 自由讨论区</p>
                    <p class="connect_topic_info">来自 [混合式课程设计与技术平台<1>班]  陈建  (2014/09/24)　最后回复 诸葛孔明  7小时前</p>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                <div class="connect_topic_detail">
                    <p class="connect_detail"><a href="#">话题标题</a><span class="the_select">精Ⅲ</span></p>
                    <p class="topic_origin">[混合式课程设计与技术平台<1>班] 自由讨论区</p>
                    <p class="connect_topic_info">来自 [混合式课程设计与技术平台<1>班]  陈建  (2014/09/24)　最后回复 诸葛孔明  7小时前</p>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                <div class="connect_topic_detail">
                    <p class="connect_detail"><a href="#">话题标题</a></p>
                    <p class="topic_origin">[混合式课程设计与技术平台<1>班] 自由讨论区</p>
                    <p class="connect_topic_info">来自 [混合式课程设计与技术平台<1>班] <span>[教师]</span>  陈建  (2014/09/24)　最后回复 诸葛孔明  7小时前</p>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                <div class="connect_topic_detail">
                    <p class="connect_detail"><a href="#">话题标题</a></p>
                    <p class="topic_origin">[混合式课程设计与技术平台<1>班] 自由讨论区</p>
                    <p class="connect_topic_info">来自 [混合式课程设计与技术平台<1>班] <span>[教师]</span>  陈建  (2014/09/24)　最后回复 诸葛孔明  7小时前</p>
                </div>
            </li>
            <li>
                <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                <div class="connect_topic_detail">
                    <p class="connect_detail"><a href="#">话题标题</a></p>
                    <p class="topic_origin">[混合式课程设计与技术平台<1>班] 自由讨论区</p>
                    <p class="connect_topic_info">来自 [混合式课程设计与技术平台<1>班] <span>[教师]</span>  陈建  (2014/09/24)　最后回复 诸葛孔明  7小时前</p>
                </div>
            </li>
        </ul>
        <div class="topic_detail_box">
            <div class="topic_detail">
                <h5>话题标题</h5>
                <p class="issue_time">发布于 3 天前　发布人：戴杰</p>
                <p class="topic_content">大家好，小编又来给童鞋们解答问题啦：<br>小编发现还有很少一部分同学观看视频没有进度<br>这里呢，小编在这个给大家说明几个问题：<br>1，目前我们的手机APP应用在线观看是完全同步视频进度的，<br>2，请观看离线缓存视频的童鞋一定要保证手机流量的开启，这样才能保存视频的进度哦！<br>3，离线下载的视频在观看时是不会产生任何流量的拉，大家放心好了~<br>最后呢小编提醒大家一个注意点，并且要告诉大家一个好消息！<br>（注意点：目前我们的APP在完全离线的状态下观看离线视频是不会保存进度的！~所以一定要保证手机流量的开启哦！~）<br>好消息就是我们会在下面的版本为大家解决完全离线状态下看视频也有进度的问题，啦啦~！~<br>最后谢谢大家支持我们APP应用哦！还有请大家要帮小编宣传宣传，哈哈~~</p>
                <a class="reply_btn" href="javascript:;">快速回复</a>
            </div>
            <ul class="reply_box">
                <li>
                    <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                    <div class="reply_detail">
                        <p class="reply_name">姓名</p>
                        <p class="reply_content">因为什么选错的？</p>
                        <p class="reply_time">回复于 3 天前</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

