<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/CSS/header.css" />
    <include path="~/Content/CSS/common.css" />
    <include path="~/Content/CSS/side_left.css" />
    <include path="~/Content/CSS/index.css" />
    <include path="~/Content/CSS/admin.css" />
    <include path="~/Content/CSS/footer.css" />
  </styleBundle>
</bundles>