<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager" />
      </controls> 
    </pages>

    <authentication mode="Forms">
      <forms name="ies" loginUrl="login.aspx" timeout="120"></forms>
    </authentication>

    <httpModules>
         <!--<add name="UserVisit" type="Admin.App_Start.UserVisit" />--> 
  
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="ies_analyse" connectionString="packet size=4096;user id=sa; PWD ='whf@able2013'; data source=192.168.4.231\ies2;persist security info=False;initial catalog='IES_Analyse';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_ccconnn" connectionString="packet size=4096;user id=sa; PWD ='whf@able2013'; data source=192.168.4.231\ies2;persist security info=False;initial catalog='IES_CC';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_jwconnn" connectionString="packet size=4096;user id=sa; PWD ='whf@able2013'; data source=192.168.4.231\ies2;persist security info=False;initial catalog='IES_JW';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_portalconnn" connectionString="packet size=4096;user id=sa; PWD ='whf@able2013'; data source=192.168.4.231\ies2;persist security info=False;initial catalog='IES_Portal';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_resourceconn" connectionString="packet size=4096;user id=sa; PWD ='whf@able2013'; data source=192.168.4.231\ies2;persist security info=False;initial catalog='IES_Resource';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_sysconnn" connectionString="packet size=4096;user id=sa; PWD ='whf@able2013'; data source=192.168.4.231\ies2;persist security info=False;initial catalog='IES_Sys';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_connn" connectionString="packet size=4096;user id=sa; PWD ='whf@able2013'; data source=192.168.4.231\ies2;persist security info=False;initial catalog='IES';Connect Timeout=30000;Asynchronous Processing=true" />
  </connectionStrings>
</configuration>