@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/class.css" rel="stylesheet" />
<!--右侧主题内容开始-->
<div class="main_content" ng-controller="TeamController">
    <div class="create_step">
        <div class="add_course course_set" ng-repeat="Team in TeamList | filter:{ Role:2 }">
            <b ng-show="$first" class="set_tit">课程主讲教师</b>
            <div class="course_photo">
                <img src="http://placehold.it/150x150/cccccc" width="150" height="150" />
            </div>
            <div class="add_property">
                <dl>
                    <dt>姓名：</dt>
                    <dd>
                        <input type="text" disabled="disabled" value="{{Team.UserName}}" placeholder="">
                    </dd>
                </dl>
                <dl>
                    <dt>职称：</dt>
                    <dd>
                        <input type="text" disabled="disabled" value="{{Team.Ranks}}" placeholder="" />
                    </dd>
                </dl>
                <dl>
                    <dt>简介：</dt>
                    <dd>
                        <textarea class="brief" ng-model="Team.Brief" ng-maxlength="200" placeholder="建议不超过200字以内">{{Team.OcTeam.Brief}}</textarea>
                    </dd>
                </dl>
                <dl>
                    <dt>班级：</dt>
                    <dd>
                        <p class="class_detail">
                            <span> {{Team.OCClassNames}}</span>
                        </p><a target="_self" href="../class/index" ng-click="EditTeamBrief(Team)">[管理教学班]</a>
                    </dd>
                </dl>
            </div>
            @*<a ng-show="$first" class="unfold" href="javascript:;">[收起]</a>*@
        </div>
        <div ng-show="showAddTeacher" class="add_course course_set teacher_detail">
            <div class="course_photo">
                <img src="http://placehold.it/150x150/cccccc" width="150" height="150" />
            </div>
            <div class="add_property">
                <dl>
                    <dt>姓名：</dt>
                    <dd>
                        <input type="text" ng-click="ShowSelectUser(false)" placeholder="" ng-model="OCTeamNew.OcTeam.UserName" value="{{OCTeamNew.OcTeam.UserName}}"><b>*</b><a class="select_user" ng-click="ShowSelectUser(false)">[选择站内用户]</a>
                    </dd>
                </dl>
                <dl>
                    <dt>职称：</dt>
                    <dd>
                        <input disabled="disabled" ng-model="OCTeamNew.OcTeam.Ranks" value="{{OCTeamNew.OcTeam.Ranks}}" type="text">
                    </dd>
                </dl>
                <dl>
                    <dt>简介：</dt>
                    <dd>
                        <textarea class="brief" placeholder="建议不超过200字以内" ng-maxlength="200" ng-model="OCTeamNew.OcTeam.Brief" ng-bind="OcTeam.Brief"></textarea>
                    </dd>
                </dl>
                <dl>
                    <dt>班级：</dt>
                    <dd>
                        <p class="class_detail">
                            <span ng-repeat="teamClass in OCTeamNew.OcTeamClass">
                                {{teamClass.ClassName}}（{{teamClass.StudentCount}}人）<span ng-hide="$last">,</span>
                            </span>
                            @*<span>{{OCTeamNew.OcTeam.OCClassNames}}</span>*@
                        </p><a ng-show="OCTeamNew.OcTeam.UserID!=null" target="_self" href="../class/index" ng-click="AddTeamUser()">[管理教学班]</a>
                    </dd>
                </dl>
            </div>
            <span class="close_btn" ng-click="hidaddteacher()">X</span>
        </div>
        <a class="add_teacher" ng-click="showaddteacher()">+&nbsp;添加主讲人</a>
    </div>
    <div class="add_course course_set">
        <b class="set_tit">教学团队成员</b>
        <div class="add_member">
            <ul class="member" ng-repeat="Team in TeamList|orderBy:Role">
                <li ng-class="{true: 'active', false: ''}[isActive]" ng-mouseover="isActive=true" ng-mouseleave="isActive=false">
                    <img src="http://placehold.it/100x100/cccccc" width="100" height="100" />
                    <span ng-show="Team.Role==0" class="icon team_builder">&nbsp;&nbsp;创</span>
                    <span ng-show="Team.IsLocked==1" ng-class="{true: 'icon team_join', false: ''}[Teams.IsLocked]">&nbsp;&nbsp;锁</span>
                    <p class="team_member" ng-bind="Team.UserName">陈晨</p>
                    <div class="hover_box">
                        <p ng-show="Team.Role>0">班级授权：{{Team.ClassCount}}<br>功能授权:{{Team.FunctionCount==-1?'全':Team.FunctionCount}}</p>
                        <div class="member_operation">
                            <a ng-show="Team.Role>0" style="cursor: pointer;" class="icon team_edit" ng-click="EditOcTeamFunctionInfo(Team)"></a>
                            <a ng-show="Team.Role>0" ng-class="{true: 'icon team_unlock', false: 'icon team_lock'}[Team.IsLocked]" ng-model="Team.IsLocked" style="cursor: pointer;" ng-click="LockedTeam(Team)"></a>
                            <a ng-show="Team.Role>0" class="icon team_throw" style="cursor: pointer;" ng-click="DelTeam(Team)"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <a class="add_new" ng-click="AddOcTeamFunctionInfo()"><img src="../../images/add_new.jpg" width="100" height="100" alt=""></a>
        </div>
    </div>
    <div class="btn_box">
        <a class="save" href="javascript:;">保存</a>
        <a class="cancel" href="javascript:;">取消</a>
    </div>


    <div id="myAddTeacherModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h4>选择站内用户</h4>
        <span class="icon close_pop" ng-click="CloseDialog()" data-dismiss="modal"></span>
        <div class="form_box">
            <div class="user_search" style=" margin-bottom:10px;">
                <input type="text" ng-click="SearchUserList()" ng-model=" teachermodel.key" placeholder='请输入关键字'>
                <b>*</b>
                <a ng-click="SearchUserList()">搜索</a>
            </div>
            <table class="class_box">
                <tr>
                    <th width="120">工号</th>
                    <th width="120">姓名</th>
                    <th>所属机构</th>
                </tr>
                <tr ng-repeat="Teacher in TeacherList">
                    <td><input type="radio" name="rad_addUser" ng-model="TeacherModel.UserID" ng-value="{{Teacher.UserID}}" ng-bind="UserNo"></td>
                    <td ng-bind="Teacher.UserName">刘晓明</td>
                    <td ng-bind="Teacher.OrganizationName">文学院</td>
                </tr>
            </table>
            <div id="TeamPage" style="float:right;margin-right:20px; margin-top:10px;"></div>
            <div class="btn_box">
                <a class="save" ng-show="TeacherModel.UserID!=-1" ng-click="GetSelectUser()" data-dismiss="modal">选择</a>
            </div>
        </div>
    </div>



    <div id="myAddTeamModal" class="modal hide fade" style="width:700px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h4>添加新成员</h4>
        <span class="icon close_pop" data-dismiss="modal"></span>
        <div class="member_detail">
            <div class="form_box">
                <div class="search_name">
                    <p>用户姓名：<input class="name_box" ng-click="ShowSelectUser(true)" type="text" value="{{OcTeamFunctionInfo.OCTeam.UserName}}"></p>
                    <a href="#" ng-hide="EditOrAdd" ng-click="ShowSelectUser(true)">[搜索]</a>
                </div>
            </div>
            <div class="member_search">
                <div class="class_accord">
                    <div class="class_tit">
                        <b>按班级授权</b>
                        <p><input type="checkbox" ng-checked="FunctionCheckedAll.ClassAll" ng-click="ckb_Class_All()" ng-model="FunctionCheckedAll.ClassAll"><label>全选</label></p>
                    </div>
                    <ul class="member_list">
                        <li ng-repeat="teamfunctionclass in OcTeamFunctionInfo.OcTeamFunctionClass">
                            <input type="checkbox" ng-click="ckb_Class_Single()" ng-checked="teamfunctionclass.IsSelected" ng-model="teamfunctionclass.IsSelected">{{teamfunctionclass.TeachingClassName}}（{{teamfunctionclass.StudentCount}}人）{{teamfunctionclass.TeamInfo}}
                        </li>
                    </ul>
                </div>
                <div class="class_accord function_accord" style="height:360px; overflow-y:scroll">
                    <div class="class_tit">
                        <b>按功能授权</b>
                        <p><input type="checkbox" ng-checked="FunctionCheckedAll.ModuleAll" ng-click="ckb_Module_All()" ng-model="FunctionCheckedAll.ModuleAll"><label>全选</label></p>
                    </div>
                    <div class="course_management" ng-repeat="FirstModule in OcTeamFunctionInfo.OcTeamFunctionModule | listFilter3:'=':'0'">
                        <dl ng-repeat="SecondModule in OcTeamFunctionInfo.OcTeamFunctionModule | listFilter3:'=':FirstModule.ModuleID ">
                            <dt><input type="checkbox" ng-click="ckb_Module_Single(SecondModule)" ng-checked="SecondModule.IsSelected" ng-model="SecondModule.IsSelected">{{SecondModule.Name}}</dt>
                            <dd>
                                <div class="function_r">
                                    <p ng-repeat="ThreeModule in OcTeamFunctionInfo.OcTeamFunctionModule | listFilter3:'=' :SecondModule.ModuleID "><input type="checkbox" ng-click="ckb_Module_Single(ThreeModule)" ng-checked="ThreeModule.IsSelected" ng-model="ThreeModule.IsSelected">{{ThreeModule.Name}}</p>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                @*<div ng-repeat="FirstModule in OcTeamFunctionInfo.OcTeamFunctionModule">
                        <dt>{{FirstModule.IsSelected }}  {{FirstModule.Name}} </dt>
                    </div>*@
            </div>
            <a class="save" ng-click="SaveOcTeamFunctionInfo()" ng-show="OcTeamFunctionInfo.OCTeam.UserID" data-dismiss="modal">保存</a>
            <a class="cancel" data-dismiss="modal" aria-hidden="true">
                取消
            </a>
        </div>
    </div>


    <div id="myLockedModal" class="modal hide fade" style=" width:500px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h4>锁定用户</h4>
        <span class="icon close_pop" data-dismiss="modal"></span>
        <div class="pop_wrap">
            <div class="user_tip">
                <img src="../../images/lock.png" width="48" height="48" alt="">
                <p>锁定后，对方将无法对本课程进行任何操作<br>确定锁定该用户吗？</p>
            </div>
            <div class="btn_box">
                <a class="save" ng-click="LockedSure()" data-dismiss="modal">锁定</a>
                <a class="cancel" data-dismiss="modal" aria-hidden="true">
                    取消
                </a>

            </div>
        </div>
    </div>
    <div id="myUnLockedModal" class="modal hide fade" style=" width:500px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h4>解锁用户</h4>
        <span class="icon close_pop" data-dismiss="modal"></span>
        <div class="pop_wrap">
            <div class="user_tip">
                <img src="../../images/unlock.png" width="48" height="48" alt="">
                <p>解锁后，对方将还原对本课程的部分操作权限<br>确定解锁该用户吗？</p>
            </div>
            <div class="btn_box">

                <a class="save" ng-click="LockedSure()" data-dismiss="modal">锁定</a>
                <a class="cancel" data-dismiss="modal" aria-hidden="true">
                    取消
                </a>
                @*<a class="save" href="javascript:;">解锁</a>
                    <a class="cancel" href="javascript:;">取消</a>*@
            </div>
        </div>

    </div>

</div>


<!--右侧主题内容结束-->
