@charset "utf-8";
/* CSS Document */

/*课程建设首页*/
.create_step{ margin-top:18px; overflow:hidden; zoom:1;}
.create_step h5{ height:40px; line-height:40px; text-align:center; background:#f2f2f2; border-top:1px solid #cacaca; border-bottom:1px solid #cacaca; font-size:13px; color:#666; font-weight:normal; font-family:'Microsoft YaHei';}
.add_course{ margin:20px 30px 23px; padding:27px 30px 20px; background:#f2f2f2; border:1px solid #cacaca; overflow:hidden; zoom:1;}
.course_photo{ float:left; margin-right:10px;}
.course_photo img{ display:block; border:1px solid #cacaca;}
.course_photo p{ text-align:center; font-size:12px; color:#999;}
.add_property,.add_property dl{ overflow:hidden; zoom:1;font-family:'Microsoft YaHei';}
.add_property dl{ margin-bottom:13px; line-height:30px;}
.add_property dl dt{ float:left; font-size:13px; color:#666;}
.add_property dl dd{ float:left; overflow:hidden; zoom:1;}
.add_property dl dd input{ float:left; width:290px; padding:0 5px; height:30px; line-height:30px\9; background:#fff; border:1px solid #cacaca; font-size:12px; color:#333;font-family:'Microsoft YaHei';}
.add_property dl dd input.course_sort{ width:260px;}
.select_btn{ display:block; float:left; height:32px; width:30px; line-height:32px; text-align:center; background:#cccccc; color:#fff; cursor:pointer;}
.add_property dl dd b{ color:#ff0000; padding:0 15px 0 10px;}
.add_property dl dd a{ color:#1e5975; font-size:12px; text-decoration:underline;}
.select_course:hover{ text-decoration:underline;}
.tips{ float:left; font-size:12px; color:#999; margin-left:10px;}
.set_tit{ display:block; font-size:14px; color:#333; margin:0 0 10px -10px;}
.course_set{padding:15px 30px 12px; margin-bottom:0; position:relative;}
.course_set .add_property dl dd input{ width:170px; height:30px;}
.course_set .course_photo{ margin-right:30px;}
.brief{height:50px; width:590px; padding:5px; font-size:12px; color:#999; resize:none; background:#fff; border:1px solid #cacaca;font-family:'Microsoft YaHei';}
.add_teacher{ display:block; margin:0 30px; height:30px; line-height:30px; background:#374760; text-align:center; font-size:13px; color:#fff;}
.goal_list{ margin:20px 30px 0 14px;overflow:hidden; zoom:1;}
.goal_list li{ float:left; margin-left:16px;}
.goal_list li img{ display:block;}
.class_detail{ font-size:12px; color:#666; float:left; margin-right:10px;}

/*用户管理首页*/
.teacher_detail{ margin-top:0; border-top:0;}
.close_btn{ display:block; width:25px; height:25px; text-align:center; line-height:25px; background:#374760; font-size:13px; color:#fff; cursor:pointer; position:absolute; right:0; top:0;}
.unfold{ font-size:12px; color:#1e5975; position:absolute; top:10px; right:10px;}
.add_member{ overflow:hidden; zoom:1;}
.member{ float:left; overflow:hidden; zoom:1;}
.member li{ float:left; width:100px; margin-right:20px; position:relative;}
.member li.active .hover_box{ display:block;}
.member li img{ display:block;}
.member li span{display:block; width:40px; height:40px;position:absolute; top:0; left:0; color:#fff;}
.team_builder{  background-position:-69px -80px; }
.team_join{ background-position:-85px -176px;}
.team_member{color:#666; text-align:center;}
.hover_box{ display:none; width:100px; height:100px; position:absolute; top:0; left:0;background-color: rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); color:#fff; text-align:center;}
.hover_box p{ margin-top:10px;}
.member_operation{ margin-top:10px; overflow:hidden; zoom:1;}
.member_operation a{ float:left; margin-left:12px;}
.team_edit{ background-position:0 -168px;}
.team_lock{ background-position:-142px 0;}
.team_unlock{ background-position:-142px -16px;}
.team_throw{ background-position:-142px -32px;}
.add_new{ float:left;cursor:pointer; }
.select_user{cursor:pointer;}
.add_teacher{cursor:pointer;}
.ClearstrText{ overflow: hidden; text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap; }

/*课程网站建设*/
.main_course{ background:url(../images/main_bg2.gif) repeat-y;}
.coursesite_detail{ padding:30px; overflow:hidden; zoom:1;}
.course_info li{ height:40px; line-height:40px; background:#f2f2f2; border:1px solid #cacaca; padding:0 10px; margin-bottom:10px; font-size:13px; color:#666; overflow:hidden; zoom:1;}
.course_info li a{ float:right; color:#1e5975; text-decoration:underline;}
.course_pattern{ overflow:hidden; zoom:1;}
.course_pattern h5{ font-size:14px; color:#666; font-weight:bold; margin:10px 0;}
.pattern_box{ overflow:hidden; zoom:1; margin-bottom:20px;}
.pattern_language{ float:left; margin-top:30px;}
.pattern_language p{ overflow:hidden; zoom:1;}
.pattern_language p label{ font-size:13px; color:#666; padding-left:5px;}
.language_select{ margin-left:20px;}
.language_select a{ display:block; margin-top:10px; width:70px; height:20px;  border:1px solid #cacaca; text-align:center; line-height:20px; font-size:13px; color:#333; position:relative;}
.language_select a.active{background:#f2f2f2;}
.language_select a.active span{ display:block;}
.language_select a span{ display:none; width:24px; height:24px; background-position:-72px 0; position:absolute; right:-17px; top:0;}
.pattern_select{ float:left; overflow:hidden; zoom:1;}
.pattern_list{ float:left; margin-right:12px; overflow:hidden; zoom:1;}
.pattern_list li{ float:left; margin-left:10px; border:1px solid #fff;}
.pattern_list li.active{ border:1px solid #f90000;}
.pattern_list li img{ display:block;}
.content_construction{ display:inline-block; margin-top:120px; width:170px; height:30px; line-height:30px; text-align:center; background:#b7d55b; font-size:14px; color:#fff; }
.content_construction:hover{ background:#caeb64;}
.external_links{ font-size:13px; color:#666;}
.external_links input{ width:400px; height:30px; line-height:30px\9; background:#e4e4e4; border:1px solid #cacaca; font-size:13px; color:#ccc;}
.link_pattern{ float:left; line-height:30px;}
.link_pattern label{ font-size:13px; color:#666; padding-left:5px;}
.select_links{ margin-top:10px;}
.select_links p{ font-size:13px; color:#666;}
.select_links p span{ color:#999;}
.links_list{ margin-top:10px; overflow:hidden; zoom:1;}
.links_list li{ float:left; margin:0 0 10px 15px; position:relative;}
.links_list li.active img{ border:1px solid #fa0000;}
.links_list li img{ display:block; width:120px; height:90px;border:1px solid #fff;}
.links_list li b{ display:block; margin-top:5px; font-weight:normal; font-size:13px;color:#666; text-align:center;}
.links_list li span{ display:block; width:24px; height:24px; background-position:-72px -24px; position:absolute; right:0; bottom:0;}


/*选择站内用户弹出层*/
.form_box{ padding:15px; border:1px solid #c9c9c9; overflow:hidden; zoom:1;}
.search_name{line-height:30px; overflow:hidden; zoom:1;}
.search_name p{ float:left; margin-right:10px;}
.search_name p label{ font-size:13px; color:#666;}
.search_name p input{ width:190px; height:30px; background:#fff; border:1px solid #cacaca; padding:0 5px; line-height:30px\9;}
.search_name a{ font-size:12px; color:#1e5975; text-decoration:underline;}
.search_name a:hover{ text-decoration:underline;}
.search_content{ display:none; width:510px; padding:20px 20px 25px; border:1px solid #cacaca; position:absolute; top:87px; left:81px; background:#fff; z-index:1000;}
.user_search{ overflow:hidden; zoom:1;}
.user_search input{ float:left; width:290px; padding:0 5px; background:#fff; border:1px solid #cacaca; height:30px; font-size:13px; color:#999;font-family:'Microsoft YaHei';}
.user_search b{ float:left; padding:0 10px; line-height:30px; font-size:13px; color:#ff0000;}
.user_search a{ display:block; float:left; font-size:14px; color:#666; width:90px; height:30px; line-height:30px; text-align:center; background:#f2f2f2; border:1px solid #cacaca;}
.user_search a:hover{ background:#ccc;}
.search_result{ width:100%; border:1px solid #cacaca; margin-top:10px;}
.search_result tr th{ height:30px; line-height:30px; background:#cccccc; color:#fff; font-size:13px; text-align:left;}
.search_result tr th.align_center{ text-align:center;}
.search_result tr td{ height:29px; line-height:29px;   border-top:1px solid #cacaca; margin-top:-1px; overflow:hidden; zoom:1; font-size:12px; color:#666;}
.search_result tr td input{margin-right:4px;}
.search_result tr.active td{ background:#374760; color:#fff;}




/*添加新成员弹出层*/
.add_student{ border:1px solid #ccc;}
.member_detail{ padding:20px 20px 10px; position:relative;}
.member_detail .form_box{ padding:0 0 20px; border:0;}
.class_accord{width:248px; height:360px; float:left; border:1px solid #cacaca; overflow:hidden; zoom:1;}
.class_tit{ height:29px; line-height:29px; background:#f2f2f2; border-bottom:1px solid #cacaca; overflow:hidden; zoom:1; position:relative; }
.class_tit b{font-weight:normal; color:#333; font-size:13px; padding-left:10px;}
.class_tit p{ position:absolute; right:17px; top:0; height:29px; line-height:29px; overflow:hidden; zoom:1; color:#666;}
.class_tit p input{ float:left; margin:8px 8px 0 0;}
.member_list{ float:left; width:217px; overflow:hidden; zoom:1;}
.member_list li{ height:30px; line-height:30px; padding-left:10px; color:#666;}
.member_list li input{ height:30px; vertical-align:middle; margin-right:3px;}
.function_accord{ width:298px; float:right; overflow:hidden; zoom:1;}
.course_management{ overflow:hidden; zoom:1; font-size:13px; color:#666;}
.course_management dl dt{ height:30px; line-height:30px; font-weight:bold; margin-left:20px;}
.course_management dl dt input{ float:left; height:30px; vertical-align:middle; margin-right:5px;}
.course_management dl dd{ overflow:hidden; zoom:1;}

.function_r{ margin-left:40px; overflow:hidden; zoom:1;}
.function_r p{ float:left; width:115px; margin-right:10px; line-height:22px; overflow:hidden; zoom:1; text-overflow:ellipsis; white-space:nowrap;}
.function_r p input{ float:left; height:22px; margin-right:5px; vertical-align:middle;}
.btn_box3 a{ margin-right:0; margin-left:10px;}
.member_search{ overflow:hidden; zoom:1;}

/*锁定用户和解锁用户弹出层*/
.user_tip{ overflow:hidden; zoom:1;}
.user_tip img{ float:left; margin-right:15px;}
.user_tip p{ font-size:13px; color:#666;}



/*用户管理*/
.wrap_box{ margin:30px 30px 0 30px;}
.check_info{ padding:10px 15px; border:1px solid #cbc9cc; background:#fbf9e0; overflow:hidden; zoom:1;  position:relative;}
.check_info .class_box{ display:none; margin-top:10px;}
.check_info p{font-size:13px; color:#666;}
.apply_box{ position:absolute; right:15px; top:10px;}
.apply_box a{ float:right; margin-left:10px;}
.apply_btn{ color:#1e5975; text-decoration:underline;}
.apply_btn:hover{ text-decoration:underline;}
.batch_btn{ width:105px; overflow:hidden; zoom:1; color:#fff; height:22px; line-height:22px; background:url(../images/add_bg.gif) no-repeat;}
.batch_btn em{ float:left; width:25px; height:22px;}
.batch_btn em i{ margin:3px 0 0 4px;}
.batch_icon{ background-position:-142px -64px;}
.batch_btn span{ float:left; width:80px; height:22px; text-align:center;}
.batch_btn:hover{ background:url(../images/add_bg_hover.gif) no-repeat;}
.item_box{ height:22px; line-height:22px; padding-bottom:5px; border-bottom:1px solid #374760; overflow:hidden; zoom:1;}
.class_item{margin-top:20px;}
.class_item_list{ float:left; margin-left:30px; height:22px; line-height:22px; padding-bottom:5px; border-bottom:1px solid #374760;}
.class_item_list li{ float:left; margin-right:15px;} 
.class_item_list li a{ display:block; padding:0 15px; height:22px; line-height:22px; padding-bottom:3px; font-size:14px; color:#666; }
.class_item_list li.active a{border-bottom:3px solid #374760; color:#333; font-weight:bold;}
.class_operation{ float:right; margin-right:30px;}
.class_operation a{ float:right; width:105px; height:22px; background:url(../images/add_bg.gif) no-repeat; line-height:22px; color:#fff; margin-left:10px;}
.class_operation a:hover{ background:url(../images/add_bg_hover.gif) no-repeat;}
.class_operation a em{ float:left; width:25px; height:22px;}
.class_operation a em i{ margin:3px 0 0 4px;}
.class_operation span{ float:left; width:80px; text-align:center;}
.class_tip{ height:39px; line-height:39px; border-bottom:1px solid #ccc; overflow:hidden; zoom:1; background:#f2f2f2;}
.class_tip p{ float:left; color:#999; margin-left:30px;}
.class_search{ float:right; margin-right:30px; position:relative;} 
.class_search input{ padding:0 22px 0 8px; width:270px; height:30px; line-height:30px\9; border:1px solid #ccc;}
.class_search i{ position:absolute; right:6px; top:12px; cursor:pointer;}
.search_icon{ background-position:-37px -144px;}
.class_table{ width:100%;}
.class_table tr th,.class_table tr td{ height:39px; line-height:39px; border-bottom:1px solid #ccc;}
.class_table tr th{ text-align:left; font-size:13px; color:#333;}
.class_table tr td{ color:#666;}
.code_btn{ color:#1e5975; text-decoration:underline;}
.code_btn:hover{ text-decoration:underline;}
.register_btn{ display:none; float:right;}
.register_btn span{ float:right; margin:12px 10px 0 0; position:relative; cursor:pointer;}
.icon_throw{ background-position:-142px -128px;}
.jieye_btn{ background-position:-142px -176px;}
.import_btn_gray{ background-position:-142px -160px;}
.code_edit{ background-position:-142px -144px;}
.icon_explain{ display:none; position:absolute; top:15px; left:-20px; z-index:10; line-height:20px; padding:0 10px; color:#fff; text-align:center; background-color: rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); white-space:nowrap;}
.icon_explain a{ display:block; color:#fff;}
.code_tip{ color:#999; margin-left:50px;}
.export_btn{ background-position:-142px -112px;}
.detail_btn{ background-position:-142px -96px;}
.term_select{ float:left; margin:4px 0 0 30px; width:300px; height:30px; line-height:30px; border:1px solid #ccc;}
.check_box{ overflow:hidden; zoom:1; font-size:13px; color:#666; line-height:30px;}
.check_box dt{ float:left;}
.check_box dd{ overflow:hidden;}
.check_result p{ float:left; margin-right:20px;}
.check_result p input{ float:left; height:30px; vertical-align:middle; margin-right:3px;}
.check_reason{ width:270px; height:55px; padding:5px; border:1px solid #ccc; resize:none;}
.detail_tit{ overflow:hidden; zoom:1; height:22px;}
.detail_tit h5{ float:left; font-size:14px; color:#333;}
.detail_tit h5 span{ font-weight:normal;}
.detail_tit a{ float:right; width:105px; height:22px; line-height:22px; color:#fff; background:url(../images/add_bg.gif) no-repeat;}
.detail_tit a:hover{ background:url(../images/add_bg_hover.gif) no-repeat;}
.detail_tit a em{ float:left; width:25px; height:22px;}
.detail_tit a em i{ margin:3px 0 0 4px;}
.detail_tit a span{ float:left; width:80px; text-align:center;}
.pop_wrap .class_box{ margin-top:10px;}


.check_info p b{ color:#ff0000; padding:0 5px; font-weight:normal;}
.apply_list{ display:none; width:100%; margin-top:10px;border:1px solid #cacaca; background:#f2f2f2;}
.apply_list tr th{ height:30px; line-height:30px; color:#fff; font-size:13px; background:#cccccc; padding-left:10px; text-align:left;}
.apply_list tr td{ border-bottom:1px solid #cacaca; height:30px; line-height:30px; color:#666; padding-left:10px;}
.has_border{ border-right:1px solid #cacaca;}
.class_management{ padding:10px 0 30px; background:#f2f2f2;  border:1px solid #cbcbcb; margin-top:20px; overflow:hidden; zoom:1; position:relative;}
.class_management h5{ font-size:14px; color:#333; padding-left:17px; font-weight:normal; overflow:hidden; zoom:1;}
.class_management h5 span{ font-size:12px; color:#999; padding-left:18px;}
.class_management h5 a{ display:block; float:right; margin-right:12px; font-size:12px; color:#1e5975; text-decoration:underline;}
.class_management h5 a:hover{ text-decoration:underline;}

.class_sort{ margin-top:10px; height:32px; border-bottom:1px solid #cacaca; position:relative;}
.class_list{ margin-left:17px; overflow:hidden; zoom:1;}
.class_list li{ float:left; margin-right:10px;}
.class_list li.active a,.class_list li  a:hover{ background:#374760; color:#fff;}
.class_list li a{ display:block; width:90px; height:32px; line-height:32px; text-align:center; background:#cccccc; font-size:13px; color:#333;}

.class_wrap{ margin:15px 15px 0;}

.register_box{ font-size:13px; color:#666; line-height:30px; overflow:hidden; zoom:1;}
.register_box input[type=checkbox]{ }
.register_box span{ padding:0 10px 0 5px;}
.register_code{ width:175px; padding:0 5px; height:30px; line-height:30px\9; background:#fff; border:1px solid #cacaca; font-size:12px; color:#666;}
.online_class .class_sort{ border:0;}
.online_class .class_wrap{ margin-top:0;}
.class_inter{ display:block; float:right; margin-top:27px; overflow:hidden; zoom:1; width:170px; height:30px; line-height:30px; text-align:center; color:#fff; background:#b7d55b; font-size:14px;}
.class_inter:hover{ background:#a4be53;}

/*学生管理>教学班管理*/
.function_list a{ float:right; margin-left:10px; width:105px; height:22px; line-height:22px; color:#fff; background:url(../images/add_bg.gif) no-repeat;}
.function_list a em{ float:left; width:25px; height:22px;}
.function_list a em i{ margin:3px 0 0 4px;}
.function_list a span{ float:left; height:22px; width:80px; text-align:center;}
.function_list a:hover{ background:url(../images/add_bg_hover.gif) no-repeat;}
.icon_add{ background-position:-53px 0;}
.delete_btn{ background-position:-21px -192px;}
.import_btn{ background-position:-21px -144px;}
.download_btn{ background-position:-142px -48px;}
.import_box{  float:right; height:22px; position:relative;}
.import_box a{ display:block; float:none;}
.import_box a.download_box{ display:none; position:absolute; top:23px; left:0;}
.accord_box{ margin-top:20px; height:20px; line-height:20px; padding-bottom:10px; border-bottom:1px solid #374760;}
.accord_box li{ float:left; margin-left:20px;}
.accord_box li a{ display:block; padding:0 10px; height:20px; font-size:13px; color:#666; padding-bottom:8px; }
.accord_box li.active a{ border-bottom:3px solid #374760;}
.result_box{ position:relative;}
.condition_list li a.search_btn{ background:#374760; color:#fff;}
.select_num{ padding:10px 0; border-top:1px solid #ccc; background:#f2f2f2; overflow:hidden; zoom:1; position:relative;}
.select_num .btn_box{ margin-top:0;}
.select_num p{ color:#333; position:absolute; left:30px; line-height:34px;}
.result_box  .form_box{ border:0;}
.result_box .search_content{ left:67px; top:46px;}
.class_box tr td i{ display:none;}
.throw_btn{ display:none; background-position:-37px -192px; position:absolute; top:7px; right:10px; cursor:pointer;}
.edit_btn{ background-position:-142px -80px; position:absolute; right:10px; top:7px;}
.btn_box{ text-align:center; overflow:hidden; clear:both;zoom:1; margin-top:10px;}





.class_guide{ font-size:18px; color:#333; font-weight:bold; line-height:32px;}
.class_guide a{ float:right; width:80px; height:30px; line-height:30px; text-align:center; background:#f2f2f2; border:1px solid #ccc; font-size:14px; color:#666; font-weight:normal;}
.form_select{ overflow:hidden; zoom:1; font-size:13px; color:#666; line-height:30px;}
.class_name_box{ margin-top:15px; overflow:hidden; zoom:1;}
.class_name_box p{ float:left; margin-right:32px;}
.class_name_box p b{ color:#ff0000; padding-left:10px; line-height:30px;}
.class_name{ width:290px; padding:0 5px; height:30px; line-height:30px\9; background:#fff; border:1px solid #cacaca;}
.register_num{ width:170px; padding:0 5px; height:30px; background:#f2f2f2; border:1px solid #cbcbcb;}
.open_register{ margin-top:15px;}
.open_register input[type=checkbox]{ vertical-align:middle; height:30px; line-height:30px;}
.open_register label{ padding:0 15px 0 8px;}

.teach_date{ margin-top:15px; overflow:hidden; zoom:1;}
.teach_date span{ float:left; padding:0 10px; font-size:13px; color:#666;}
.teach_date b{ color:#ff0000; padding-left:10px;}
.teach_date label{ float:left;}
.teach_date p{ float:left; position:relative;}
.teach_date p input{ padding:0 30px 0 5px; position:relative; width:265px; height:30px; background:#fff; border:1px solid #cacaca;}
.teach_date p label{ display:block; background-position:-53px -96px; position:absolute; right:7px; top:7px;} 
.teacher_select{ margin-top:15px; overflow:hidden; zoom:1;}
.table_tit{ float:left; width:100px; text-align:right; margin-right:15px;}
.teacher_select select{ float:left; width:300px; background:#fff; border:1px solid #cacaca; height:30px; line-height:30px\9; }
.teacher_select b{color:#ff0000; padding-left:10px;}
.stu_management .function_list{ position:absolute; top:8px; right:16px;}
.loading{ margin-top:20px; height:30px; line-height:30px; background:#f2f2f2; border:1px solid #cacaca; text-align:center; font-size:13px; color:#999;}
.all_select{ margin:10px 0 0; overflow:hidden; zoom:1;}
.all_select .page_box{ float:right; margin-top:0;}
.all_select p{ float:left; font-size:13px; color:#666; height:24px; line-height:24px;}
.all_select p input{ vertical-align:top; height:24px;margin-right:10px;}
.all_select .page{ margin:0; float:right;}
.stu_box .search_content{ left:52px; top:31px;}
.add_stu .class_box{ margin-top:10px;}
.add_stu .page{ float:right;}
.stu_box{ margin:10px 20px;}
.stu_accord{ padding:20px; background:#f2f2f2;}
.stu_accord b{ font-weight:normal; font-size:13px; color:#666;}
.condition_list{ margin-left:-7px; overflow:hidden; zoom:1;}
.condition_list li{ float:left; padding:10px 0 0 10px;}
.condition_list li input{ padding:0 5px; width:155px; height:30px; background:#fff; line-height:30px\9; border:1px solid #cacaca; font-size:13px; color:#999; font-family:'Microsoft YaHei';}
.condition_list li a{ display:block; width:78px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#666; background:#f2f2f2; border:1px solid #cacaca;}
.condition_list li.select_button{ padding-left:0;}
.condition_list li.select_button a{ margin-left:7px;}

.oddbg {background:#f2f2f2}

.register_btn{ display:none; float:right;}
.register_btns span{ float:right; margin:12px 10px 0 0; position:relative; cursor:pointer;}

