/* face */
.face_box {width:350px; height: auto; background:#fff; border:solid 1px #eee; border-radius:3px; position:relative; display:block; z-index:10000;  }
.face_set {width:330px; height:auto;background:url(../images/face/faceBg_03.jpg) no-repeat; border-top:solid 1px #eee; border-left:solid 1px #eee; margin:auto; margin-top:5px;  }
.face_set ul li {width:32px; height:32px; float:left; border-right:solid 1px #eee; border-bottom:solid 1px #eee; display:block; cursor:pointer;}
.face_set ul li:hover { width:31px; height:31px; border:solid 1px #069;}
.face_set ul li img {margin:5px;}
.face_list{width:330px; margin:auto;margin-bottom:10px;}
.face_list ul{ float:right; width:100px; height:20px; }
.face_list ul li{ float:left; width:50px; height:20px; line-height:20px; text-align:right;}
.face_list ul li a{ color:#060; text-decoration:none;}
.face_list ul li a:hover{ color:#060; text-decoration:underline;}
.close{width:330px; height:10px;  margin:auto; margin-top:15px; }
.close_img{ width:8px; height:8px;float:right;}
.close_img  a{display:block; width:8px; height:8px; background:url(../images/face/faceBg_03.jpg) no-repeat 0 -235px;}
.close_img a:hover{ display:block; width:8px; height:8px; background-position:-30px -235px;}
.face_comment_area{width:370px; height:auto; position:absolute;/* left:100px; top:100px;*/ }
.face_fear_comments {overflow: hidden; width:370px; height:auto; }  
.face_fear_arrow { height: 11px;margin: 0 0 -2px 13px;overflow: hidden;width: 25px;}
.face_w_arrline { color: #E6E6E6;}
.face_fear_arrow * {display: block;  font-family: "SimSun"; font-size: 21px;height: 10px;overflow: hidden;}
.face_fear_arrow span {color: #F8F8F8;margin: -9px 0 0;position: relative;z-index: 22;}   
.face_fear_comments_in {background: none repeat scroll 0 0 #F8F8F8; border-color: #EFEFEF;border-radius: 3px 3px 3px 3px;border-style: solid; border-width: 1px; margin: 0;padding: 6px; height:auto;}
.Face_a{ background:url(../Images/SpritePlugin.png) no-repeat 0 -178px; float:left; display:block; padding-left:20px; line-height:18px;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{clear:both;zoom:1}

