/*公共样式 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td,hr,button,figure,menu{margin:0;padding:0;}
body{font:12px/22px Tahoma,Arial,\5b8b\4f53,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
a img{border:none; vertical-align:top;}
a{ text-decoration:none;}a:hover{ text-decoration: none;}
body{ font-family:'Microsoft YaHei'; background:#e4e4e4;}

.icon{ display:inline-block; width:16px; height:16px; background:url(../Images/icon_index.png) no-repeat;}
.icon_24{ display:inline-block; width:24px; height:24px; background:url(../Images/icon_24.png) no-repeat;}
.icon_con{ display:inline-block; width:16px; height:16px; background:url(../Images/icon_construction.png) no-repeat;}
.icon_mooc{ display:inline-block; width:16px; height:16px; background:url(../Images/icon_mooc.png) no-repeat;}
.file{background-position:-96px -72px;}
.doc{ background-position:-96px 0;}
.mp4{ background-position:-96px -24px;}
.mp3{background-position:-96px -48px;}
.flv{background-position:-96px -96px;}
.ppt{background-position:-96px -120px;}
.iso{background-position:-96px -144px;}
.rar{background-position:-96px -168px;}
.zip{background-position:-96px -192px;}
.pdf{ background-position:0 -96px;}
.psd{ background-position:0 -120px;}
.txt{ background-position:0 -144px;}
.excel{ background-position:0 -168px;}
.html{ background-position:0 -192px;}
.paper{ background-position:-72px -192px;}

/*公共头部开始*/
.public_header{ width:100%; height:50px; background:#fff; border-bottom:3px solid #77829a;}
.header_center{ width:1200px; margin:0 auto; overflow:hidden; zoom:1; font-family:'Microsoft YaHei';}
.company_logo{ float:left; margin:10px 10px 0 0; height:30px; line-height:25px; font-size:20px; color:#333;}
.company_logo img{ display:block; float:left; margin-right:10px;}
.user_box{ float:right; width:110px; margin-top:10px; line-height:30px; color:#fff;  position:relative; z-index:10;}
.user_name{ height:30px; background:#374760; font-size:14px; position:relative;}
.user_name img{ display:inline-block; float:left; width:20px; height:20px; margin:2px 10px 0 3px; border:2px solid #2a3950}
.user_name span.icon_arrow{ display:block; width:16px; height:16px; background-position:0 0; position:absolute; right:5px; top:7px;}
.user_name span.zhankai{ background-position:0 -16px;}
.user_info{ display:none; background:#374760; padding:5px 0;}
.user_info li a{ display:block;height:30px; line-height:30px; padding-left:10px; color:#fff;}
.user_info li a:hover{ text-decoration:none; background:#14a4fa;}
.nav_box{ overflow:hidden; zoom:1; margin-top:10px;}
.nav_box li{ height:40px; float:left;}
.nav_box li.active a{ background:#374760; color:#fff; border-bottom:10px solid #374760;}
.nav_box li a{ display:block; width:80px; text-align:center; font-size:14px; height:30px; line-height:30px;  color:#666;}
.nav_box li a:hover{ text-decoration:none;}
.nav_box li.hover a{background:#e4e4e4;}
/*公共头部结束*/
/*公共底部*/
.footer{ width:1200px; margin:15px auto 0; overflow:hidden; zoom:1;height:30px; line-height:30px; color:#fff;font-family:'Microsoft YaHei';}
.copyright{ float:left; overflow:hidden; zoom:1; font-size:13px; }
.copyright img{ display:block; float:left; margin-right:13px;}
.company_info{ float:right;font-size:12px; }
.company_info a{ color:#fff; padding:0 5px;}
.company_info a:hover{ text-decoration:underline;}
.backto_top{ display:block; width:40px; height:40px; background-position:-69px -40px; position:fixed; bottom:60px; left:50%; margin-left:620px;}
/*公共底部结束*/

.main_all{ width:1000px; margin:30px auto; overflow:hidden; zoom:1;}
.main_all h3{ font-size:18px; color:#333;}
.step_nav_box{ margin-top:20px; overflow:hidden; zoom:1;}
.step_nav{ float:left; overflow:hidden; zoom:1; padding-left:30px;}
.step_nav li{ float:left; z-index:2; position:relative;}
.step_nav li.active a,.step_nav li a:hover{ background:#990000; color:#fff;}
.step_nav li.index1{ z-index:1;}
.step_nav li.index2{ z-index:2;}
.step_nav li.index3{ z-index:3;}
.step_nav li a{ display:block; width:198px; height:30px; text-align:center; line-height:30px; background:#ccc; border-right:1px solid #fff; border-radius:30px; margin-left:-30px; font-size:13px; color:#333;}
.create_box{ float:right;}
.create_box a{ float:left; margin-right:5px; line-height:24px; font-size:13px; color:#333;}
.create_box a:hover{ text-decoration:underline;}
.icon_home{ background-position:-24px -144px;}
.icon_eye{ background-position:-72px -24px;}
.icon_plan{background-position:-48px -144px;}

.main_content{ margin-top:20px; background:#fff; padding:30px; overflow:hidden; zoom:1; border:1px solid #ccc;}
.text_box{ color:#333; padding-bottom:10px; border-bottom:1px solid #ccc;}
.tips{ margin-top:15px; height:30px; line-height:30px; background:#fbf9e0; border:1px solid #e4e4e4;}
.tips i{ float:left; margin:7px 10px 0 15px; color:#333;}
.course_box{ margin-top:20px; overflow:hidden; zoom:1; position:relative;}
.tip_text{ width:373px; height:67px; background:url(../Images/tip_text.png) no-repeat; position:absolute; left:396px; top:40px;}
.tip_text span{ display:block; width:10px; height:10px; position:absolute; top:2px; right:-1px; cursor:pointer;}
.course_nav_box{ height:46px; border-bottom:1px solid #e4e4e4;}
.course_nav{ overflow:hidden; zoom:1;}
.course_nav li{ float:left; margin-right:4px;}
.course_nav li.active a,.course_nav li a:hover{ margin-top:1px; background:#fff; color:#333;}
.course_nav li a{ display:block; width:100px; height:45px; line-height:45px; text-align:center; border:1px solid #e4e4e4; border-bottom:0; background:#eff0f2; font-size:14px; color:#999; }
.course_detail{ border:1px solid #e4e4e4; border-top:0; overflow:hidden; zoom:1;}
.setting_box{ height:52px; line-height:52px;  overflow:hidden; zoom:1;}
.setting_list{ float:left;color:#999;}
.setting_list p{ float:left; margin-left:13px;}
.setting_list p input[type=checkbox]{ height:52px; vertical-align:middle; margin-right:3px;}
.setting_list p input[type=text]{ width:45px; height:30px; border:1px solid #ccc; line-height:30px; text-align:center; margin:0 5px; font-size:14px; color:#666;}
.icon_name{ float:right; margin-right:38px;}
.icon_name li{ float:left; width:40px; color:#333;}
.course_table{ width:100%;}
.course_table tr td{ height:46px; line-height:46px; border-top:1px solid #e4e4e4;}
.course_table tr td i{ cursor:pointer;}
.course_table tr.active{ background:#f2f2f2;}
.course_table tr.active .operation_btn{ display:block;}
.first_menu{ margin-left:23px; font-size:13px; color:#333; font-weight:bold;}
.icon_brief{ background-position:0 -16px;}
.icon_data{ background-position:-16px 0; width:19px;}
.icon_discuss{ background-position:-64px -48px;}
.icon_test{ background-position:0 -32px;}
.icon_know{ background-position:0 -48px;}
.second_menu{ overflow:hidden; zoom:1;}
.second_menu p{ float:left; margin-left:77px; color:#333;}
.operation_btn{ display:none; float:right; margin:8px 30px 0 0; width:146px; height:30px; background:url(../Images/btn_list.gif) no-repeat;}
.operation_btn li{ float:left; width:28px; margin-left:1px; height:30px; cursor:pointer;}
.btn_box{ margin-top:20px; text-align:center;}
.btn_box a{ display:inline-block; height:30px; line-height:30px; padding:0 25px; border:1px solid #ccc; margin-left:10px; font-size:14px;}
.cancel{ color:#666; background:#f2f2f2;}
.cancel:hover{ background:#dad7d7;}
.keep{ color:#fff; background:#374760;}
.keep:hover{ background:#303d51;}
.save{ background:#cc0000; color:#fff;}
.save:hover{ background:#b00606;}

/*弹出框样式*/
.pop_bg{display:none; width:100%; height:100%; position:absolute; top:0; left:0;background-color: rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); z-index:998;}
.pop_600{ display:none;width:600px; position:absolute; left:50%; margin-left:-300px; top:200px; background:#fff; z-index:999; }
.pop_600 h4{ height:40px; line-height:40px; background:#1e5975; font-size:14px; color:#fff; padding-left:13px;}
.icon_close{ background-position:-37px -128px; position:absolute; right:12px; top:12px; cursor:pointer;}
.pop_400{ display:none; width:400px; position:absolute; left:50%; margin-left:-200px; top:200px; background:#fff; z-index:999;}
.pop_400 h4{ height:40px; line-height:40px; background:#1e5975; font-size:14px; color:#fff; padding-left:13px;}
.pop_800{ display:none; width:800px; position:absolute; top:200px; left:50%; margin-left:-400px; z-index:999;}
.pop_800 h4{ height:40px; line-height:40px; background:#1e5975; font-size:14px; color:#fff; padding-left:13px;}

.wrap_box{ padding:19px; border:1px solid #ccc; overflow:hidden; zoom:1;}
.brief_box textarea{ width:348px; height:88px; overflow:auto; border:1px solid #e2e3ea; color:#999; font-size:12px; padding:5px; resize:none;}
.brief_box p{ font-size:13px; color:#666; margin-top:20px;}
.brief_box p input{ width:48px; height:30px; line-height:30px\9; text-align:center; border:1px solid #ccc;}
.brief_box p span{ color:#ff0000; font-weight:bold; padding-left:10px;}
.upload_btn{ height:25px; line-height:25px; overflow:hidden; zoom:1; color:#999;}
.upload_btn a{ float:left; margin-right:10px; overflow:hidden; zoom:1; width:105px; height:25px; background:url(../Images/add_bg.gif) no-repeat; color:#fff;}
.upload_btn a em{ width:25px; height:25px; float:left;}
.upload_btn a em i{ margin:4px 0 0 4px;}
.upload_btn a span{ display:block; overflow:hidden; width:80px; text-align:center;}
.upload_btn a:hover{ background:url(../Images/add_bg_hover.gif) no-repeat;}
.icon_up{ background-position:-32px -16px;}
.icon_add{ background-position:-53px 0;}
.data_table{ width:100%; margin-top:10px; border:1px solid #ccc;}
.data_table tr td{ height:39px; line-height:39px; color:#666; border-bottom:1px solid #ccc;}
.data_name{ padding-left:13px;}
.data_name i{ float:left; margin:7px 10px 0 0;}
.data_btn i{ float:left; margin-right:10px; cursor:pointer;}
.icon_flag{ background-position:-32px -32px;}
.icon_flag2{ background-position:-32px -48px;}
.icon_delete{ background-position:-37px -192px;}


































