@charset "utf-8";
/* CSS Document */

.icon_pro{ display:inline-block; width:16px; height:16px; background:url(../Images/icon_progress.png) no-repeat;}
/*学习进度-主页*/
.progress_box{ overflow:hidden;}
.time_filter{ float:right; height:20px; line-height:20px; overflow:hidden; margin:10px 25px 0 0; color:#333;}
.time_filter span{ float:left; margin-right:20px;}
.time_filter a{ display:inline-block; height:20px; line-height:20px; padding:0 10px; color:#333;}
.time_filter a:hover,.time_filter a.active{ background:#475c7c; color:#fff;}
.progress_box img{ display:block;}
.tit_box{ margin-top:10px; padding:0 25px; height:25px; padding-bottom:7px; border-bottom:1px solid #374760;}
.tit_box h5{ float:left; height:25px; line-height:25px; border-bottom:3px solid #374760; font-size:16px; color:#333; padding:0 15px 5px;}
.operation_btn{ float:right; margin-left:6px; width:105px; height:25px; line-height:25px; background:url(../Images/add_bg.gif) no-repeat; overflow:hidden; color:#fff;}
.operation_btn:hover{ background:url(../Images/add_bg_hover.gif) no-repeat;}
.operation_btn em{ float:left; width:25px; height:25px;}
.operation_btn em i{ margin:4px 0 0 4px;}
.form_btn{ background-position:0 0;}
.operation_btn span{ float:left; width:80px; text-align:center; }
.search_box{ float:right; overflow:hidden; position:relative;}
.search_box input{ padding:0 22px 0 6px; width:170px; border:1px solid #797979; height:23px; line-height:23px; font-size:12px;}
.search_box i{ position:absolute; top:4px; right:3px; cursor:pointer;}
.search_btn{ background-position:0 -16px;}

.result_box{ overflow:hidden;}
.class_table{ width:100%; border:1px solid #e4e4e4; border-top:0;}
.class_table tr th,.class_table tr td{ height:44px; line-height:44px;  color:#333;}
.class_table tr th{ background:#f1f1f1; border-right:1px solid #fff; font-weight:normal;}
.class_table tr th i{ cursor:pointer; margin-left:5px; vertical-align:middle;}
.rank_btn{ background-position:0 -32px;}
.class_table tr td{ border:1px solid #e4e4e4;}
.pad20{ padding-left:20px;}
.result_tip{ height:34px; line-height:34px; background:#fff7dd; padding-left:20px; color:#333;}
.result_tip a{ padding-left:15px; color:#38485f;}

/*进度详情*/
.progress_btn{ float:right; line-height:25px; margin-left:10px; color:#374760;}
.progress_btn i{ float:left; margin:4px 5px 0 0;}
.export_btn{ background-position:0 -64px;}
.ducu_btn{ background-position:0 -48px;}
.auto_box{ float:right; position:relative;}
.auto_box a{ display:block; height:25px; line-height:25px; padding:0 15px; border:1px solid #fff; border-radius:5px 5px 0; color:#374760; }
.auto_box a i{ vertical-align:middle;}
.fold_btn{ background-position:-16px 0;}
.ducu_box{ display:none; background:#fff; width:320px; padding:10px; border:1px solid #797979; border-radius:5px 0 5px 5px; position:absolute; top:25px; right:0; z-index:2;}
.ducu_box p{ color:#374760; overflow:hidden; }
.ducu_box p input{ float:left; height:22px; margin-right:3px;vertical-align:middle; }
.select_box{ height:25px; line-height:25px; padding:12px 30px 12px 12px;border-bottom:1px solid #e4e4e4; background:#f6f6f6; overflow:hidden;}
.select_box .operation_btn{ width:75px; margin-left:15px;}
.select_box .operation_btn span{ width:50px;}
.select_box .search_box{ margin-right:25px;}
.select_box .search_box input{ width:110px;}
.radio_box{ float:left;}
.radio_box span{ float:left; margin-right:20px; color:#374760;}
.radio_box span input[type=radio]{ float:left; height:25px; vertical-align:middle; margin-right:5px;}
.radio_box span input[type=text]{ width:35px; height:23px; line-height:23px; text-align:center; border:1px solid #ccc; margin:0 5px;}

.stu_table{ width:100%;} 
.stu_table tr th,.stu_table tr td{ height:40px; line-height:40px; border-bottom:1px solid #e4e4e4; color:#374760;}
.stu_table tr th{ font-weight:normal; text-align:left;}
.stu_table tr th input,.stu_table tr td input{ float:left; height:40px; vertical-align:middle; margin-right:5px;}
.study_box{ width:150px; height:20px; line-height:20px; border:1px solid #999; position:relative; overflow:hidden;}
.study_box span{ display:block; height:20px; background:#14a4fa; position:absolute; top:0; left:0; width:50%;}
.study_box b{ display:block; padding-left:15px; position:relative;}
.operation_box{ overflow:hidden;}
.operation_box span{ float:left; width:36px; margin-right:10px;}
.operation_box a{ padding-left:10px; color:#374760;}
/*确认弹出框*/
.warning_box{ overflow:hidden; line-height:48px; font-size:16px; color:#666;}
.warning_box img{ float:left; margin-left:50px;}
/*批量督促弹出框*/
.ducu_item_box{ padding:20px 49px; overflow:hidden; border:1px solid #ccc; background:#fff;}
.limit_box{ margin-top:20px; font-size:13px; color:#666;}
.limit_box select{ margin-left:10px;}
.ducu_item{ margin-top:20px; overflow:hidden;}
.ducu_item span{ display:block; font-size:13px; color:#666;}
.ducu_item input{ display:block; padding:3px 4px; width:490px; height:22px; line-height:22px; border:1px solid #999; margin-top:5px;}
.ducu_item textarea{ margin-top:5px; padding:4px; height:105px; width:490px; border:1px solid #999; resize:none;}
.inform_box{ margin-top:10px; overflow:hidden;}
.inform_box span{ float:left; margin-right:40px; color:#333;}
.inform_box span input{ float:left; height:22px; vertical-align:middle; margin-right:3px;}


/*学生进度*/
.current_guide{ padding-left:30px; line-height:54px; color:#fff; overflow:hidden;}
.stu_box{ padding:20px 30px; overflow:hidden;}
.stu_detail{ float:left;}
.stu_detail img{ float:left; margin-right:20px;}
.detail_box{ width:300px; float:left; overflow:hidden;}
.bar_box{ overflow:hidden; margin-top:15px;}
.bar_box p{ float:left; margin-right:15px; font-size:20px; color:#374760;}
.detail_num{ font-size:14px; color:#333; line-height:25px;}
.detail_num span{ font-size:20px; color:#f44f4f; padding:0 5px;}
.data_box{ float:right; margin-right:40px;}
.data_box img{ float:right; margin:20px 0 0 35px;}
.percent_box{ float:right; margin:20px 0 0 35px; overflow:hidden; width:70px; height:70px; line-height:70px; text-align:center; background:url(../Images/round1.png) no-repeat; position:relative;}
.percent_box p{ font-size:18px; color:#374760; position:relative; z-index:2;}
.blue_box{ position:absolute; left:0; bottom:0; width:70px; height:30px; background:#14a4fa; z-index:1;}
.blue_box span{ display:block; width:70px; height:70px; background:url(../Images/bg1.png) no-repeat; position:absolute; bottom:0; left:0;}
.data_detail{ float:right; margin-top:20px; line-height:25px;}
.rate_box{ overflow:hidden; }
.rate_nav{ padding:0 30px; border-bottom:1px solid #374760; height:25px; padding-bottom:7px;}
.rate_nav li{ float:left;}
.rate_nav li.active a{ border-bottom:3px solid #374760; color:#333;}
.rate_nav li a{ display:block; height:25px; line-height:25px; font-size:16px; color:#999; font-weight:bold; padding:0 15px 5px;}
.rate_list{ margin:-5px 75px 0 90px; border-left:1px solid #999; }
.chapter_box{ position:relative;  height:40px;line-height:40px; margin-top:25px;}
.chapter_box2 .round_icon{ top:0;}
.start{ display:block;  font-size:16px; color:#333; position:absolute; left:-60px; top:0;}
.round_icon{ background-position:-16px -16px; position:absolute; top:12px; left:-8px;}
.start_time{ font-size:16px; color:#333; padding-left:20px; }
.chapter_list{ float:left; margin-left:20px; overflow:hidden;}
.chapter_list li{ float:left; margin-right:17px; width:40px; text-align:center; height:40px; background:url(../Images/round2.png) no-repeat; position:relative;}
.chapter_list li.plan_rate{ background:url(../Images/round3.png) no-repeat;}
.chapter_list li p.plan_text{ line-height:16px; margin:4px 0; color:#f44f4f; font-size:12px;}
.chapter_list li p{ color:#333; font-size:18px; position:relative; z-index:5;}
.chapter_list li p span{ font-size:12px;}
.round_box{ position:absolute; bottom:0; left:0; background:#14a4fa; width:40px; height:20px;}
.round_box span{ display:block; width:40px; height:40px; background:url(../Images/bg2.png) no-repeat; position:absolute; bottom:0; left:0;}
.study_day{ float:right; overflow:hidden;}
.study_day img{ float:right; margin-left:10px;}
.study_day p{ float:right; font-size:14px; color:#333; margin-left:10px;}
.study_day p b{ font-size:16px; color:#374760; padding:0 5px;}
.study_day i{ float:right; margin-top:12px;}
.clock{ background-position:-16px -32px;}


/*资料使用情况*/
.data_table{ width:100%;}
.data_table tr th,.data_table tr td{ height:40px; line-height:40px;}
.data_table tr th{ font-size:16px; color:#333; font-weight:normal; text-align:left;}
.data_table tr td{ font-size:14px; color:#666;}


