<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="GoogleAnalytics:PropertyID" value="" />
    <add key="webpages:Version" value="3.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="aspnet:MaxHttpCollectionKeys" value="50000"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" />
    <add key="G2SURL" value="http://192.168.4.231/G2S/" />
    <add key="AdminURL" value="http://192.168.4.231Admin/" />
    <add key="ResourceURL" value="http://192.168.4.231/Resource/" />
    <add key="CASURL" value="http://192.168.4.231/portal/login.aspx" />
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="2097151" executionTimeout="120"/>
    <authentication mode="Forms">
      <forms name="ies" loginUrl="login.aspx" timeout="120"></forms>
    </authentication>

    <customErrors mode="Off" defaultRedirect="Utility/Error.htm">
    </customErrors>
    <machineKey
    validationKey="EF936296B4B062FFD6B7074C0501D7CCEFB50C19A75613AEEC603B4EF5F42AEDC463FDE81707795DDAA5FD4AA0D88CC30E9D413699A7E814358876FC9E75B883"
    decryptionKey="948F668DFEEC39CB8BF07E222BFEED5C5B5B9FF427E0F92976534EE8D517F325"
    validation="SHA1"
    decryption="AES"
    />
  </system.web>  

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="60000000" recursionLimit="1000" />
      </webServices>
    </scripting>
  </system.web.extensions>
 <connectionStrings>
    <remove name="ies_analyse"/>
    <remove name="ies_ccconnn"/>
    <remove name="ies_jwconnn"/>
    <remove name="ies_portalconnn"/>
    <remove name="ies_resourceconn"/>
    <remove name="ies_connn"/>
    <add name="ies_analyse" connectionString="packet size=4096;user id=sa; PWD =sa; data source=.;persist security info=False;initial catalog='IES_Analyse';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_ccconnn" connectionString="packet size=4096;user id=sa; PWD =sa; data source=.;persist security info=False;initial catalog='IES_CC';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_jwconnn" connectionString="packet size=4096;user id=sa; PWD =sa; data source=.;persist security info=False;initial catalog='IES_JW';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_portalconnn" connectionString="packet size=4096;user id=sa; PWD =sa; data source=.;persist security info=False;initial catalog='IES_Portal';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_resourceconn" connectionString="packet size=4096;user id=sa; PWD =sa; data source=.;persist security info=False;initial catalog='IES_Resource';Connect Timeout=30000;Asynchronous Processing=true" />
    <add name="ies_connn" connectionString="packet size=4096;user id=sa; PWD =sa; data source=.;persist security info=False;initial catalog='IES';Connect Timeout=30000;Asynchronous Processing=true" />
  </connectionStrings>

  <system.web.webPages.razor>
    <host factoryType="System.Web.WebPages.Razor.WebRazorHostFactory, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.WebPages.WebPage">
      <namespaces>
        <add namespace="System.Web.Configuration" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <location path="crossdomain.xml">
    <system.webServer>
      <staticContent>
        <clear />
        <mimeMap fileExtension=".xml" mimeType="text/x-cross-domain-policy" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>
