@{
    //Layout = null;
}
<link href="~/Css/index.css" rel="stylesheet" />
<div ng-controller="ScoreManageCtrl">
    <div class="exercise_search">
        <div class="select_condition">
            <ul class="knowledge_sort">
                <li><a href="#">成绩明细</a></li>
                <li class="active"><a href="#">成绩管理</a></li>
                <li><a href="#">成绩分析</a></li>
            </ul>
        </div>
        <div class="exercise_btn">
            @*<span class="sort_box">[筛选]</span>*@

            <a href="javascript:;" class="import_exercise">
                <em><i class="icon"></i></em>
                <span>导出列表</span>
            </a>
            <a href="javascript:;" class="topic_import"><em><i class="icon"></i></em><span>录入成绩</span></a>
            <a href="javascript:;" class="import_exercise" ng-href="scoretype">
                <em><i class="icon"></i></em>
                <span>类别管理</span>
            </a>
            <p class="search_topic"><input type="text" placeholder="请输入您要搜索的关键字"><span class="icon" href="#"></span></p>
        </div>
    </div>
    <span>{{selected}}</span>
    <table class="course_data paper_data">
        <tr>
            <th width="350">
                <div class="data_name">
                    <p>成绩名称</p>
                </div>
            </th>
            <th width="100">
                <select style="width:130px;height:25px;" ng-model="selected" ng-options="m.Name for m in ScoreTypeItem" ng-change="ScoreManageInfo_List();">
                    <option value="">全部</option>
                </select>
            </th>
            <th width="120">参加人数</th>
            <th width="90">平均分</th>
            <th width="80">低于60分</th>
            <th width="80" title="不包含80分">60分~80分</th>
            <th width="80">大于80分</th>
        </tr>
        <tr ng-repeat="item in ScoreManageInfoItem">
            <td>
                <div class="data_name">
                    <a>{{item.Name}}</a>
                </div>
                <div class="topic_icon" style="display:block;">
                    <a class="icon icon_remove" href="javascript:;" title="删除"></a>
                    <a class="icon icon_remove" href="javascript:;" title="发放"></a>
                    <a ng-show="false" class="icon icon_write" href="javascript:;" title="编辑"></a>
                </div>
            </td>
            <td>{{item.ScoreTypeName}}</td>
            <td>{{item.JoinStudent}}</td>
            <td>{{item.AvgScore}}</td>
            <td>{{item.C}}</td>
            <td>{{item.B}}</td>
            <td>{{item.A}}</td>
        </tr>
        <tr>
            <td>
                <div class="data_name">
                    <a>测试试卷</a>
                </div>
                <div class="topic_icon">
                    <a class="icon icon_write" href="javascript:;"></a>
                    <a class="icon icon_remove" href="javascript:;"></a>
                    <a class="icon icon_remove" href="javascript:;"></a>
                </div>
            </td>
            <td>智能型试卷</td>
            <td>250</td>
            <td>50</td>
            <td>100</td>
            <td>
                50
            </td>
            <td>50</td>
        </tr>
        <tr>
            <td>
                <div class="data_name">
                    <a>测试试卷</a>
                </div>
                <div class="topic_icon">
                    <a class="icon icon_write" href="javascript:;"></a>
                    <a class="icon icon_remove" href="javascript:;"></a>
                    <a class="icon icon_remove" href="javascript:;"></a>
                </div>
            </td>
            <td>智能型试卷</td>
            <td>250</td>
            <td>50</td>
            <td>100</td>
            <td>
                50
            </td>
            <td>50</td>
        </tr>
        <tr>
            <td>
                <div class="data_name">
                    <a>测试试卷</a>
                </div>
                <div class="topic_icon">
                    <a class="icon icon_write" href="javascript:;"></a>
                    <a class="icon icon_remove" href="javascript:;"></a>
                    <a class="icon icon_remove" href="javascript:;"></a>
                </div>
            </td>
            <td>智能型试卷</td>
            <td>250</td>
            <td>50</td>
            <td>100</td>
            <td>
                50
            </td>
            <td>50</td>
        </tr>
    </table>
    <div id="page" style="margin:20px; margin-left:150px;"></div>
</div>