@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="ScoreTypeCtrl">
    <ul>
        <li ng-repeat="item in ScoreTypeItem|filter:{'ParentID':'0'}">
            <a>{{i=$index+1}}{{item.Name}}</a><button ng-click="showBox(item)">新增</button>
            <button ng-show="item.IsSystem?false:true" ng-click="ScoreType_Del(item)">删除</button>
            <button ng-click="ScoreType_Status_Upd(item)">启用/禁用</button>
            <ul>
                <li ng-repeat="it in ScoreTypeItem|filter:{'ParentID':item.ScoreTypeID}">
                    <a>---------->{{i}}.{{$index+1}}{{it.Name}}{{it.IsSystem?'  (系统)':''}}{{it.Status?'  (已启用)':'(已禁用)'}}</a>
                    <button ng-show="it.IsSystem==1?false:true" ng-click="ScoreType_Del(it)">删除</button>
                    <button ng-click="ScoreType_Status_Upd(it)">启用/禁用</button>
                    <button ng-show="it.IsSystem==1?false:true" ng-click="EditShowBox(it)">编辑</button>
                </li>
            </ul>
        </li>
    </ul>
    <div class="pop_400 ng-hide" style="display: block; text-align: center; border: 1px solid #ddd; height: 180px; " ng-show="show">
        <h4>新增成绩类别</h4>
        <span class="icon close_pop"></span>
        <div class="member_detail">
            <div class="member_list"><input type="text" ng-model="ScoreType.Name" /></div>
            <div class="btn_box">
                <a class="save" href="javascript:;" ng-click="ScoreType_Add()">保存</a>
                <a class="cancel" href="javascript:;" ng-click="show=false">取消</a>
            </div>
        </div>

    </div>
    <div class="pop_400 ng-hide" style="display: block; text-align: center; border: 1px solid #ddd; height: 180px; " ng-show="EditShow">
        <h4>编辑成绩类别</h4>
        <span class="icon close_pop"></span>
        <div class="member_detail">
            <div class="member_list"><input type="text" ng-model="ScoreType.Name" /></div>
            <div class="btn_box">
                <a class="save" href="javascript:;" ng-click="ScoreType_Name_Upd()">保存</a>
                <a class="cancel" href="javascript:;" ng-click="ScoreType_List();EditShow=false;">取消</a>
            </div>
        </div>

    </div>
</div>
