@{
    //Layout = null;
}
<style>
    td {
        border:1px solid #DDD;
    }
</style>
<link href="~/Css/index.css" rel="stylesheet" />
<div ng-controller="ScoreAnalyseCtrl" style="text-align:center;">
    <div class="exercise_search">
        <div class="select_condition">
            <ul class="knowledge_sort">
                <li><a href="#">成绩明细</a></li>
                <li><a href="#">成绩管理</a></li>
                <li class="active"><a href="#">成绩分析</a></li>
            </ul>
        </div>
        <div class="exercise_btn">
            @*<span class="sort_box">[筛选]</span>*@

            <a href="javascript:;" class="import_exercise">
                <em><i class="icon"></i></em>
                <span>导出列表</span>
            </a>
            <a href="javascript:;" class="import_exercise" ng-href="scoretype">
                <em><i class="icon"></i></em>
                <span>类别管理</span>
            </a>
            <p class="search_topic"><input type="text" placeholder="请输入您要搜索的关键字"><span class="icon" href="#"></span></p>
        </div>
    </div>
    <table align="center">
        <tr>
            <td width="80">学号</td>
            <td width="80">姓名</td>
            <td ng-repeat="item in ScoreType|filter:{'ParentID':0}">
                <table align="center">
                    <tr>
                        <td style="border:0" width="80" colspan="{{item.Count>0?item.Count+1:1}}" rowspan="{{item.Count>0?1:2}}">{{item.Name}}</td>
                    </tr>
                    <tr>
                        <td width="80" ng-repeat="ie in ScoreType|filter:{'ParentID':item.ScoreTypeID}">{{ie.Name}}</td>
                        <td width="80" rowspan="1" ng-show="item.Count>1">总计</td>
                    </tr>
                </table>
            </td>
            <td width="80">奖励分</td>
            <td width="80">总成绩</td>
        </tr>
        <tr ng-repeat="it in ScoreAnalyseItem">
            <td width="80">{{it.UserNo}}</td>
            <td width="80">{{it.UserName}}</td>
            <td ng-repeat="item in ScoreType|filter:{'ParentID':0}">
                <table align="center">
                    <tr>
                        <td style ="border:0" width="80" ng-show="(item.Count==0&&item.ParentID==0)">
                            <span ng-repeat="i in it.Score|filter:{'ScoreTypeID':item.ScoreTypeID}">   {{i.Score}}   </span>
                        </td>
                        <td style="border-bottom:0;border-top:0;" width="80" ng-repeat="ie in ScoreType|filter:{'ParentID':item.ScoreTypeID}">
                            <span ng-repeat="it in it.Score|filter:{'ScoreTypeID':ie.ScoreTypeID}">{{it.Score}}  </span>
                        </td>
                        <td style="border-bottom:0;border-top:0;" width="80" rowspan="1" ng-show="item.Count>1">30</td>
                    </tr>
                </table>
            </td>
            <td width="100"><input style="width:60px" type="text" ng-model="Scorejl" /></td>
            <td width="80">{{Scorejl}}</td>

        </tr>
    </table>
    @{

        string s = "123456789";
    }
    @s
    <hello></hello>
</div>