@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>论坛-发帖</title>
    <link rel="stylesheet" href="../../css/forum.css">
    <link href="~/Views/CourseLive/Forum/style.css" rel="stylesheet" />
</head>

<body>
    @*@using IES.Service.Common;


        @Browse.CurrentOC*@
    <div class="wrap">
        <div class="main_all main_course" ng-controller="ForumTopicCtrl">
            <!--右侧主题内容开始-->
            <div class="main_content">
                <div class="coursesite_box">
                    <div class="current_class post_page">
                        <a class="return_home" href="javascript:history. back();"><i class="icon_forum icon_return"></i>返回</a>
                    </div>
                    <div class="tips_box" ng-init="tag=true" ng-show="tag">
                        <p>如果你对我们的系统有任何问题，请发帖到<a href="#">在线客服模块</a>，我们会第一时间为你解答。</p>
                        <i class="icon icon_cancel" onclick="$('.tips_box').slideUp()"></i>
                    </div>
                    <form name="myForm">
                        <div class="post_box">
                            <input class="post_tit" ng-model="ForumTopic.Title" maxlength="50" type="text" placeholder="请输入话题名称[50个字以内]" required>
                            <div class="example_box">
                                <span>取一个好的标题常常会引起大家更活跃的讨论，如：</span>
                                <p><i class="icon_forum icon_good"></i>量子力学的运动定律是什么？</p>
                                <p><i class="icon_forum icon_bad"></i>讨论量子力学（范围太宽没有针对性）</p>
                            </div>
                            <div class="text_box">
                                @*<img src="../../images/text_box2.jpg" width="870" height="250" alt="">*@
                                <input type="hidden" name="oEditor1" ng-value="ForumTopic.Conten" id="oEditor1" />
                                <iframe id="frmoEditor1" ng- src="../../../../Frameworks/ewebeditor/ewebeditor.htm?id=oEditor1&style=mini" frameborder="0" scrolling="no" width="870" height="250" style="display: block;"></iframe>
                            </div>
                            <div class="select_module">
                                <select ng-model="selected" ng-options="m.ForumTypeID as m.Title for m in ForumType_Item" required>
                                    <option selected="selected" value="">请选择版块</option>
                                </select>
                                <p>在适当的版块里面进行讨论，话题将更加聚焦，更能引起共鸣和讨论</p>
                            </div>
                            <div class="label_box">
                                <div class="label_name">
                                    <input style="width:130px" type="text" ng-show="Tags.Tags[0].show" ng-model="Tags.Tags[0].text" maxlength="8" placeholder="请输入标签名称">&nbsp;
                                    <input style="margin-left: 15px; width: 130px" type="text" ng-show="Tags.Tags[1].show" ng-model="Tags.Tags[1].text" maxlength="8" placeholder="请输入标签名称">&nbsp;
                                    <input style="margin-left: 15px; width: 130px" type="text" ng-show="Tags.Tags[2].show" ng-model="Tags.Tags[2].text" maxlength="8" placeholder="请输入标签名称">&nbsp;
                                    <input style="margin-left: 15px; width: 130px" type="text" ng-show="Tags.Tags[3].show" ng-model="Tags.Tags[3].text" maxlength="8" placeholder="请输入标签名称">&nbsp;
                                    <input style="margin-left: 15px; width: 130px" type="text" ng-show="Tags.Tags[4].show" ng-model="Tags.Tags[4].text" maxlength="8" placeholder="请输入标签名称">
                                    <em><i class="icon icon_add" ng-click="SowTags(Tags.num)"></i></em>
                                </div>
                                <p>添加适当的标签将有利于大家更加快速的搜索到你的主题，同时也是对知识点的快速归类!<span>(标签名称长度8个字符以内)</span></p>
                            </div>
                            @*上传文件*@
                            <div nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter,fileSize,fileSuffix" ng-init="">
                                <input type="file" id="file" nv-file-select="" uploader="uploader" multiple style="display:none;" />
                                <a class="attach_box" href="javascript:;" onclick="$('#file').click()">
                                    <i class="icon_forum icon_upload"></i>
                                    上传附件
                                </a>
                                <div class="col-md-12" style="margin-top: 40px">
                                    <h3 style="font-size:20px;">上传队列</h3>
                                    <p>已选择文件: {{ uploader.queue.length }}</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">文件名</th>
                                                <th ng-show="uploader.isHTML5">大小</th>
                                                <th ng-show="uploader.isHTML5">进度</th>
                                                @*<th>状态</th>*@
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td><strong>{{ item.file.name }}</strong></td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div class="progress" style="margin-bottom: 0;">
                                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                @*<td class="text-center">
                                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </td>*@
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        上传
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        取消
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        移除
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <div>
                                            总进度:
                                            <div class="progress" style="">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> 上传所有
                                        </button>
                                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> 取消所有
                                        </button>
                                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                            <span class="glyphicon glyphicon-trash"></span> 移除所有
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @*<a class="issue_btn" href="javascript:;">发布</a>ForumTopic_Add();*@
                            <input class="issue_btn" style="width: 130px; background: #374760;" value="发布" type="button" ng-disabled="myForm.$invalid" ng-click="ForumTopic_Add();" />
                            <input class="issue_btn" style="width: 130px; background: #374760;" value="确定" type="button" ng-disabled="myForm.$invalid" ng-click="ForumTopic_Upd();" />
                        </div>
                    </form>
                </div>
            </div>b
            <!--右侧主题内容结束-->
        </div>
    </div>
    @*<a class="issue_btn" href="javascript:;" onclick="$G2S.Pie('rale',54.3,'green');">发布</a>
        <div id="rale" style=" width:600px;height:300px; margin-top:20px;"></div>*@
    <!--弹出框-->
</body>
</html>
