@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>论坛-话题列表</title>
    <link href="~/Css/forum.css" rel="stylesheet" />
</head>

<body ng-controller="ForumCtrl">
    <div class="wrap">
        <div class="main_all main_course">
            <!--右侧主题内容开始-->
            <div class="main_content">
                <div class="coursesite_box">
                    <div class="current_class">
                        <a class="return_home" href="javascript:history.back();"><i class="icon_forum icon_return"></i>返回</a>
                        <div class="theme_box">
                            <span class="theme_name">话题广场</span>
                            <div class="prensent">
                                <a class="prensent_class" href="#">我的班级[2]<span></span></a>
                                <div class="class_theme">
                                    <em></em>
                                    <span></span>
                                    <div class="myclass_box">
                                        <div class="class_search">
                                            <input type="text" placeholder="请输入搜索关键字">
                                            <a href="javascript:;">我的班级</a>
                                        </div>
                                        <table class="theme_table">
                                            <tr>
                                                <td width="240"><p><input type="checkbox">全选</p></td>
                                                <td><p>总帖/章节讨论/排名</p></td>
                                            </tr>
                                            <tr>
                                                <td><p><input type="checkbox" checked="checked">混合式课程设计与技术</p></td>
                                                <td><p class="table_c">[1/0/619]</p></td>
                                            </tr>
                                            <tr>
                                                <td><p><input type="checkbox" checked="checked">卓越商学院</p></td>
                                                <td><p class="table_c">[1/0/619]</p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="right_content">
                        <div class="module_list">
                            <img src="../../images/module1.gif" width="110" height="110" alt="">
                            <!--图片的选择-->
                            @*<img src="../../images/module2.gif" width="110" height="110" alt="">
                            <img src="../../images/module3.gif" width="110" height="110" alt="">*@
                            <ul class="post_num">
                                <li><span class="new_post">{{ForumType.essencenum}}</span>精华帖</li>
                                <li><span class="select_post">{{ForumType.topnum}}</span>置顶帖</li>
                                <li><span class="total_post">120</span>总帖</li>
                            </ul>
                            <div class="module_detail">
                                <h5>{{ForumType.Title}}</h5>
                                <p>创建时间:{{ForumType.CreateDate|dateFormat}}<br>{{ForumType.Brief}}</p>
                            </div>
                        </div>
                        <div class="forum_box">
                            <div class="theme_tit">
                                <ul class="theme_type">
                                    <li ng-class="active.All?'active':''" ng-click="activeInit();active.All=true"><a href="#" ng-click="AllTopic();ForumTopic_Search()">全部话题</a></li>
                                    <li ng-class="active.Essence?'active':''" ng-click="activeInit();active.Essence=true"><a href="#" ng-click="AllTopic();ForumTopic.IsEssence=true;ForumTopic_Search()">精华话题</a></li>
                                    <li ng-class="active.MyJoin?'active':''" ng-click="activeInit();active.MyJoin=true"><a href="#" ng-click="AllTopic();ForumTopic.IsMyJoin=true;ForumTopic_Search()">我参与的</a></li>
                                    <li ng-class="active.MyStart?'active':''" ng-click="activeInit();active.MyStart=true"><a href="#" ng-click="AllTopic();ForumTopic.IsMyStart=true;ForumTopic_Search()">我发起的</a></li>
                                </ul>
                                <div class="post_select" ng-mouseover="topaddshow = true" ng-mouseout="topaddshow=false">
                                    <a class="posts" href="topicadd">发帖<span></span></a>
                                    <div class="post_list" style="display:block;" ng-show="topaddshow">
                                        <a target="_self" href="topicadd">新帖子</a>
                                        <a href="#">新投票</a>
                                    </div>
                                </div>
                            </div>
                            <div class="select_factor">
                                <div class="rank_condition">
                                    <a href="#" ng-click="ForumTopic.Orde=0"><i class="icon_forum icon_low"></i>最新</a>
                                    <a href="#" ng-click="ForumTopic.Orde=1"><i class="icon_forum icon_top"></i>最热</a>
                                    <p><input type="radio" name="ResponseStatus" ng-click="ForumTopic.ResponseStatus=0">全部</p>
                                    <p><input type="radio" name="ResponseStatus" ng-click="ForumTopic.ResponseStatus=2">已回答</p>
                                    <p><input type="radio" name="ResponseStatus" ng-click="ForumTopic.ResponseStatus=1">未回答</p>
                                </div>
                                <div class="theme_search">
                                    <a href="javascript:;">全部设为已读</a>
                                    <p><input type="text" placeholder="请输入关键字" ng-model="ForumTopic.SearchKey"><i class="icon_forum icon_search" ng-click="ForumTopic_Search()"></i></p>
                                </div>
                            </div>
                            <div class="theme_wrap">
                                <ul class="theme_list">
                                    <li ng-repeat="m in ForumTopic_Item|orderBy:'-IsTop'">
                                        <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                                        <p class="praise_amount" ng-show="m.IsGood" ng-click="ForumMy_IsGood_Upd(m)"><i class="icon_24 {{m.IsGood?'icon_praise2':'icon_praise'}}"></i>{{m.Goods}}</p>
                                        <div class="theme_detail">
                                            <div class="post_name">
                                                <a target="_self" href="topicdetail?topicid={{m.TopicID}}&OCID={{OCID}}">{{m.Title}}</a>
                                                <span ng-show="m.IsTop" class="top_vertical">置顶</span>
                                                <span class="good_rate" ng-show="m.IsEssence">精Ⅲ</span>
                                            </div>
                                            <p><b>{{m.ForumTypeTitle}} [混合式课程设计与技术平台<1>班]</b>来自 [混合式课程设计与技术平台<1>班]  {{m.UserName}} ({{m.UpdateTime|dateFormat}}) . 最后回复 {{m.LastUserName}}  {{m.LastUpdateTime|dateFormat}}</p>
                                            <div class="posts_detail">
                                                <a title="回复次数" target="_self" href="topicdetail?topicid={{m.TopicID}}&OCID={{OCID}}"><i class="icon_forum icon_info"></i>{{m.Clicks}}</a>
                                                <a title="浏览次数" target="_self" href="topicdetail?topicid={{m.TopicID}}&OCID={{OCID}}"><i class="icon_forum icon_scan"></i>{{m.Responses}}</a>
                                            </div>
                                        </div>
                                    </li>
                                    @*<li ng-repeat="m in ForumTopic_Item">
                                            <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                                            <p class="praise_amount"><i class="icon_24 icon_praise2"></i>12</p>
                                            <div class="theme_detail">
                                                <div class="post_name">
                                                    <a href="#">{{m.Title}}</a>
                                                    <span class="top_vertical">置顶</span>
                                                </div>
                                                <p><b>自由讨论区 [混合式课程设计与技术平台<1>班]</b>来自 [混合式课程设计与技术平台<1>班]  陈建 (2014/09/24) . 最后回复 诸葛孔明  2014/10/26</p>
                                                <div class="posts_detail">
                                                    <a href="#"><i class="icon_forum icon_info"></i>12</a>
                                                    <a href="#"><i class="icon_forum icon_scan"></i>12</a>
                                                </div>
                                            </div>
                                        </li>*@
                                    @*<li>
                                            <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                                            <p class="praise_amount"><i class="icon_24 icon_praise"></i></p>
                                            <div class="theme_detail">
                                                <div class="post_name">
                                                    <a href="#">大家好</a>
                                                    <span class="good_rate">精Ⅲ</span>
                                                </div>
                                                <p><b>自由讨论区 [混合式课程设计与技术平台<1>班]</b>来自 [混合式课程设计与技术平台<1>班]  陈建 (2014/09/24) . 最后回复 诸葛孔明  2014/10/26</p>
                                                <div class="posts_detail">
                                                    <a href="#"><i class="icon_forum icon_info"></i>12</a>
                                                    <a href="#"><i class="icon_forum icon_scan"></i>12</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                                            <p class="praise_amount"><i class="icon_24 icon_praise"></i></p>
                                            <div class="theme_detail">
                                                <div class="post_name">
                                                    <a href="#">大家好</a>
                                                </div>
                                                <p><b>自由讨论区 [混合式课程设计与技术平台<1>班]</b>来自 [混合式课程设计与技术平台<1>班]  陈建 (2014/09/24) . 最后回复 诸葛孔明  2014/10/26</p>
                                                <div class="posts_detail">
                                                    <a href="#"><i class="icon_forum icon_info"></i>12</a>
                                                    <a href="#"><i class="icon_forum icon_scan"></i>12</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                                            <p class="praise_amount"><i class="icon_24 icon_praise"></i></p>
                                            <div class="theme_detail">
                                                <div class="post_name">
                                                    <a href="#">大家好</a>
                                                </div>
                                                <p><b>自由讨论区 [混合式课程设计与技术平台<1>班]</b>来自 [混合式课程设计与技术平台<1>班]  陈建 (2014/09/24) . 最后回复 诸葛孔明  2014/10/26</p>
                                                <div class="posts_detail">
                                                    <a href="#"><i class="icon_forum icon_info"></i>12</a>
                                                    <a href="#"><i class="icon_forum icon_scan"></i>12</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="http://placehold.it/40x40/cccccc" width="40" height="40" />
                                            <p class="praise_amount"><i class="icon_24 icon_praise"></i></p>
                                            <div class="theme_detail">
                                                <div class="post_name">
                                                    <a href="#">大家好</a>
                                                </div>
                                                <p><b>自由讨论区 [混合式课程设计与技术平台<1>班]</b>来自 [混合式课程设计与技术平台<1>班]  陈建 (2014/09/24) . 最后回复 诸葛孔明  2014/10/26</p>
                                                <div class="posts_detail">
                                                    <a href="#"><i class="icon_forum icon_info"></i>12</a>
                                                    <a href="#"><i class="icon_forum icon_scan"></i>12</a>
                                                </div>
                                            </div>
                                        </li>*@
                                </ul>
                                <a class="more_theme" href="javascript:;" ng-click="loaddate()">还有更多讨论想见你！</a>
                            </div>
                            <div class="no_discuss">
                                <img src="../../images/no_discuss.gif" width="81" height="88" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--右侧主题内容结束-->

        </div>


    </div>
    <!--弹出框-->
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script src="~/js/forum.js"></script>
</body>
</html>

