@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Css/test.css" rel="stylesheet" />
<!DOCTYPE html>
<div ng-controller="TestController">

    <div class="main_content">
        <!--右侧头部公告开始-->
        
        <!--右侧头部公告结束-->
        <div class="coursesite_box">
            <div class="exercise_search">
                <div class="select_condition">
                    <ul class="knowledge_sort">
                        <li ng-class="{0: 'active', 1: ''}[CheckTestCutflag]" ng-click="CheckTestCut(1)" style=" cursor:pointer;"><a href="#">未批阅</a></li>
                        <li ng-class="{1: 'active', 0: ''}[CheckTestCutflag]" ng-click="CheckTestCut(2)" style=" cursor:pointer;"><a href="#">作业列表</a></li>
                    </ul>
                </div>
                <div class="exercise_btn" ng-show="CheckTestCutflag">
                    <span class="sort_box" ng-click="filtrate_NotCheck()">[筛选]</span>
                    <a href="javascript:;" class="topic_import">
                        <em><i class="icon"></i></em>
                        <span>新建</span>
                        <ul class="batch_list">
                            <li ng-click="skipAdd(1)">作业</li>
                            <li ng-click="skipAdd(2)">考试</li>
                        </ul>
                    </a>
                    <p class="search_topic"><input type="text" placeholder="请输入您要搜索的关键字"><span class="icon" href="#"></span></p>
                </div>
            </div>
            <div class="filter_box" ng-show="CheckTestCutflag">
                <dl class="filter_list">
                    <dt>类型</dt>
                    <dd>
                        <a ng-class="{0: 'active', 1: '',2:''}[CheckTypeflag]" ng-click="CheckTypeflag=0" href="#"><span>不限</span></a>
                        <a ng-class="{1: 'active', 0: '',2:''}[CheckTypeflag]" ng-click="CheckTypeflag=1" href="#"><span>作业</span></a>
                        <a ng-class="{2: 'active', 1: '',0:''}[CheckTypeflag]" ng-click="CheckTypeflag=2" href="#"><span>考试</span></a>
                    </dd>
                </dl>
                <dl class="filter_list">
                    <dt>状态</dt>
                    <dd>
                        <a ng-class="{0: 'active', 1: '',2:'',3:''}[CheckStatusflag]" ng-click="CheckStatusflag=0" href="#"><span>不限</span></a>
                        <a ng-class="{1: 'active', 0: '',2:'',3:''}[CheckStatusflag]" ng-click="CheckStatusflag=1" href="#"><span>本周</span></a>
                        <a ng-class="{2: 'active', 1: '',0:'',3:''}[CheckStatusflag]" ng-click="CheckStatusflag=2" href="#"><span>本月</span></a>
                        <a ng-class="{3: 'active', 1: '',2:'',0:''}[CheckStatusflag]" ng-click="CheckStatusflag=3" href="#"><span>本年</span></a>
                    </dd>
                </dl>
                <dl class="filter_list">
                    <dt>成绩发布</dt>
                    <dd>
                        <a ng-class="{2: 'active', 1: '',0:''}[CheckIsSendflag]" ng-click="CheckIsSendflag=2" href="#"><span>不限</span></a>
                        <a ng-class="{1: 'active', 2: '',0:''}[CheckIsSendflag]" ng-click="CheckIsSendflag=1" href="#"><span>已发布</span></a>
                        <a ng-class="{0: 'active', 2: '',1:''}[CheckIsSendflag]" ng-click="CheckIsSendflag=0" href="#"><span>未发布</span></a>
                    </dd>
                </dl>
                <span class="guanbi"><i class="icon"></i></span>
            </div>
            <table class="course_data paper_data" ng-show="!CheckTestCutflag">
                <tr>
                    <th width="20"></th>
                    <th width="120">
                        <div class="data_name">
                            <p>学号</p>
                        </div>
                    </th>
                    <th width="120">学生姓名</th>
                    <th width="120">专业</th>
                    <th width="90">班级</th>
                    <th width="150">上交时间</th>
                    <th>作业名称</th>
                </tr>
                <tr ng-repeat="nocheck in NotCheck_List" on-column-get>
                    <td></td>
                    <td>{{nocheck.UserNo}}</td>
                    <td><a href="javascript:void(0)" ng-click="Marking(nocheck.TestID,nocheck.UserID)" style="color: #008573;">{{nocheck.UserName}}</a></td>
                    <td>{{nocheck.SpecialtyName}}</td>
                    <td>{{nocheck.ClassName}}</td>
                    <td>{{nocheck.SubmitTime| dateFormatAll}}</td>
                    <td>
                        {{nocheck.TestName}}
                        <div class="topic_icon">
                            <a href="javascript:;" class="icon edit_topic" title="批阅" ng-click="Marking(nocheck.TestID,nocheck.UserID)"></a>
                        </div>
                    </td>
                </tr>
            </table>
            <div ng-show="OCNotCheckCount==0 && !CheckTestCutflag" class="course_content" style="height:216px; text-align:center;">
                <img style="display:inline-block; margin-top:50px;" src="~/Images/expression.png" width="96" height="96" alt="">
                <p style="font-size: 18px; color: #ccc;">没有找到任何内容</p>
            </div>
            <div class="work_box" ng-show="CheckTestCutflag">
                <div class="work_list" ng-repeat="testlist in TestList" on-column-get-test>
                    <div class="progress_box">
                        <div id="div_{{testlist.test.TestID}}" style="width:100px;height:100px; text-align:center;" class="">

                        </div>
                        <p class="progress_text">已交/已阅：<span>{{testlist.submittedCount}}/{{testlist.MarkingCount}}</span></p>
                    </div>
                    <div class="work_detail">
                        <div class="work_tit">
                            <a class="work_name" href="#">{{testlist.test.Name}}</a>
                            <div class="work_operation">
                                <span class="menu_btn"><em></em></span>
                                <ul>
                                    <li><a href="#">录入成绩</a></li>
                                    <li><a href="#">复制作业</a></li>
                                    <li><a href="#">相似检测</a></li>
                                    <li><a href="#">发布成绩</a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="work_info">
                            <span>开始日期 {{testlist.test.StartDate |dateFormatAll }}</span>
                            <span>截止日期 {{testlist.test.EndDate |dateFormat }}</span>
                            <span>发布教师 {{testlist.test.Username  }}</span>
                            <span>未交/迟交 {{testlist.UncommittedCount}}/{{testlist.DelayCount}}</span>

                        </p>
                        <div class="modify_btn">
                            <a class="icon_test review_btn" href="javascript:;"></a>
                            <a class="icon_test similarity_btn" href="javascript:;"></a>
                            <a class="icon_test issue_btn" href="javascript:;"></a>
                            <a class="icon_test copy_btn" href="javascript:;"></a>
                            <a class="icon_test edit_btn" href="javascript:;"></a>
                            <a class="icon_test icon_eye" href="javascript:;"></a>
                            <a class="icon_test delete_btn" href="javascript:;"></a>
                        </div>

                    </div>
                    <div id="line_chart_{{testlist.test.TestID}}" style=" width:365px; height:200px; float:right;"></div>
                </div>

            </div>

        </div>
    </div>


</div>