@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}
<style>
    th,tr{
        height:42px;
        line-height:42px;
        align-content:center;
        text-align:center;
    }
</style>
<link href="~/Css/test.css" rel="stylesheet" />
<div ng-controller="TestAddController">
    <a role="button" data-toggle="modal" data-backdrop="static" href="#myModal"><span>添加学生</span></a>

    <div id="myModal" class="modal hide fade" style="width:600px;height:800px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h2 id="myModalLabel">参与对象选择</h2>
        </div>
        <div style="float:left; height:700px">
            <table>
                <tr>
                    <th></th>
                    <th width="90px">教学班选择</th>
                </tr>
                <tr ng-repeat="teachingclass in TeachingClassList">
                    <td><input id="{{teachingclass.TeachingClassID}}" class="TeachingClass_CHX" ng-change="StudentList_TeachingClassID_Get(teachingclass.TeachingClassID,teachingclass.StudentCount,chx)" ng-model="chx" type="checkbox" /></td>
                    <td>{{teachingclass.ClassName}}({{teachingclass.StudentCount}})</td>
                </tr>
            </table>
        </div>
        <div style="float:left; height:700px">
            <table>
                <tr>
                    <th width="20px"></th>
                    <th width="40px">学号</th>
                    <th width="80px">姓名</th>
                    <th width="40px">行政班</th>
                </tr>
                <tr ng-repeat="student in StudentList">
                    <td><input class="{{student.TeachingClassID}}" ng-model="stuchx" ng-change="Student_Change(stuchx,student.TeachingClassID)" ng-checked="true" type="checkbox" /></td>
                    <td>{{student.UserNo}}</td>
                    <td>{{student.UserName}}</td>
                    <td>{{student.ClassName}}</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer" style="clear:left">
            <div>/{{sc}}</div>
            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
            <button class="btn btn-primary" ng-click="Div_Confirm_Click()" data-dismiss="modal">保存</button>
        </div>
    </div>
</div>