<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-2">
                    <select class="form-control" ng-model="MicYear" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年--</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="GradeCode" ng-disabled="GradeCode!=null" ng-options="m.GradeName for m in GradeCodes">
                        <option value="">-- 请选择年级 --</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" ng-model="GradeClass" ng-disabled="GradeClass!=null" ng-options="m.GradeBriefName for m in Grades">
                        <option value="">-- 请选择班级 --</option>
                    </select>
                </div> 
                <div class="col-sm-2">
                    <input type="radio" value="0" ng-model="dataMethod"/>全年级&nbsp;
                    <input type="radio" value="1" ng-model="dataMethod" />全班级
                </div>
                <div class="col-sm-2">
                    <input type="radio" value="0" ng-model="statType" />原始分&nbsp;
                    <input type="radio" value="1" ng-model="statType" />自动T分
                </div>
            </div> 
            <div class="form-group">
                <div class="col-sm-6">
                    <label ng-repeat="item in GradeCourses">
                        <input type="checkbox" checklist-value="item" checklist-model="courseChecks"> {{item.FullName}}
                    </label>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="cbDC"> 输出等第成绩
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="query()"><span class="glyphicon glyphicon-ok"></span>查询</button>
                    @*<button type="button" class="btn btn-default" ng-click="tryCalculate();"><span class="glyphicon glyphicon-print"></span>打 印</button>*@
                </div>
                </div>
            </div> 
        </form>
    </div>
</div>
<div class="row" style="margin-top:1em;">
    <div class="col-sm-12">
        <div id="main1" style="height:300px;width:100%"></div>
    </div>
</div>
<script type="text/javascript">
    require.config({
        packages: [
            { name: 'echarts', location: '/content/charts/echarts', main: 'echarts' },
            { name: 'zrender', location: '/content/charts/zrender', main: 'zrender' }
        ]
    });
</script>