<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="MicYear" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年--</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" value="0" ng-model="ScoreOnly" />仅在籍生&nbsp;
                    <input type="checkbox" value="1" ng-model="ScoreYear" />跨学年(无平时)&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="0" ng-model="NumScore" />原始分&nbsp;
                    <input type="radio" value="1" ng-model="NumScore" />标准分&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="0" ng-model="Kaoshi" />平时考试&nbsp;
                    <input type="radio" value="1" ng-model="Kaoshi" />统一考试
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="GradeCourse" ng-options="m.FullName for m in GradeCourses">
                        <option value="">-- 请选择课程--</option>
                    </select>
                </div>           
            </div>
            <div class="form-group">                
                <div class="col-sm-3">
                    <select class="form-control" ng-model="GradeCode" ng-options="m.GradeName for m in GradeCodes">
                        <option value="">-- 请选择年级 --</option>
                    </select>
                </div>
                <div class="col-sm-9">
                    <div ng-repeat="grade in Grades" class="checkbox-inline">
                        <input type="checkbox" value="{{grade.classNo}}" name="grades" ng-click="bindStudents()" />{{grade.GradeBriefName}}
                    </div>
                </div>                
            </div>
            <div class="form-group">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="query()"><span class="glyphicon glyphicon-ok"></span>查询</button>
                    @*<button type="button" class="btn btn-default" ng-click="tryCalculate();"><span class="glyphicon glyphicon-print"></span>打 印</button>*@
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" style="margin-top:1em;">
    <div class="col-sm-12">
        <div id="main1" style="height:300px;width:100%"></div>
    </div>
</div>
<script type="text/javascript">
    require.config({
        packages: [
            { name: 'echarts', location: '/content/charts/echarts', main: 'echarts' },
            { name: 'zrender', location: '/content/charts/zrender', main: 'zrender' }
        ]
    });
</script>