<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="MicYear" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年--</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="GradeCourse" ng-options="m.FullName for m in GradeCourses">
                        <option value="">-- 请选择课程--</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="GradeCode" ng-options="m.GradeName for m in GradeCodes">
                        <option value="">-- 请选择年级 --</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="TestNo" ng-options="m.Name for m in TestNos">
                        <option value="">-- 请选择考试 --</option>
                    </select>
                </div>
            </div>
            基准考试：
            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="MicYearJZ" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年--</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="TestNoJZ" ng-options="m.Name for m in TestNosJZ">
                        <option value="">-- 请选择考试 --</option>
                    </select>
                </div>
            </div>
            选择考试：
            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="MicYearXZ" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年--</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="TestNoXZ" ng-options="m.Name for m in TestNosXZ">
                        <option value="">-- 请选择考试 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="query()"><span class="glyphicon glyphicon-ok"></span>查询</button>
                    @*<button type="button" class="btn btn-default" ng-click="tryCalculate();"><span class="glyphicon glyphicon-print"></span>打 印</button>*@
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" style="text-align:center;font-size:2em;">
                {{rsTitle}}
            </div>
        </div>
        <br />
        <div class="row" ng-show="pageService.data.length>0">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr style="background-color:#808080">
                            <th style="text-align:center;">学生</th>
                            <th style="text-align:center;">学年</th>
                            <th style="text-align:center;">基准分</th>
                            <th style="text-align:center;">基准Z分</th>
                            <th style="text-align:center;">基准名</th>
                            <th style="text-align:center;">选择分</th>
                            <th style="text-align:center;">相差</th>
                            <th style="text-align:center;">选择Z分</th>
                            <th style="text-align:center;">Z分差</th>
                            <th style="text-align:center;">选择名次</th>
                            <th style="text-align:center;">名次差</th>
                            <th style="text-align:center;">当前分</th>
                            <th style="text-align:center;">相差</th>
                            <th style="text-align:center;">当前Z分</th>
                            <th style="text-align:center;">Z分差</th>
                            <th style="text-align:center;">名次</th>
                            <th style="text-align:center;">名次差</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in pageService.data">
                            <td align="center">{{item.StdName}}</td>
                            <td align="center">{{item.Academicyear}}</td>
                            <td align="center">{{item.JZ_Score}}</td>
                            <td align="center">{{item.JZ_BZ}}</td>
                            <td align="center">{{item.JZ_Order}}</td>
                            <td align="center">{{item.BJ1_Score}}</td>
                            <td align="center">{{item.BJ1_XC}}</td>
                            <td align="center">{{item.BJ1_BZ}}</td>
                            <td align="center">{{item.BJ1_BZXC}}</td>
                            <td align="center">{{item.BJ1_ORDER}}</td>
                            <td align="center">{{item.BJ1_MCXC}}</td>
                            <td align="center">{{item.BJ2_Score}}</td>
                            <td align="center">{{item.BJ2_XC}}</td>
                            <td align="center">{{item.BJ2_BZ}}</td>
                            <td align="center">{{item.BJ2_BZXC}}</td>
                            <td align="center">{{item.BJ2_ORDER}}</td>
                            <td align="center">{{item.BJ2_MCXC}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="pageService.data.length>0">
    <div class="col-sm-12" ng-class="{hidden:pageService.pages==1}" style="background-color: #434a54;">
        <ul class="pager">
            <li class="previous"><a style="cursor:pointer" ng-click="pageService.previous()">&larr; 上一页</a></li>
            <li><a href="#">{{pageService.index}} / {{pageService.pages}}</a></li>
            <li class="next"><a style="cursor:pointer" ng-click="pageService.next()">下一页 &rarr;</a></li>
        </ul>
    </div>
</div>