<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="row" style="margin-bottom:0.5em;">
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="conditionData.MicYear" ng-options="m.MicYear for m in AcademicYears">
                            <option value="">-- 请选择学年--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.GradeClass" ng-options="(m.GradeBriefName + '(' + m.ClassNo.substr(2) + ')班') for m in GradeClasses">
                            <option value="">-- 请选择班级--</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" ng-model="conditionData.GradeCourse" ng-options="m.FullName for m in GradeCourses">
                            <option value="">-- 请选择课程--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.Student" ng-options="m.StdName for m in Students">
                            <option value="">-- 请选择学生 --</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="conditionData.checkValue"> 跨学年/学期
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary" ng-click="stat();"><span class="glyphicon glyphicon-ok"></span>统 计</button>
                        @*<button type="button" class="btn btn-default" ng-click="tryCalculate();"><span class="glyphicon glyphicon-print"></span>打 印</button>*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row" ng-class="{'hideTag': !haveStat}">
            <div class="col-sm-12" style="text-align:center;font-size:2em;">{{conditionData.Student.StdName}}{{conditionData.GradeCourse.FullName}}年级排名趋势图</div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div id="main1" style="height:300px;width:100%"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12" ng-class="{'hideTag': !haveStat}">
                <table class="table table-striped table-bordered" style="width:100%">
                    <tbody>
                        <tr ng-repeat="item in data">
                            <td>{{item.S_0}}</td>
                            <td>{{item.S_1}}</td>
                            <td>{{item.S_2}}</td>
                            <td>{{item.S_3}}</td>
                            <td>{{item.S_4}}</td>
                            <td>{{item.S_5}}</td>
                            <td>{{item.S_6}}</td>
                            <td>{{item.S_7}}</td>
                            <td>{{item.S_8}}</td>
                            <td>{{item.S_9}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require.config({
        packages: [
            { name: 'echarts', location: '/content/charts/echarts', main: 'echarts' },
            { name: 'zrender', location: '/content/charts/zrender', main: 'zrender' }
        ]
    });
</script>
