<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="row" style="margin-bottom:0.5em;">
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.MicYear" ng-options="m.MicYear for m in AcademicYears">
                            <option value="">-- 请选择学年--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.GradeCode" ng-options="m.GradeName for m in GradeCodes">
                            <option value="">-- 请选择年级--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.GradeClass" ng-options="(conditionData.GradeCode.GradeBriefName + '(' + m.ClassNo.substr(2) + ')班') for m in GradeClasses">
                            <option value="">-- 请选择班级--</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.GradeCourse" ng-options="m.FullName for m in GradeCourses">
                            <option value="">-- 请选择课程--</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.TestType" ng-options="m.Name for m in TestTypes">
                            <option value="">-- 请选择考试类型 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.TestLogin" ng-options="m.TestLoginNo for m in TestLogins">
                            <option value="">-- 请选择考试号 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.ScoreType" ng-options="m.name for m in ScoreTypes">
                            <option value="">-- 请选择分数类型 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="conditionData.Student" ng-options="m.StdName for m in Students">
                            <option value="">-- 请选择学生 --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" ng-click="stat();"><span class="glyphicon glyphicon-ok"></span>统 计</button>
                    @*<button type="button" class="btn btn-default" ng-click="tryCalculate();"><span class="glyphicon glyphicon-print"></span>打 印</button>*@
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" style="text-align:center;font-size:2em;">{{conditionData.Student.StdName}}{{conditionData.GradeCourse.FullName}}考试情况分析</div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>{{conditionData.Student.StdName}}{{conditionData.GradeCourse.FullName}}第{{conditionData.TestLogin.TestLoginNo}}次考试情况：</p>
                <p>asdf</p>
            </div>
            <div class="col-sm-6">
                <div id="main1" style="height:300px;width:100%"></div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div id="main2" style="height:300px;width:100%"></div>
            </div>
            <div class="col-sm-6">
                <div id="main3" style="height:300px;width:100%"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    require.config({
        packages: [
            { name: 'echarts', location: '/content/charts/echarts', main: 'echarts' },
            { name: 'zrender', location: '/content/charts/zrender', main: 'zrender' }
        ]
    });
</script>
