<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12" style="text-align: left; background-color: #858585; color: #fff; margin: -1em 0em 1em 0em;">
                <h4><b>{{moduleName}}</b></h4>
            </div>
        </div>
        <div class="row">
            <div ui-view class="col-sm-12 col-md-12">

            </div>
        </div>
    </div>
</div>
