<div class="row">
    <div class="col-sm-12">
        <input type="file" nv-file-select="" uploader="fileUploader" />
        <ul>
            <li ng-repeat="item in fileUploader.queue">
                文件： <span ng-bind="item.file.name"></span><br />
                <button ng-click="item.upload()">上传</button>
            </li>
        </ul>
    </div>
</div>
