<div class="all_knowledge">
    <dl class="knowledge_list">
        <dt>全部知识点</dt>
        <dd ng-class="{'active':dataKen.KenID==item.KenID}" ng-repeat="item in ocKens"><a ng-click="kenFocus(item)" ng-bind="item.Name"></a>
</dl>
    <dl class="knowledge_list">
        <dt>关联章节</dt>
        <dd ng-class="{'active':dataChapter.ChapterID==item.ChapterID}" ng-repeat="item in dataChapters"><a ng-click="chapterFocus(item)" ng-class="{'active':dataChapter.ChapterID==item.ChapterID}" ng-bind="item.Title"></a></dd>
    </dl>
</div> 