body {
}

a {
    cursor: pointer;
}

.chapter-selection {
    font-weight: bold;
    color: red !important;
}

.pop_uploader {
    width: 1000px;
    position: absolute;
    left: 20%;
    margin-left: -200px;
    top: 150px;
    background: #fff;
    z-index: 999;
}

.pop_uploader h4 {
    height: 40px;
    line-height: 40px;
    background: #1e5975;
    font-size: 14px;
    color: #fff;
    padding-left: 13px;
}

/*题型预览*/
.preview_box1{ width:100%; background:#fff; padding-bottom:200px;}

.pop_bg1{display:none; width:100%; height:100%; position:absolute; top:0; left:0;background-color: #fff; filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); z-index:998;}
