<div class="paper_content">
    <div class="text_box" style="color:#F00;">这里是富文本框这里是富文本框</div>
    <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
    <ul class="attach_list">
        <li>
            <a href="javascript:;">删除</a>
            <p><i class="icon_24 pdf"></i>预读材料</p>
        </li>
        <li>
            <a href="javascript:;">删除</a>
            <p><i class="icon_24 doc"></i>参考资料</p>
        </li>
        <li>
            <a href="javascript:;">删除</a>
            <p><i class="icon_24 mp4"></i>操作演示</p>
        </li>
    </ul>
    <p class="no_rank">
        <input type="checkbox" checked="checked">选项乱序<span>（需选择一个选项作为正确答案）</span>
    </p>
    <ul class="answer_list">
        <li class="active">
            <div class="default">
                <em><i class="icon"></i></em>
                <a href="javascript:;">x</a>
                <input type="text">
                <span class="icon icon_unfold"></span>
            </div>
            <div class="text_box" style="color:#F00;">这里是富文本框这里是富文本框</div>
        </li>
        <li>
            <div class="default">
                <em><i class="icon"></i></em>
                <a href="javascript:;">x</a>
                <input type="text">
                <span class="icon icon_unfold"></span>
            </div>
        </li>
        <li>
            <div class="default">
                <em><i class="icon"></i></em>
                <a href="javascript:;">x</a>
                <input type="text">
                <span class="icon icon_unfold"></span>
            </div>
        </li>
        <li>
            <div class="default">
                <em><i class="icon"></i></em>
                <a href="javascript:;">x</a>
                <input type="text">
                <span class="icon icon_unfold"></span>
            </div>
        </li>
    </ul>
    <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加选项</span></a>
    <div class="text_box" style="color:#F00; margin-top:20px;">这里是富文本框这里是富文本框<br>试题解析试题解析</div>
    <div class="btn_box">
        <a href="javascript:;" class="save">预览</a>
        <a href="javascript:;" class="save">保存</a>
        <a href="javascript:;" class="cancel">取消</a>
    </div>
</div>