<div class="paper_content">
    <div class="text_box" style="color:#F00;">
        <input type="hidden" name="editorInput" id="editorInput" ng-model="editorText">
        <iframe id="editor01" src="Frameworks/eWebEditor/ewebeditor.htm?id=editorInput&style=coolblue"
                frameborder="0" scrolling="no" width="850" height="300" style="display: block;"></iframe>
    </div>
    <a class="add_attach" dialog-show dialog-id="eIesUploader"><em><i class="icon"></i></em><span>添加附件</span></a>
    <attach-list attachments="attachmentList"></attach-list>
    <p class="no_rank"><b class="answer_item">题目</b> <b class="answer_item">答案<span>(保存后，自动打乱顺序)</span></b></p>
    <div class="connection_box">
        <div ng-repeat="item in list">
            <div class="question_box">
                <div class="default question_select">
                    <input type="text" ng-model="item.Conten"> 
                </div>
            </div>
            <div class="answer_option">
                <div class="default answer_select">
                    <a ng-click="Del(item)">x</a>
                    <input type="text" ng-model="item.Answer"> 
                </div>
            </div>
        </div>
        <a class="add_attach" ng-click="Add()"><em><i class="icon"></i></em><span>添加选项</span></a>        
        <div style="text-align:right;">
            <div ng-repeat="item in ganraoList">
                <input class="add_answer" style="width:525px; margin-top:20px;" ng-model="item.Conten" type="text" placeholder="请输入其他干扰项">
            </div>
            <a class="add_attach" style="margin-left:45.5%;" ng-click="AddInterference()"><em><i class="icon"></i></em><span>添加干扰项</span></a>
        </div>
    </div>
    <div class="text_box" style="color:#F00; margin-top:20px;">
        <input type="hidden" name="editorAnalysis" id="editorAnalysis" ng-model="editorAnalysisText" ng-value="editorAnalysisText">
        <iframe src="Frameworks/eWebEditor/ewebeditor.htm?id=editorAnalysis&style=coolblue"
                frameborder="0" scrolling="no" width="880" height="300" style="display: block;"></iframe>
    </div>
</div>
<ies-file-uploader id="eIesUploader" style="display:none" file-catetory="2"></ies-file-uploader>