<div class="exercise_search">
    <div class="select_condition">
        <p class="current_course">我的习题</p>
    </div>
    <div class="exercise_btn">
        <a class="topic_import" ui-sref="exercise.shortanswer({ExerciseID: -1})">
            <em><i class="icon"></i></em>
            <span>新建习题</span>
        </a>
        <a class="import_exercise" href="javascript:;"><em><i class="icon"></i></em><span>导入</span></a>
        <exercise-batch on-fire-remove-all="fireRemoveAll()" on-fire-shared="fireShared()"></exercise-batch>
        <p class="search_topic"><input type="text" ng-model="data.searchKey" placeholder="请输入您要搜索的关键字"><span class="icon" ng-click="search()"></span></p>

    </div>
</div>
<div class="filter_box">
    <dl class="filter_list">
        <dt>课程选择</dt>
        <dd>
            <a ng-class="{'active':data.course.CourseID==item.CourseID}" ng-click="courseChanged(item)" ng-repeat="item in courses"><span ng-bind="item.Name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>题目类型</dt>
        <dd>
            <a ng-class="{'active':data.exerciseType.id==item.id}" ng-click="exerciseTypeChanged(item)" ng-repeat="item in exerciseTypes"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>难易程度</dt>
        <dd>
            <a ng-class="{'active':data.difficult.id==item.id}" ng-click="difficultChanged(item)" ng-repeat="item in difficulties"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>共享权限</dt>
        <dd>
            <a ng-class="{'active':data.shareRange.id==item.id}" ng-click="shareRangeChanged(item)" ng-repeat="item in shareRanges"><span ng-bind="item.name"></span></a>
        </dd>
    </dl>
    <dl class="filter_list">
        <dt>题目标签</dt>
        <dd>
            <a ng-class="{'active':data.key.KeyID==item.KeyID}" ng-click="keyChanged(item)" ng-repeat="item in keys"><span ng-bind="item.Name"></span></a>
        </dd>
    </dl>
    @*<dl class="filter_list">
            <dt>知识点</dt>
            <dd>
                <a ng-class="{'active':data.knowledge.KenID==item.KenID}" ng-click="knowChanged(item)" ng-repeat="item in knowledges"><span ng-bind="item.Source"></span></a>
            </dd>
        </dl>*@
    <span class="guanbi"><i class="icon"></i></span>
</div>
<div class="topic_detail">
    <ul class="topic_list">
        <div ng-repeat="item in exercises">
            <exercise-list exercise="item" edit-exercise="editExercise(item)" share-exercise="shareExercise(item)" delete-exercise="deleteExercise(item)"></exercise-list>
        </div>
    </ul> 
</div>