<div class="paper_content">
    <div class="paper_wrap">
        <div class="text_box" style="color:#F00;">这里是富文本框这里是富文本框</div>
        <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
        <p class="no_rank"><select class="option_select"><option>选项三选一</option><option>选项三选一</option></select><input type="checkbox" checked="checked">选项乱序<span>（需选择一个选项作为正确答案）</span></p>
        <ul class="answer_list">
            <li class="active">
                <div class="default">
                    <em><i class="icon"></i></em>
                    <a href="javascript:;">x</a>
                    <input type="text">
                    <span class="icon icon_unfold"></span>
                </div>
            </li>
            <li>
                <div class="default">
                    <em><i class="icon"></i></em>
                    <a href="javascript:;">x</a>
                    <input type="text">
                    <span class="icon icon_unfold"></span>
                </div>
            </li>
            <li>
                <div class="default">
                    <em><i class="icon"></i></em>
                    <a href="javascript:;">x</a>
                    <input type="text">
                    <span class="icon icon_unfold"></span>
                </div>
            </li>
            <li>
                <div class="default">
                    <em><i class="icon"></i></em>
                    <a href="javascript:;">x</a>
                    <input type="text">
                    <span class="icon icon_unfold"></span>
                </div>
            </li>
        </ul>
        <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加选项</span></a>
        <div class="resource_btn">
            <a class="up_section" href="javascript:;"></a>
            <a class="down_section" href="javascript:;"></a>
            <a class="delete_section" href="javascript:;"></a>
        </div>
    </div>
    <div class="paper_wrap">
        <div class="text_box" style="color:#F00;">这里是富文本框这里是富文本框</div>
        <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
        <p class="no_rank">默认只有一个填空答案，您可以添加填空答案</p>
        <div class="default fill_blank">
            <a href="javascript:;">x</a>
            <input type="text">
            <span class="icon icon_unfold"></span>
        </div>
        <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加选项</span></a>
        <div class="resource_btn">
            <a class="up_section" href="javascript:;"></a>
            <a class="down_section" href="javascript:;"></a>
            <a class="delete_section" href="javascript:;"></a>
        </div>
    </div>
    <div class="text_box" style="color:#F00;">这里是富文本框这里是富文本框</div>
    <div class="btn_box">
        <a href="javascript:;" class="save">预览</a>
        <a href="javascript:;" class="save">保存</a>
        <a href="javascript:;" class="cancel">取消</a>
    </div>
</div>