<div class="paper_content">
    <div class="text_box" style="color:#F00;">
        <input type="hidden" name="editorInput" id="editorInput" ng-model="editorText" ng-value="editorText">
        <iframe src="/Frameworks/eWebEditor/ewebeditor.htm?id=editorInput&style=coolblue"
                frameborder="0" scrolling="no" width="800" height="300" style="display: block;"></iframe>
    </div>
    <a class="add_attach" dialog-show dialog-id="eIesUploader"><em><i class="icon"></i></em><span>添加附件</span></a>
    <attach-list attachments="model.exercisecommon.attachmentlist"></attach-list>

    <div class="paper_wrap" style="width:860px;" ng-show="isShowRadio==1">
        <div class="text_box" style="color:#F00;">
            <textarea class="form-control" rows="4" ng-model="model.Children.exercisecommon.exercise.Conten"></textarea>
        </div>
        <ul class="answer_list">
            <li ng-class="{active:item.IsCorrect==1}" ng-repeat="item in model.Children.exercisechoicelist">
                <div class="default">
                    <em style="cursor:pointer;"><i class="icon" ng-model="item.IsCorrect" ng-click="isCorrectChange(item)"></i></em>
                    <a ng-click="del(item)">x</a>
                    <input type="text" ng-model="item.Conten">
                </div>
            </li>
        </ul>
        <a class="add_attach" ng-click="AddAnswer()"><em><i class="icon"></i></em><span>添加选项</span></a>
        <div class="resource_btn">
            <a class="up_section" href="javascript:;"></a>
            <a class="down_section" href="javascript:;"></a>
            <a class="delete_section" href="javascript:;" ng-click="delRadio(model.Children.exercisecommon.exercise.ExerciseID)"></a>
        </div>
    </div>

    <div class="paper_wrap" style="width:860px;" ng-show="isShowMultiple==1">
        <div class="text_box" style="color:#F00;">
            <textarea class="form-control" rows="4" ng-model="model.ChildrenMultiple.exercisecommon.exercise.Conten"></textarea>
        </div>
        <ul class="answer_list">
            <li ng-class="{active:item.IsCorrect==1}" ng-repeat="item in model.ChildrenMultiple.exercisechoicelist">
                <div class="default">
                    <em style="cursor:pointer;"><i class="icon" ng-model="item.IsCorrect" ng-click="isCorrectChangeMultiple(item)"></i></em>
                    <a ng-click="delMultiple(item)">x</a>
                    <input type="text" ng-model="item.Conten">
                </div>
            </li>
        </ul>
        <a class="add_attach" ng-click="AddAnswerMultiple()"><em><i class="icon"></i></em><span>添加选项</span></a>
        <div class="resource_btn">
            <a class="up_section" href="javascript:;"></a>
            <a class="down_section" href="javascript:;"></a>
            <a class="delete_section" href="javascript:;" ng-click="delMultiples(model.ChildrenMultiple.exercisecommon.exercise.ExerciseID)"></a>
        </div>
    </div>

    <div class="paper_wrap" style="width:860px;" ng-show="isShowFillBlank==1">
        <div class="text_box" style="color:#F00;">
            <textarea class="form-control" rows="4" ng-model="model.ChildrenFillBlank.exercisecommon.exercise.Conten"></textarea>
        </div>
        <div class="default fill_blank">
            <input type="text" ng-model="model.ChildrenFillBlank.exercisecommon.exercise.Answer">
        </div>
        <div class="resource_btn">
            <a class="up_section" href="javascript:;"></a>
            <a class="down_section" href="javascript:;"></a>
            <a class="delete_section" href="javascript:;" ng-click="delFillBlank(model.ChildrenFillBlank.exercisecommon.exercise.ExerciseID)"></a>
        </div>
    </div>
    @*<div class="text_box" style="color:#F00;">
            <input type="hidden" name="editorAnalysis" id="editorAnalysis" ng-model="editorAnalysisText" ng-value="editorAnalysisText">
            <iframe src="/Frameworks/eWebEditor/ewebeditor.htm?id=editorAnalysis&style=coolblue"
                    frameborder="0" scrolling="no" width="800" height="300" style="display: block;"></iframe>
        </div>*@
</div>
<ul class="listening_btn">
    <li><a href="javascript:;">添加音频</a></li>
    <li><a href="javascript:;" ng-click="ShowRadio()">单选题</a></li>
    <li><a href="javascript:;" ng-click="ShowMultiple()">多选题</a></li>
    <li><a href="javascript:;" ng-click="isShowFillBlank=1">填空题</a></li>
    <li><a href="javascript:;">注释说明</a></li>
    <li><a href="javascript:;">添加附件</a></li>
</ul>
<ies-file-uploader id="eIesUploader" style="display:none" upload-url="/DataProvider/FileUpload.ashx?from=2"></ies-file-uploader>