
<div class="paper_content">
    <div class="paper_wrap">
        <div class="text_box" style="color:#F00;">
            <textarea class="form-control" rows="4" ng-model="Attachment.FileName"></textarea>
        </div>
        <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
        <p class="no_rank">
            <select class="option_select" ng-model="model.ChoiceNum">
                <option value="0">选项三选一</option>
                <option value="1">选项四选一</option>
            </select><input type="checkbox" ng-model="model.IsRand" ng-checked="model.IsRand==1" ng-change="isRandChange(model.IsRand)">选项乱序<span>
                （需选择一个选项作为正确答案）
            </span>
        </p>
        <ul class="answer_list">
            <li ng-class="{active:item.IsCorrect==1}" ng-repeat="item in ExerciseAnswercards">
                <div class="default">
                    <em style="cursor:pointer;"><i class="icon" ng-model="item.IsCorrect" ng-click="isCorrectChange(item)"></i></em>
                    <a ng-click="del(item)">x</a>
                    <input type="text" ng-model="item.Conten">
                    <span class="icon icon_unfold"></span>
                </div>
            </li>
        </ul>
        <a class="add_attach" ng-click="AddAnswer()"><em><i class="icon"></i></em><span>添加选项</span></a>
        <div class="resource_btn">
            <a class="up_section" href="javascript:;"></a>
            <a class="down_section" href="javascript:;"></a>
            <a class="delete_section" href="javascript:;"></a>
        </div>
    </div>
    <div class="paper_wrap">
        <div class="text_box" style="color:#F00;">
            <textarea class="form-control" rows="4" ng-model="Attachment.FileName1"></textarea>
        </div>
        <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
        <p class="no_rank">默认只有一个填空答案，您可以添加填空答案</p>
        <div class="default fill_blank" ng-repeat="item in Contens">
            <a ng-click="delConten(item)">x</a>
            <input type="text" ng-model="item.Conten">
            <span class="icon icon_unfold"></span>
        </div>
        <a class="add_attach" ng-click="AddConten()"><em><i class="icon"></i></em><span>添加选项</span></a>
        <div class="resource_btn">
            <a class="up_section" href="javascript:;"></a>
            <a class="down_section" href="javascript:;"></a>
            <a class="delete_section" href="javascript:;"></a>
        </div>
    </div>
    <div class="text_box" style="color: #F00; margin-top: 20px;">
        <textarea class="form-control" rows="4" ng-model="model.Analysis"></textarea>
        <br>
        试题解析试题解析
    </div>

</div>
