
<div class="paper_content">
    <a class="add_attach" dialog-show dialog-id="eIesUploader"><em><i class="icon"></i></em><span>添加附件</span></a>
    <p class="no_rank">翻译题答案可以为空</p>
    <div>
        <div class="default fill_blank">            
            <a>x</a>
            <input type="text" ng-model="model.exercisecommon.exercise.Conten">
            <span class="icon icon_unfold"></span>
        </div>
        <textarea class="form-control" style="margin-top:5px;" ng-model="model.exercisechoicelist[0].Answer" placeholder="在此处添加答案..."></textarea>
    </div>
    <div class="text_box" style="color: #F00; margin-top: 20px;">
        试题解析:
        <textarea class="form-control" rows="4" ng-model="model.exercisecommon.exercise.Analysis"></textarea>        
    </div>
</div>
