<div class="paper_content">
    <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
    <p class="no_rank">翻译题答案可以为空</p>
    <div class="default fill_blank">
        <a href="javascript:;">x</a>
        <input type="text">
        <span class="icon icon_unfold"></span>
    </div>
    <textarea class="noun_answer" placeholder="在此处添加答案..."></textarea>
    <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加选项</span></a>
    <div class="text_box" style="color:#F00;">这里是富文本框这里是富文本框<br>试题解析试题解析</div>
    <div class="btn_box">
        <a href="javascript:;" class="save">预览</a>
        <a href="javascript:;" class="save">保存</a>
        <a href="javascript:;" class="cancel">取消</a>
    </div>
</div>