<div class="preview_box">
    <div class="preview_content">
        <ul class="question_list">
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==2">
                <div class="issue_box">
                    <h4>1  【单选题】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="radio_list">
                    <p ng-repeat="item in exercise.exercisechoicelist">
                        <input type="radio" ng-checked="item.IsCorrect">{{item.Conten}}
                    </p>
                </div>
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==3">
                <div class="issue_box">
                    <h4>2  【多选题】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="checkbox_list">
                    <p ng-repeat="item in exercise.exercisechoicelist">
                        <input type="checkbox" ng-checked="item.IsCorrect">{{item.Conten}}
                    </p>
                </div>
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==10">
                <div class="issue_box">
                    <h4>3  【问答题】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="text_box" style="color:#F00;" ng-show="show==1">
                    {{exercise.exercisecommon.exercise.Answer}}
                </div>
                <a class="reference_answer" ng-click="show=1">查看参考答案</a>
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==5">
                <div class="issue_box">
                    <h4>4  【填空题】  （20分）</h4>
                    <p>填空题题干</p>
                </div>
                <input class="blank_box" type="text" placeholder="输入填空题答案">
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==11">
                <div class="issue_box">
                    <h4>5  【翻译题】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <input class="blank_box" type="text" ng-value="exercise.exercisecommon.exercise.Answer">
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==4">
                <div class="issue_box">
                    <h4>6  【名词解释】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <div ng-repeat="item in exercise.exercisechoicelist">
                    <input class="blank_box" type="text" ng-value="item.Answer">
                </div>
            </li>
            <li class="hearing" ng-show="exercise.exercisecommon.exercise.ExerciseType==12">
                <div class="listen_box">
                    <i class="icon head_phone"></i>
                    <div class="listening">
                        <h4>7  【听力训练】  （50分）</h4>
                        <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                    </div>
                </div>
                <div class="issue_box">
                    <h4>7.1  【单选题】  （20分）</h4>
                    <p ng-bind="exercise.Children.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="radio_list">
                    <p ng-repeat="item in exercise.Children.exercisechoicelist">
                        <input type="radio" ng-checked="item.IsCorrect==1">{{item.Conten}}
                    </p>
                </div>
                <div class="issue_box">
                    <h4>7.2  【填空题】  （20分）</h4>
                    <p ng-bind="exercise.Children.Children.Children.exercisecommon.exercise.Conten">填空题题干</p>
                </div>
                <input class="blank_box" type="text" ng-value="exercise.Children.Children.Children.exercisecommon.exercise.Answer">
            </li>
            <li class="hearing" ng-show="exercise.exercisecommon.exercise.ExerciseType==17">
                <div class="listen_box">
                    <i class="icon head_phone"></i>
                    <div class="listening">
                        <h4>7  【自定义题型】  （50分）</h4>
                        <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                    </div>
                </div>
                <div class="issue_box">
                    <h4>7.1  【单选题】  （20分）</h4>
                    <p ng-bind="exercise.Children.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="radio_list">
                    <p ng-repeat="item in exercise.Children.exercisechoicelist">
                        <input type="radio" ng-checked="item.IsCorrect==1">{{item.Conten}}
                    </p>
                </div>
                <div class="issue_box">
                    <h4>7.2  【填空题】  （20分）</h4>
                    <p ng-bind="exercise.Children.Children.Children.exercisecommon.exercise.Conten">填空题题干</p>
                </div>
                <input class="blank_box" type="text" ng-value="exercise.Children.Children.Children.exercisecommon.exercise.Answer">
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==8||exercise.exercisecommon.exercise.ExerciseType==9">
                <div class="issue_box">
                    <h4>8  【分析题/解答题/计算题】  （20分）</h4>
                    <p>分析题/解答题/计算题题干</p>
                </div>
                <input class="blank_box" type="text" placeholder="输入分析题/解答题/计算题答案">
            </li>
            <li style="display:none;">
                <div class="issue_box">
                    <h4>9  【阅读理解（填空）】  （20分）</h4>
                    <p>阅读理解（填空）题干</p>
                </div>
                <input class="blank_box" type="text" placeholder="输入阅读理解答案">
            </li>
            <li class="hearing" ng-show="exercise.exercisecommon.exercise.ExerciseType==14">
                <div class="listen_box">
                    <i class="icon text_doc"></i>
                    <div class="listening">
                        <h4>10  【阅读理解（选择）/完形填空】  （50分）</h4>
                        <p>阅读理解（填空）题干</p>
                    </div>
                </div>
                <div class="issue_box">
                    <h4>10.1  【单选题】  （20分）</h4>
                    <p>共享课程的视频格式要求？</p>
                </div>
                <div class="radio_list">
                    <p><input type="radio">A.WMV</p>
                    <p><input type="radio">B.RMVB</p>
                    <p><input type="radio">C.MP4</p>
                    <p><input type="radio">D.AVI</p>
                </div>
                <div class="issue_box">
                    <h4>10.2  【多选题】  （20分）</h4>
                    <p>以下描述正确的是？</p>
                </div>
                <div class="checkbox_list">
                    <p><input type="checkbox">A.视频分辨率可以是1280*720，1024*768，800*600</p>
                    <p><input type="checkbox">B.视频码流要求小于等于1M，便于网上流畅直播</p>
                    <p><input type="checkbox">C.视频时长不做限制，老师可以把随堂拍的视频直接拿来使用</p>
                    <p><input type="checkbox"> D.视频时长建议几分钟至十几分钟内。知识点化或小主题化，有较强针对性，查找方便</p>
                </div>
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==13">
                <div class="issue_box">
                    <h4>11  【写作】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="text_box" style="color:#F00;">
                    {{exercise.exercisecommon.exercise.Answer}}
                </div>
            </li>
            <li style="display:none;">
                <div class="issue_box">
                    <h4>12  【答题卡】  （20分）</h4>
                    <p>答题卡题干</p>
                </div>
                <div class="text_box" style="color:#F00;">
                    这里是富文本框这里是富文本框这里是富文本框
                </div>
                <input class="blank_box" type="text" placeholder="输入答题卡答案">
                <input class="blank_box" type="text" placeholder="输入答题卡答案">
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==1">
                <div class="issue_box">
                    <h4>13  【判断题】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="true_false">
                    <a ng-show="exercise.exercisecommon.exercise.Answer=='1'">正确</a>
                    <a ng-show="exercise.exercisecommon.exercise.Answer=='0'">错误</a>
                </div>
            </li>
            <li ng-show="exercise.exercisecommon.exercise.ExerciseType==7">
                <div class="issue_box">
                    <h4>14  【排序题】  （20分）</h4>
                    <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                </div>
                <div class="sequence_list">
                    <div class="sequence" ng-repeat="item in exercise.exercisechoicelist">
                        <select>
                            <option ng-bind="item.OrderNum"></option>
                        </select>
                        <p ng-bind="item.Conten"></p>
                    </div>                    
                </div>
            </li>
            <li class="hearing" ng-show="exercise.exercisecommon.exercise.ExerciseType==6">
                <div class="listen_box connection">
                    <i class="icon connect"></i>
                    <div class="listening">
                        <h4>15  【连线题】  （20分）</h4>
                        <p ng-bind="exercise.exercisecommon.exercise.Conten"></p>
                    </div>
                </div>
                <div class="connection_list" ng-repeat="item in exercise.exercisechoicelist">
                    <div class="connect_l">
                        <p>{{item.Conten}}<i></i></p>                        
                    </div>
                    <div class="connect_r">
                        <p><i></i>{{item.Answer}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn_box">
        <a href="javascript:;" class="save" onclick="window.history.back();">返回</a>
    </div>
</div>
