<div>
    <div class="paper_wrap">
        <div class="text_box" style="color:#F00;">
            <textarea class="form-control" rows="4" ng-model="model.exercisecommon.exercise.Conten"></textarea>
        </div>
        <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
        <p class="no_rank">请按照序号顺序填写答案，题目保存后，答案会自动打乱</p>
        <div class="default fill_blank" ng-repeat="item in model.exercisechoicelist">
            <a ng-click="Del(item)">x</a>
            <input type="text" ng-model="item.Conten">
            <span class="icon icon_unfold"></span>
        </div>
    </div>
    <a class="add_attach" ng-click="Add()"><em><i class="icon"></i></em><span>添加选项</span></a>
    <div class="text_box" style="color: #F00; margin-top: 20px;">
        试题解析：
        <textarea class="form-control" rows="4" ng-model="model.exercisecommon.exercise.Analysis"></textarea>
    </div>
</div>