<div class="paper_content">    
    <textarea class="form-control" rows="4" ng-model="model.exercisecommon.exercise.Conten"></textarea>
    <a class="add_attach" href="#"><em><i class="icon"></i></em><span>添加附件</span></a>
    <p class="no_rank">翻译题答案可以为空</p>
    <div class="text_box" style="color:#F00;">
        <textarea class="form-control" rows="4" ng-model="model.exercisecommon.exercise.Answer"></textarea>
    </div>
    <ul class="question_item">
        <li ng-class="{active:textarea==0}"><a ng-click="tabTextarea()">试题解析</a></li>
        <li ng-class="{active:textarea==1}"><a ng-click="tabTextarea()">得分点</a></li>
    </ul>
    <div class="text_box" style="color:#F00;">
        <textarea class="form-control" rows="4" ng-show="textarea==0" ng-model="model.exercisecommon.exercise.Analysis"></textarea>
        <textarea class="form-control" rows="4" ng-show="textarea==1" ng-model="model.exercisecommon.exercise.ScorePoint"></textarea>
    </div>
</div>