<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practces/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
    <container name="FirstClass">
      <extension type="Interception"/>
      <register type="IES.G2S.Resource.IBLL.IExerciseBLL,IES.G2S.Resource.IBLL" mapTo="IES.G2S.Resource.BLL.ExerciseBLL,IES.G2S.Resource.BLL" name="IExerciseBLL">
        <interceptor type="InterfaceInterceptor" />
        <policyInjection/>
      </register>

      <register type="IES.G2S.Resource.IBLL.IFileBLL,IES.G2S.Resource.IBLL" mapTo="IES.G2S.Resource.BLL.FileBLL,IES.G2S.Resource.BLL" name="IFileBLL">
        <interceptor type="InterfaceInterceptor" />
        <policyInjection/>
      </register>
    </container>

    <container name="TwoClass">
      <extension type="Interception"/>
      <register type="IES.G2S.Resource.IBLL.IExerciseBLL,IES.G2S.Resource.IBLL" mapTo="IES.G2S.Resource.BLL.ExerciseBLL,IES.G2S.Resource.BLL" name="IExerciseBLL">
        <interceptor type="InterfaceInterceptor" />
        <policyInjection/>
      </register>

      <register type="IES.G2S.Resource.IBLL.IFileBLL,IES.G2S.Resource.IBLL" mapTo="IES.G2S.Resource.BLL.FileBLL,IES.G2S.Resource.BLL" name="IFileBLL">
        <interceptor type="InterfaceInterceptor" />
        <policyInjection/>
      </register>
    </container>
    
    
    
    
  </unity>
</configuration>