<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <log4net debug="true">
    <!--SqlServer 日志配置-->
    <appender name="ado_sqlserver" type="log4net.Appender.AdoNetAppender">
      
      <bufferSize value="1" />
      <!--处理连接的类-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--连接字符串-->
      <connectionString value="Data Source=192.168.4.231\sql2008;User Id=sa;Password=123;Initial Catalog=IES_Sys;Integrated Security=no;" />
      <!--写入日志Sql命令-->
      <commandText value="insert into dbo.Log (UserID,CourseID,OCID,ModuleID,ActionID,IP,Date,Conten,LogLevel) values (@UserID,@CourseID,@OCID,@ModuleID,@ActionID,@IP,@Date,@Conten,@LogLevel)" />
      <parameter>
        <parameterName value="@UserID" />
        <dbType value="Int32" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{UserID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CourseID" />
        <dbType value="Int32" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{CourseID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@OCID" />
        <dbType value="Int32" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{OCID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ModuleID" />
        <dbType value="Int32" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{ModuleID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ActionID" />
        <dbType value="Int32" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{ActionID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@IP" />
        <dbType value="String" />
        <size value="200" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{IP}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Date" />
        <dbType value="DateTime" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{Date}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Conten" />
        <dbType value="String" />
        <size value="2147483647" />
        <layout type="IES.AOP.G2S.Logs.IESLogLayout, IES.AOP.G2S">
          <param name="ConversionPattern" value="%property{Conten}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogLevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>

    </appender>

    <!--回滚文件 日志记录-->
    <appender name="txtfile_appender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\"/>
      <!--文件路径-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n%m %n"/>
      </layout>
    </appender>
    
    <!--控制台 日志记录-->
    <appender name="console_appender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="错误级别: [%-level] 线程ID:[%thread]  错误对象:[%c]  文件:[%file:%line] - %message"/>
      </layout>
    </appender>


    <!--log4net.LogManager.GetLogger("loginfo")用这个来选择这种类型-->
    <logger name="exercise_logger">
      <level value="ALL"/>
      <!--<appender-ref ref="ado_sqlserver"/>-->
    </logger>
    <logger name="jw_logger">
      <level value="ALL"/>
      <!--<appender-ref ref="ado_sqlserver"/>-->
    </logger>

    <!--默认类型-->
    <root>
      <level value="ALL"/>   <!--设置启用日志记录的级别 ALL：启动所有 INFO: 启动除了DEBUG  -->
      <appender-ref ref="ado_sqlserver"/>
    </root>
  </log4net>
</configuration>