/*公共样式 */


/*首页右侧我的课表*/
.core_content{ width:750px; float:left;margin-bottom:-10000px; padding-bottom:10000px; background:#fff;}
.course_nav{ height:40px; background:#374760; overflow:hidden; zoom:1; position:relative;}
.course_arrange{ margin:10px 0 0 25px; height:30px; line-height:30px;}
.course_arrange li{ float:left; margin-right:10px; }
.course_arrange li a{ display:block;width:90px; height:30px; line-height:30px; text-align:center; background:#475b7c; color:#fff;}
.course_arrange li a:hover{ text-decoration:none;}
.course_arrange li.active a,.course_arrange li a:hover{ background:#fff; color:#374760;}
.creat_course{ position:absolute; right:18px; top:8px; color:#fff; font-size:12px; padding-left:25px;}
.icon_new{ background-position:0 -24px; position:absolute; left:0; top:0;}

.course_box{ margin:43px 0 20px; overflow:hidden; zoom:1;}
.switch_box{ position:relative;height:202px;}
.course_switch{ overflow:hidden; zoom:1; width:640px; height:202px; margin-left:44px; position:relative;}
.course_list{ position:absolute; top:0; left:0;  width:9999px;}
.course_list li{ width:282px; height:202px; float:left; padding:0 25px; border-left:1px solid #cacaca; margin-left:-1px; overflow:hidden; zoom:1;}
.img_tit{ width:282px; height:150px; overflow:hidden; zoom:1; position:relative; font-family:'Microsoft YaHei';}
.img_tit img{ display:block;}
.img_tit h4{ width:282px; font-size:14px; color:#fff; font-weight:normal; position:absolute; bottom:10px; text-align:center;}
.course_detail{ width:100%;height:150px;background-color: rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); position:absolute; left:0; top:-150px; color:#fff;}
.course_detail h5{ margin:14px 0 0 10px; font-size:16px; color:#fff; position:relative;}
.course_detail h5 i{ background-position:0 -166px; margin-left:10px;}
.course_detail p{ font-size:12px; line-height:25px; margin-top:5px; margin-left:10px; overflow:hidden; zoom:1;}
.course_detail p span{ display:block; float:left; width:90px; margin-right:20px;}
.course_detail a{ display:block; width:80px; height:20px; text-align:center; line-height:20px; color:#fff; font-size:12px; background:#ff6600; position:absolute; right:7px; top:14px; border-radius:4px;}
.course_detail a:hover{ background:#ef6204;}
.icon_list{ height:52px; background:#e4e4e4; overflow:hidden; zoom:1; padding:0 1px;}
.icon_list li{ width:56px; float:left; margin:0; border:none; height:52px; padding:0; text-align:center;}
.icon_list li.active{ background:#374760;}
.icon_list li.active a{ color:#fff;}
.icon_list li a{ font-size:12px; color:#666;}
.icon_list li a i{ display:block; width:24px; height:24px; margin:3px auto;}
.icon_list li.active .fanzhuan{ background-position:-48px 0;}
.icon_list li.active .site{ background-position:-48px -24px;}
.icon_list li.active .mooc{ background-position:-48px -48px;}
.icon_list li.active .student{ background-position:-48px -72px;}
.icon_list li.active .team{ background-position:-48px -96px;}
.fanzhuan{ background-position:-24px 0;}
.site{ background-position:-24px -24px;}
.mooc{ background-position:-24px -48px;}
.student{ background-position:-24px -72px;}
.team{ background-position:-24px -96px;}
.course_prev,.course_next{ display:block; width:16px; height:32px; position:absolute; top:50%; margin-top:-16px;}
.course_prev{ background-position:0 -100px; left:25px;}
.course_next{ background-position:0 -134px; right:25px;}
.shouqi{ display:block; width:750px; font-size:12px; color:#374760; margin:20px 0 13px; text-align:center;}

.course_all{ padding:17px 24px 22px; background:#e4e4e4; border-top:1px solid #cacaca; overflow:hidden; zoom:1;}
.course_all li{ float:left; width:114px; height:102px; margin-right:18px; border:1px solid #e4e4e4; position:relative; overflow:hidden; zoom:1;}
.course_all li.active{border:1px solid #f99391;}
.course_img{ position:relative; z-index:10;}
.course_img img{ display:block;}
.course_all li p{ height:32px; line-height:32px; font-size:12px; width:114px; text-align:center; position:absolute; bottom:0; left:0; overflow:hidden; zoom:1;}
.small_icon{ margin:0 2px; position:absolute; top:102px; left:0;}
.small_icon li{ width:22px; height:32px; margin:0; border:0;}
.small_icon li a{ display:block; width:16px; height:16px; margin:8px auto;}
.small_fz{ background-position:-37px 0;}
.small_site{background-position:-37px -16px;}
.small_mooc{background-position:-37px -32px;}
.small_stu{background-position:-37px -48px;}
.small_team{background-position:-37px -64px;}

.message_box{ margin-top:15px; overflow:hidden; zoom:1;}
.message_nav{ height:30px; line-height:30px; border-bottom:1px solid #2f405a; overflow:hidden; zoom:1; padding-left:23px;}
.message_nav li{ float:left; }
.message_nav li a{ display:block; color:#333;padding:0 15px; height:28px; line-height:28px;font-size:16px; font-family:'Microsoft YaHei';}
.message_nav li.active a{ border-bottom:2px solid #30405a; font-weight:bold;}
.issue_notice{ height:40px; background:#e4e4e4; overflow:hidden; zoom:1;}
.issue_notice a{ display:block; float:right; margin:7px 30px 0 0; width:105px; height:25px; background:url(../images/add_bg.gif) no-repeat; overflow:hidden; zoom:1;}
.issue_notice a:hover{ background:url(../images/add_bg_hover.gif) no-repeat;}
.issue_notice a em{ display:block; width:25px; height:25px; float:left;}
.issue_notice a em i{ display:block; width:16px; height:16px; background-position:-53px 0; margin:4px 0 0 4px;}
.issue_notice a span{ display:block; width:80px; height:25px; float:left; text-align:center; color:#fff;}

.message_detail{ width:690px; margin:0 auto; overflow:hidden; zoom:1;}
.message_list{ padding:15px 0 22px; border-top:1px dotted #d3d3d3; margin-top:-1px; overflow:hidden; zoom:1;}
.message_tit{ overflow:hidden; zoom:1;}
.message_tit i{ display:block; float:right; margin-left:10px; width:16px; height:16px; background-position:0 -224px;}
.message_tit h4{ overflow:hidden; font-size:14px; color:#374760;}
.notice_content{ margin-top:20px; font-size:14px; color:3333; line-height:22px;}
.issue_detail{ overflow:hidden; zoom:1; margin-top:20px;}
.comment_btn{ display:block; float:right;color:#374760;}
.comment_btn:hover{ text-decoration:underline;}
.issue_detail p{ overflow:hidden; zoom:1; color:#999;}
.issue_detail p a{ color:#999; padding-left:10px;}
.comment_box{ display:none; margin-top:10px; padding:10px; background:#f2f2f2; border:1px solid #ededed; position:relative;}
.triangle{ display:inline-block; width:0; height:0; line-height:0; overflow:hidden; border-width:7px; border-style:solid; border-color:#fff #fff #f2f2f2; position:absolute; top:-13px; right:30px;}
.chat_box{ }
.chat_detail{ width:650px;height:30px; line-height:30px\9; background:#fff; padding:0 8px; color:#999; border:1px solid #d8d8d8;}
.text_area{ display:none; width:650px; padding:8px; color:#000; border:1px solid #ff3702; height:37px; line-height:17px; resize:none;}
.expression{ display:none; overflow:hidden; zoom:1; margin-top:10px;}
.biaoqing{float:left; color:#374760; padding-left:20px; position:relative;}
.biaoqing i{ background-position:-37px -80px; position:absolute; left:0; top:3px;}
.issue_comment{ display:block; float:right; height:22px; line-height:22px; padding:0 10px; background:#475b7c; color:#fff; text-align:center;}
.expression p{ float:right; color:#999; margin-right:15px;}
.expression p span{ font-family:'Tahoma,Arial'; font-size:14px; font-weight:bold; padding:0 3px;}
.comment_list{ width:100%; margin-top:10px; overflow:hidden; zoom:1;}
.comment_list li{ padding:5px 0; border-top:1px solid #e5e5e5; margin-top:-1px; overflow:hidden; zoom:1;}
.comment_list li img{ display:block; float:left; margin-right:10px;}
.comment_list li p{ overflow:hidden; color:#666; line-height:16px;}
.comment_list li p a{color:#374760;}
.comment_list li p b{ color:#999; font-weight:normal; padding-left:10px;}
.more_comment{ display:block; width:668px; text-align:center; color:#374760; font-family:'Tahoma,Verdana,STHeiTi,simsun,sans-serif';outline:none; hide-focus:expression(this.hideFocus=true);}
.more_comment:hover{ text-decoration:underline;}


.right_side{ float:left; width:250px; overflow:hidden; zoom:1;margin-bottom:-10000px; padding-bottom:10000px; background:#f2f2f2;}
.search_box{ height:40px; background:#49586f; overflow:hidden; zoom:1;}
.search_box p{ width:196px; height:25px; background:#cccccc;border:1px solid #cccccc; margin:6px 0 0 25px; overflow:hidden; zoom:1; position:relative;}
.search_input{ width:160px; padding:0 5px; background:#fff; height:25px; line-height:25px\9; color:#999; border:0;  }
.search_box p a{ background-position:-37px -96px; position:absolute; right:5px; top:5px;}
.search_box p a:hover{ background-position:-37px -112px;}
.kc_list{ overflow:hidden; zoom:1; width:200px; margin:0 auto;}
.kc_list li{ padding:15px 0 10px; border-top:1px solid #cbcbcb; margin-top:-1px; overflow:hidden; zoom:1;}
.kc_detail{ overflow:hidden; zoom:1;}
.kc_detail a{ display:block; float:left; margin-right:6px; width:80px; height:60px; position:relative;}
.kc_detail a img{ display:block;}
.kc_detail a span{ display:block; width:40px; height:40px; background-position:-69px 0; position:absolute; top:10px; left:20px;}
.kc_intro{ overflow:hidden; zoom:1; line-height:20px;}
.kc_intro h4{ font-size:13px; font-family:'Microsoft YaHei';}
.kc_intro p{ font-size:12px; color:#999;}
.kc_issue{ margin-top:10px; height:16px; line-height:16px; overflow:hidden; zoom:1;}
.kc_issue a{ float:left; margin-right:13px;}
.rewrite{ background-position:0 -187px;}
.rewrite:hover{ background:url(../images/icon_construction.png) no-repeat -48px 0;}
.delete{background-position:0 -204px;}
.delete:hover{background:url(../images/icon_construction.png) no-repeat -48px -48px;}
.kc_issue span{ float:left; font-size:12px; color:#999;font-family:'Microsoft YaHei';}
.function_btn{ margin-top:25px; overflow:hidden; zoom:1;}
.function_btn a{ display:block; width:200px; height:40px; line-height:40px; text-align:center; margin:0 auto; color:#fff; font-size:16px; font-family:'Microsoft YaHei'; margin-bottom:9px;}
.upload_data{ background:#b7d55b;}
.upload_data:hover{ background:#caeb64;}
.add_exercise{ background:#69ad94; }
.add_exercise:hover{ background:#7ecfb1; }
.add_paper{background:#df7424;}
.add_paper:hover{background:#f88129;}



/*首页右侧我的课程*/
.guide_video{ display:block; width:200px; margin:30px auto 0; overflow:hidden; zoom:1; position:relative;}
.guide_video img{ display:block;}
.guide_video span{ display:block; width:40px; height:40px; background-position:-69px 0; position:absolute; top:55px; left:80px;}
.guide_video p{ width:160px; padding:0 10px; height:28px; line-height:28px;background-color: rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); font-size:13px; color:#fff; font-family:'Microsoft YaHei'; position:absolute; bottom:12px; right:0;}

.curriculum_box{ width:700px; margin:30px auto 0;}
.course_tit{ overflow:hidden; zoom:1;font-family:'Microsoft YaHei';}
.course_tit a{ display:block; float:left; font-size:16px; color:#333; margin-top:6px; }
.week_list{ float:left; width:180px; text-align:center;}
.week_list li{ display:none; font-size:12px; color:#999;}
.week_list li h4{font-weight:normal; font-size:16px; height:20px; line-height:20px; color:#333;}
.week_list li h4 span{ display:inline-block; margin-left:10px; width:40px; height:20px; text-align:center; line-height:20px; background:#f2f2f2; font-size:12px; color:#999; }
.time_table{ width:100%; margin:10px 0; font-family:'Microsoft YaHei';}
.time_table tr td,.time_table tr th{ border:1px solid #e3e3e3;  vertical-align:middle; }
.time_table tr th{ width:14%; font-size:13px; color:#fff; background:#b6bfc4;line-height:30px;height:30px;}
.time_table tr th.active{ background:#374760;}
.time_table tr td{ height:40px;}
.time_table tr td.interval{ height:20px; line-height:20px; background:#f2f2f2; color:#999; text-align:center;}
.curriculum{ width:100%; height:100%; color:#666; position:relative;}
.curriculum b{ display:block; width:100%; text-align:center; font-weight:normal; line-height:40px; cursor:pointer;}
.num{ color:#999; position:absolute; top:5px; left:5px; line-height:12px;}
.icon_curri{ display:block; width:28px; height:28px; background-position:-109px 0; position:absolute; right:0; top:-1px;}
.curri_info{ display:none; position:absolute; left:100%; top:0; width:250px; padding-bottom:20px; background:#b6bfc4;}
.curri_info p{ color:#fff; padding:10px 20px 0;}
.inter_btn{ width:210px; margin:0 auto;}
.inter_btn a{ display:block; width:100%; margin-top:10px; height:30px; line-height:30px; text-align:center; background:#fff; font-size:13px; color:#666;}
.inter_btn a:hover{ color:#333;}
.icon_box{ margin:10px 20px 0; overflow:hidden; zoom:1;}
.icon_box li{ float:left; width:52px; text-align:center; font-size:13px; color:#fff;}
.icon_box li a{ color:#fff; }
.icon_box li a:hover{ color:#333;}
.icon_box li a i{ display:block; width:24px; height:24px; margin:0 auto;}
.icon_box li a i.site{ background-position:-48px -24px;}
.icon_box li a i.mooc{ background-position:-48px -48px;}
.icon_box li a i.student{ background-position:-48px -72px;}
.icon_box li a i.team{ background-position:-48px -96px;}


















