@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,textarea,p,blockquote,th,td,hr,button,figure,menu{margin:0;padding:0;}
body{font:12px/20px Microsoft YaHei,\5b8b\4f53,sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
a img{border:none; vertical-align:top;}
a{ text-decoration:none;}


.lay_background{ width:100%; height:100%;position:absolute;left:0;top:0;z-index:-1;overflow:hidden}
.lay_background .lay_background_img{position:absolute;left:0;top:0;z-index:-1}
.lay_background .lay_background_img{opacity:0;-webkit-transition:opacity .8s ease;-moz-transition:opacity .8s ease;transition:opacity .8s ease}
.lay_background .lay_background_img_fade_out{opacity:1}

.wrap_box{ width:600px; height:400px; position:absolute; left:50%; margin-left:-300px; top:50%; margin-top:-200px; background:url(../images/bg.png) no-repeat;}
.login_wrap{ padding:30px; overflow:hidden;}
.logo_box{ overflow:hidden; height:35px; line-height:35px;}
.logo_box img{ float:left; margin-right:10px;}
.logo_box h1{ float:left; margin-right:20px; font-size:32px; color:#fff;}
.version_box{ float:left; margin-top:3px; height:28px; line-height:28px; padding:0 8px; background:#ffcc00; font-size:14px; color:#333; font-weight:bold; position:relative;}
.version_box i{ display:block; width:10px; height:15px; background:url(../images/arrow.png) no-repeat; position:absolute; top:6px; left:-10px;}

.login_box{ margin-top:20px; width:540px; height:280px; overflow:hidden; position:relative; background:url(../images/bg2.png) no-repeat;}
.login_content{ padding:0 35px; overflow:hidden; position:relative;}
.wrong_tip{ color:#990000; font-size:13px; position:absolute; top:20px; left:140px;}
.input_box{ margin-top:20px; color:#374760; font-size:13px;}
.input_box input{ display:block; margin-top:5px; padding:6px 8px; height:22px; line-height:22px;  width:450px; font-family:'Arial'; font-size:13px; color:#333;}
.user_name{border:2px solid #374760;}
.password{ border:2px solid #ccc;}
.login_btn{ margin-top:26px; overflow:hidden;}
.btn_box{ float:left; overflow:hidden;}
.btn_box a{ float:left; width:118px; height:48px; line-height:48px; text-align:center; margin-right:12px; font-size:16px; border-radius:5px;}
.teacher_btn{ background:#374760; color:#fff;}
.teacher_btn:hover{ background:#303e53;}
.admin_btn{ background:#fff; color:#333;}
.admin_btn:hover{ background:#f1f1f1;}
.password_guide{ font-size:14px; color:#374760; line-height:48px; text-decoration:underline;}

.pop_bg{display:none; width:100%; height:100%; position:absolute; top:0; left:0;background-color: rgba(0, 0, 0, 0.4); filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000); z-index:998;}
.pop_400{ display:none; width:400px; position:absolute; left:50%; margin-left:-200px; top:200px; background:#fff; z-index:999;}
.pop_400 h4{ height:40px; line-height:40px; background:#374760; font-size:14px; color:#fff; padding-left:13px;}
.pop_wrap{padding:15px 20px; overflow:hidden;}
.tip_box{ overflow:hidden;}
.tip_box img{ float:left; margin-right:8px;}
.tip_box p{ overflow:hidden; color:#333; margin-top:5px;}
.close_btn{ display:block; width:16px; height:16px; background:url(../images/close.png) no-repeat; position:absolute; right:12px; top:12px; cursor:pointer;}
.close_tip{ margin-top:10px; text-align:center; font-size:14px; color:#666;}
.close_tip span{ color:#ff0000;}


.user_box{ text-align:center; height:280px; position:relative;}
.welcome{ margin-top:60px; font-size:16px; color:#333; font-family:'Arial';}
.user_box .btn_box{ float:none; margin-top:25px;}
.user_box .btn_box a{ float:none; display:inline-block;}
.disable_btn{ color:#ccc; background:#999;}
.log_out{ display:block; margin-top:25px; text-align:center; color:#374760; font-size:16px; text-decoration:underline;}
.explanation{ width:540px; text-align:center; font-size:13px; color:#666; position:absolute; bottom:20px; left:0;}

