@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout2.cshtml";
}
<!DOCTYPE html>
<link href="~/Css/mooc.css" rel="stylesheet" />
<script src="~/js/jquery-1.8.3.min.js"></script>
<script src="~/js/mooc.js"></script>


<div ng-controller="MOOCController">
    <di v class="wrap">
        <div class="main_all">
            <h2>{{MOOCName}} MOOC > 设计向导</h2>
            <div class="step_nav_box">
                <ul class="step_nav">
                    <li ng-class="{'index3 active':Step==1,'index3':Step!=1}" ng-click="ChangeStep(1)"><a href="#">1.进阶式教程设计</a></li>
                    <li ng-class="{'index2 active':Step==2,'index2':Step!=2}" ng-click="ChangeStep(2)"><a href="#">2.见面课设计</a></li>
                    <li ng-class="{'index1 active':Step==3,'index1':Step!=3}" ng-click="ChangeStep(3)"><a href="#">3.发布与招生</a></li>
                </ul>
                <div class="create_box">
                    <a href="#">如何创建MOOC课程？</a>
                    <a class="icon_24 icon_home" href="javascript:void(0)"></a>
                    <a class="icon_24 icon_eye" href="javascript:void(0)"></a>
                    <a class="icon_24 icon_plan" href="javascript:void(0)"></a>
                </div>
            </div>
            <div ng-show="Step==1" class="main_content">
                @*进阶式教程设计*@
                <p class="text_box">
                    • 进阶式教程能帮助教师有效的组织教学内容，同时也帮助学生快速的进行自主学习。<br>
                    • 设计进阶式教程需要至少1章内容，每一章内容至少需要1个小节。<br>
                    • 每一小节教学内容，必须包含一段视频或资料内容，最适宜自主学习的长度为3-10分钟。<br>
                    • 在每章内容之后，还需要为学生提供评估测试或作业部分，每一份教程最后都需要有一个总结考试。<br>
                    • 为了励学生完成学习内容，在通过每章考试后，均可获得一枚徽章作为奖励，收集全部章节徽章后，可挑战最后的总结考试，通过后可获得课程徽章。
                </p>
                <p class="tips">
                    <i class="icon_mooc icon_light"></i>您可以将资料批量上传，然后在上传等待过程中可以编辑章节目录，最后在【课程资料】标签中，把资料批量关联到每小节中
                </p>
                <div class="course_box">
                    <div class="course_nav_box">
                        <ul class="course_nav">
                            <li ng-class="{'active':type==1}"><a href="javascript:void(0);" ng-click="ChangeType(1)">课程目录</a></li>
                            <li ng-class="{'active':type==2}"><a href="javascript:void(0);" ng-click="ChangeType(2)">课程资料</a></li>
                        </ul>
                    </div>
                    <div class="tip_text" ng-show="type==1">
                        <span></span>
                    </div>
                    <div class="course_detail"  ng-show="type==1">
                        <div class="setting_box">
                            <div class="setting_list">
                                <p><input ng-checked="OcMooc.IsShowFirstChapter" ng-model="OcMooc.IsShowFirstChapter" type="checkbox">创建绪论</p>
                                <p ng-mouseover="titleShow=true" ng-mouseleave="titleShow=false"><input ng-checked="OcMooc.PopTime>0?true:false" type="checkbox">间隔<input type="text" ng-model="OcMooc.PopTime" >分钟弹出学习提示</p>
                                <p><input ng-checked="OcMooc.IsCross" ng-model="OcMooc.IsCross" type="checkbox">开启跨章学习 您关闭了跨章学习，学生必须按照顺序学习各章</p>
                            </div>
                            <div ng-show="titleShow" class="open_tip">
                                <span></span>选择该项后，系统会根据设置好的时间，在学生学习资料时弹出学习提示，学生确定后，才会继续计时，避免学生混学习时间。
                            </div>
                            <ul class="icon_name">
                                <li>简介</li>
                                <li>资料</li>
                                <li>讨论</li>
                                <li>测试</li>
                                <li>知识点</li>
                                <li>启用</li>
                            </ul>
                        </div>

                        <ul class="chapter_box">
                            <li ng-repeat="Chapter in ChapterList|MoocFilter:'=':0|orderBy:'Orde'" on-chapter-get>
                                <div ng-class="{'first_chapter background1':Chapter.ShowOperation==true,'first_chapter background2':Chapter.ShowOperation!=true}" ng-mouseover="Chapter_MouseOver(Chapter);" ng-mouseleave="Chapter_MouseLeave(Chapter)">
                                    @*Chapter.active=true(编辑状态)*@
                                    <div class="chapter_tit">
                                        <p ng-show="Chapter.active!=true" ng-click="Chapter.active=true" class="first_chapter_name">{{Index=$index+1}} {{Chapter.Title}}</p>
                                        <p ng-show="Chapter.active==true" class="first_chapter_name">{{Index=$index+1}}<input ng-blur="Chapter.active=false;" class="first_chapter_input" type="text" ng-model="Chapter.Title" focus-me="{{Chapter.active}}" /></p>
                                        <div class="operation_btn first_operation" ng-show="Chapter.ShowOperation==true">
                                            <a ng-click="Chapter_Move(Chapter,'1')" href="javascript:void(0)"></a>
                                            <a ng-click="Chapter_Move(Chapter,'2')" href="javascript:void(0)"></a>
                                            <a ng-click="Chapter_Del(Chapter)" href="javascript:void(0)"></a>
                                        </div>
                                    </div>
                                    <div class="chapter_btn">
                                        <a class="j_brief" ng-click="ChapterDetail(Chapter)" href="javascript:void(0)" role="button" data-backdrop="static" data-toggle="modal"><i class="icon_mooc icon_brief"></i></a>
                                        <a class="j_data" href="javascript:void(0)"></a>
                                        <a ng-click="PartDiscussion(Chapter)" class="j_discuss" href="javascript:void(0)"><i class="icon_con icon_discuss"></i></a>
                                        <a href="javascript:void(0)"><i class="icon_mooc icon_ceshi"></i></a>
                                        <a class="j_know" href="javascript:void(0)"><i class="icon_mooc icon_zhishi"></i></a>
                                        <a ng-click="PartStatus(Chapter)" href="javascript:void(0)"><i ng-class="{'icon_mooc open_btn backposition_se':Chapter.MoocStatus==1,'icon_mooc open_btn backposition_unse':Chapter.MoocStatus==0}"></i></a>
                                    </div>
                                </div>
                                <ul>
                                    <li ng-repeat="Chapter2 in ChapterList|MoocFilter:'=':Chapter.ChapterID|orderBy:'Orde'">
                                        <div ng-class="{'first_chapter background1':Chapter2.ShowOperation==true,'first_chapter background2':Chapter2.ShowOperation!=true}" class="first_chapter" ng-mouseover="Chapter_MouseOver(Chapter2)" ng-mouseleave="Chapter_MouseLeave(Chapter2)">
                                            <div class="chapter_tit">
                                                <p ng-show="Chapter2.active!=true;" class="second_chapter_name" ng-click="Chapter2.active=true">{{Index}}.{{$index+1}} {{Chapter2.Title}}</p>
                                                <p ng-show="Chapter2.active==true;" class="second_chapter_name">{{Index}}.{{$index+1}}<input ng-blur="Chapter2.active=false;" class="second_chapter_input" type="text" ng-model="Chapter2.Title" focus-me="{{Chapter2.active}}" /></p>
                                                <div class="operation_btn first_operation" ng-show="Chapter2.ShowOperation==true">
                                                    <a ng-click="Chapter_Move(Chapter2,'1')" href="javascript:void(0)"></a>
                                                    <a ng-click="Chapter_Move(Chapter2,'2')" href="javascript:void(0)"></a>
                                                    <a ng-click="Chapter_Del(Chapter2)" href="javascript:void(0)"></a>
                                                </div>
                                            </div>
                                            <div class="chapter_btn">
                                                <a ng-click="PartDetail(Chapter2)" class="j_brief" href="javascript:void(0)" role="button" data-backdrop="static" data-toggle="modal"><i class="icon_mooc icon_brief"></i></a>
                                                <a ng-click="PartFile(Chapter2)" class="j_data" href="javascript:void(0)" role="button" data-backdrop="static" data-toggle="modal"><i class="icon_mooc icon_data"></i></a>
                                                <a class="j_discuss" href="javascript:void(0)"></a>
                                                <a ng-click="PartTest(Chapter2)" href="javascript:void(0)"><i class="icon_mooc icon_ceshi"></i></a>
                                                <a ng-click="PartKnowledge(Chapter2)" class="j_know" href="javascript:void(0)"><i class="icon_mooc icon_zhishi"></i></a>
                                                <a ng-click="PartStatus(Chapter2)" href="javascript:void(0)"><i ng-class="{'icon_mooc open_btn backposition_se':Chapter2.MoocStatus==1,'icon_mooc open_btn backposition_unse':Chapter2.MoocStatus==0}"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div ng-class="{'first_chapter background1':Chapter.ShowOperation==true,'first_chapter background2':Chapter.ShowOperation!=true}" ng-mouseover="Chapter.ShowOperation=true" ng-mouseleave="Chapter.ShowOperation=false">

                                    <div class="chapter_tit">
                                        <p class="first_chapter_name">课程结业考试</p>
                                       
                                    </div>
                                    <div class="chapter_btn">
                                        <a class="j_brief"  href="javascript:void(0)"></a>
                                        <a class="j_data" href="javascript:void(0)"></a>
                                        <a class="j_discuss" href="javascript:void(0)"></a>
                                        <a href="javascript:void(0)"><i class="icon_mooc icon_ceshi"></i></a>
                                        <a class="j_know" href="javascript:void(0)"></a>
                                        <a href="javascript:void(0)"></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="type==2">
                        <table class="data_table">
                            <tr>
                                <th width="400"><p class="table_tit"><input type="checkbox">文件名称<a class="icon icon_rank" href="javascript:void(0)"></a></p></th>
                                <th width="100">上传日期<a class="icon icon_rank" href="javascript:void(0)"></a></th>
                                <th width="105">学习时长</th>
                                <th>关联节</th>
                            </tr>
                            <tr ng-repeat="OCMoocFile in OCMoocFileList|orderBy:'-UploadTime'" ng-class-even="'background1'">
                                <td ng-switch on="OCMoocFile.Ext">
                                    <p class="table_file">
                                        <input type="checkbox">
                                        <i ng-switch-when="mp4" class="icon_24 mp4"></i>
                                        <i ng-switch-when="pdf" class="icon_24 pdf"></i>
                                        <i ng-switch-when="jpg" class="icon_24 pic"></i>
                                        {{OCMoocFile.FileTitle}}
                                    </p>
                                </td>
                                <td>{{OCMoocFile.UploadTimeCopy|dateFormat }}</td>
                                <td ng-switch on="OCMoocFile.FileType == 1 || OCMoocFile.FileType == 2">
                                    @*1,2为视频文件和音频文件*@
                                    <span ng-switch-when="true" class="learning_time">{{OCMoocFile.TimeLength|FormatSeconds }}</span>
                                    <span ng-switch-when="false" class="learning_time">
                                        <input type="text" ng-blur="OCMoocOffline_TimeLimt_Upd()" ng-model="OCMoocFile.TimelimitMin" />（分钟）
                                    </span>
                                </td>
                                <td>
                                    <div class="connect_chapter">
                                        <select ng-model="OCMoocFile.ChapterID" ng-options="m.ChapterID as m.Title for m in ChapterList|MoocFilter:'>':0">
                                        </select>
                                        <i class="icon icon_delete"></i>
                                        <i ng-click="OCMoocFileStatus(OCMoocFile)" ng-class="{'icon_mooc icon_flag':OCMoocFile.IsMust==0,'icon_mooc icon_flag2':OCMoocFile.IsMust==1}"></i>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>
                    <div class="btn_box">
                        <a class="cancel" href="javascript:void(0)">预览</a>
                        <a ng-click="OCMoocSave_Step1(1)" class="keep" href="javascript:void(0)">保存</a>
                        <a ng-click="OCMoocSave_Step1(2)" class="save" href="javascript:void(0)">保存进入下一步</a>
                    </div>
                </div>

            </div>

            <div ng-show="Step==2" class="main_content">
                @*见面课设计*@
                <p class="text_box">
                    • 见面课适用于【统一开课】的招生模式，教师定制好本课程的运行时间，在固定时间组织学生参与面授、答疑、讨论课<br>
                    • 若课程只是在线视频教学，可以跳过本步骤<a href="#">跳过进入下一步</a>
                </p>
                <div class="create_course">
                    <a href="javascript:void(0)" ng-click="OCMoocOffline_Add()">创建见面课</a>
                </div>
                <table class="curri_table">
                    <tr>
                        <th width="10"></th>
                        <th width="340">主题</th>
                        <th width="100">任务类型</th>
                        <th width="150">教师</th>
                        <th width="60">学时</th>
                        <th>建议授课章节</th>
                    </tr>
                    <tr ng-mouseover="titleShow=true" ng-mouseleave="titleShow=false" ng-repeat=" OCMoocOffline in OCMoocOfflineList" ng-class-even="'background1'">
                        <td></td>
                        <td>{{OCMoocOffline.Title}}</td>
                        <td>{{OCMoocOffline.TaskType}}</td>
                        <td>{{OCMoocOffline.UserName}}</td>
                        <td>{{OCMoocOffline.Hours}}</td>
                        <td>
                            <div class="recom_chapter">
                                <div ng-show="titleShow" class="edit_btn ng-hide">
                                    <i ng-click="OCMoocOffline_Del(OCMoocOffline)" class="icon icon_delete"></i>
                                    <i ng-click="OCMoocOffline_Edit(OCMoocOffline) " role="button" data-backdrop="static" data-toggle="modal" class="icon icon_pen"></i>
                                </div>
                                <p>{{OCMoocOffline.ChapterID}}</p>
                            </div>
                        </td>
                    </tr>

                </table>
                <div class="btn_box">
                    <a class="cancel" href="javascript:void(0)">预览</a>
                    <a class="keep" href="javascript:void(0)">保存</a>
                    <a class="save" href="javascript:void(0)">保存进入下一步</a>
                </div>

            </div>

            <div ng-show="Step==3" class="main_content">
                <div class="check_box" ng-switch on="Incomplete>0">
                    <p ng-switch-when="true"><img src="../../../images/cry.png" width="36" height="36" alt="">至少还有<span>{{Incomplete}}</span>处资料没有准备好，继续加油！</p>
                    <p ng-switch-when="false"><img src="../../../images/smile.png" width="36" height="36" alt="">恭喜您！通过了课程资料完整度检查！</p>

                    <div class="result_btn">
                        <a class="result_menu" href="#" role="button" data-backdrop="static" data-toggle="modal" ng-click="ViewCheckResult();">查看结果菜单</a>
                        <a class="check_again" href="#" ng-click="CompleteCheck();"><i class="icon_mooc icon_check"></i>重新检查</a>
                    </div>
                </div>
                @*<div class="recruit_box">
                    <div class="recruit_item">
                        <ul class="enter_list">
                            <li ng-click="OCMoocRecruitStatus=1" ng-class="{'active':OCMoocRecruitStatus==1,'':OCMoocRecruitStatus==2}"><a href="#">进行中的招生</a></li>
                            <li ng-click="OCMoocRecruitStatus=2" ng-class="{'active':OCMoocRecruitStatus==2,'':OCMoocRecruitStatus==1}"><a href="#">已结束的招生</a></li>
                        </ul>
                        <a class="add_student" href="javascript:;"><em><i class="icon icon_add"></i></em><span>新增招生</span></a>
                    </div>
                    <div class="enter_box">
                        <table class="curri_table" >
                            <tr>
                                <th width="10"></th>
                                <th width="72">招生方式</th>
                                <th width="180">招生起止时间</th>
                                <th width="180">教学运行时间</th>
                                <th width="80">人数限制</th>
                                <th width="80">在读学生</th>
                                <th width="80">结业学生</th>
                                <th>注册码</th>
                            </tr>
                            <tr ng-show="OCMoocRecruitStatus==1" ng-repeat="OCMoocRecruitInfo in OCMoocRecruitInfoList">
                                <td></td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">随时加入</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">统一开课</td>

                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">{{OCMoocRecruitInfo.OCMoocRecruitInfo.RecruitStartDate|dateFormat}}</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">{{OCMoocRecruitInfo.OCMoocRecruitInfo.RecruitStartDate|dateFormat}}~{{OCMoocRecruitInfo.OCMoocRecruitInfo.RecruitEndDate|dateFormat}}</td>

                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">根据学生报名日起算</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">{{OCMoocRecruitInfo.OCMoocRecruitInfo.StartDate|dateFormat}}~{{OCMoocRecruitInfo.OCMoocRecruitInfo.EndDate|dateFormat}}</td>

                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">{{OCMoocRecruitInfo.OCMoocRecruitInfo.UserLimit}}</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">不限</td>

                                <td><span class="people_num">40</span></td>
                                <td><span class="people_num">50</span></td>
                                <td>
                                    <div class="register_code">
                                        <a ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.RegStatus==true" href="javascript:;">{{OCMoocRecruitInfo.OCMoocRecruitInfo.RegNum}}</a>
                                        <a ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.RegStatus==false" href="javascript:;">未开启</a>
                                        <p class="edit_btn">
                                            <i class="icon_mooc icon_shanchu"></i>
                                            <i class="icon_mooc icon_jieye"></i>
                                            <i class="icon_mooc icon_pause"></i>
                                            <i class="icon_mooc icon_export"></i>
                                            <i class="icon_mooc icon_reedit"></i>
                                        </p>
                                    </div>
                                </td>
                            </tr>

                            <tr ng-show="OCMoocRecruitStatus==2" ng-repeat="OCMoocRecruitInfo in OCMoocRecruitInfoList_His">
                                <td></td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">随时加入</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">统一开课</td>

                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">{{OCMoocRecruitInfo.OCMoocRecruitInfo.RecruitStartDate|dateFormat}}</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">{{OCMoocRecruitInfo.OCMoocRecruitInfo.RecruitStartDate|dateFormat}}~{{OCMoocRecruitInfo.OCMoocRecruitInfo.RecruitEndDate|dateFormat}}</td>

                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">根据学生报名日起算</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">{{OCMoocRecruitInfo.OCMoocRecruitInfo.StartDate|dateFormat}}~{{OCMoocRecruitInfo.OCMoocRecruitInfo.EndDate|dateFormat}}</td>

                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==1">{{OCMoocRecruitInfo.OCMoocRecruitInfo.UserLimit}}</td>
                                <td ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.JoinType==2">不限</td>

                                <td><span class="people_num">40</span></td>
                                <td><span class="people_num">50</span></td>
                                <td>
                                    <div class="register_code">
                                        <a ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.RegStatus==true" href="javascript:;">{{OCMoocRecruitInfo.OCMoocRecruitInfo.RegNum}}</a>
                                        <a ng-show="OCMoocRecruitInfo.OCMoocRecruitInfo.RegStatus==false" href="javascript:;">未开启</a>
                                        <p class="edit_btn">
                                            <i class="icon_mooc icon_shanchu"></i>
                                            <i class="icon_mooc icon_export"></i>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>*@

                <div class="btn_box">
                    <a class="cancel" ng-click="TeachingPlan();" href="javascript:;">预览</a>
                    <a class="keep" href="javascript:;">保存</a>
                    <a class="save" href="javascript:;">发布课程</a>
                </div>

            </div>

            <a class="icon backto_top" href="#"></a>
        </div>
        <!--弹出框-->

        <div id="div_Chapter" class="pop_400 modal hide fade" tabindex="0" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <h4 id="myModalLabel1">简介</h4>
            <i class="icon icon_close" data-dismiss="modal" aria-hidden="true"></i>
            <div class="wrap_box">
                <div class="brief_box">
                    <textarea placeholder="章简介（建议不超过500字）" ng-model="Chapter.Brief"></textarea>
                    <p>计划天数：<input type="text" ng-model="Chapter.PlanDay"><span>*</span>　最低学时：<input type="text" ng-model="Chapter.MinHour"><span>*</span></p>
                </div>
                <div class="btn_box">
                    <a class="keep btn btn-primary" ng-click="Chapter_Upd()" data-dismiss="modal" href="javascript:void(0)">保存</a>
                    <a class="cancel btn" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">取消</a>
                </div>
            </div>
        </div>

        <div id="div_Part" class="pop_400 modal hide fade" tabindex="0" role="dialog" aria-hidden="true">
            <h4>简介</h4>
            <div class="wrap_box">
                <div class="brief_box">
                    <textarea placeholder="节简介（建议不超过500字）" ng-model="Chapter.Brief"></textarea>
                </div>
                <div class="btn_box">
                    <a class="keep btn btn-primary" ng-click="Chapter_Upd()" data-dismiss="modal" href="javascript:void(0)">保存</a>
                    <a class="cancel btn" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">取消</a>
                </div>
            </div>
        </div>

        <div id="div_Discussion" class="pop_600 modal hide fade" tabindex="0" role="dialog" aria-hidden="true">
            <h4>讨论</h4>
            <i class="icon icon_close"></i>
            <div class="wrap_box">
                <div class="upload_btn">
                    <a ng-click="OCMoocLiveDiscuss_Add()" href="javascript:void(0)"><em><i class="icon icon_add"></i></em><span>新增讨论主题</span></a>
                </div>
                <table class="data_table">
                    <tr ng-repeat=" OCMoocLive in OCMoocLiveDiscussList|filter:fileFiter">
                        <td ng-show="OCMoocLive.active!=true" width="495"><p class="theme">{{OCMoocLive.ForumTitle}}</p></td>
                        <td ng-show="OCMoocLive.active!=true">
                            <p class="edit_item">
                                @*OCMoocLive.edit=true(编辑状态)*@
                                <i ng-click="OCMoocLive.active=true;OCMoocLive.edit=true" class="icon_mooc icon_reedit"></i>
                                <i ng-click="OCMoocLiveDiscuss_Del(OCMoocLive)" class="icon_mooc delete_btn"></i>
                            </p>
                        </td>
                        <td ng-show="OCMoocLive.active==true"><p class="theme"><input ng-model="OCMoocLive.ForumTitle" ng-blur="OCMoocLive.active=false" focus-me="{{OCMoocLive.active}}" type="text" placeholder="输入讨论主题"></p></td>
                        <td ng-show="OCMoocLive.active==true"></td>
                    </tr>
                </table>
                <div class="btn_box">
                    <a class="keep btn btn-primary" ng-click="OCMoocLiveDiscuss_Upd()" href="javascript:void(0)">保存</a>
                    <a class="cancel btn" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">取消</a>
                </div>
            </div>
        </div>

        <div id="div_KnowledgePoint" class="pop_600 modal hide fade" tabindex="0" role="dialog" aria-hidden="true">
            <h4>知识点</h4>
            <i class="icon icon_close"></i>
            <div class="wrap_box">
                <div class="upload_btn">
                    <a href="javascript:void(0)"><em><i class="icon icon_add"></i></em><span>新增知识点</span></a>
                </div>
                <table class="data_table">
                    <tr>
                        <td width="400"><p class="know_name">知识点名字1</p></td>
                        <td width="135"><p class="know_name">重要</p></td>
                        <td><i class="icon icon_delete"></i></td>
                    </tr>
                    <tr>
                        <td><p class="know_name"><input type="text" placeholder="输入知识点名称"><b>*</b></p></td>
                        <td>
                            <select class="important_degree">
                                <option>重要程度</option>
                                <option>重要程度</option>
                                <option>重要程度</option>
                            </select>
                        </td>
                        <td><i class="icon icon_delete"></i></td>
                    </tr>
                </table>
                <div class="btn_box">
                    <a class="keep btn btn-primary" href="javascript:void(0)">保存</a>
                    <a class="cancel btn" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">取消</a>
                </div>
            </div>
        </div>


        <div id="div_OCMoocOffline" class="pop_box modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <h4 id="myModalLabel3">创建见面课</h4>
            <i class="icon icon_close"></i>
            <div class="meeting_box">
                <ul class="meeting_require">
                    <li>
                        <label>主题：</label>
                        <div class="require_content">
                            <input class="meeting_theme" type="text" ng-model="OCMoocOffline.Title">
                            <b>*</b>
                        </div>
                    </li>
                    <li>
                        <label>任务类型：</label>
                        <div class="require_content">
                            <select class="task_type" ng-model="OCMoocOffline.TaskType">
                                <option>网络面授</option>
                                <option>实践实践</option>
                                <option>小组讨论</option>
                            </select>
                            <b>*</b>
                        </div>
                    </li>
                    <li>
                        <label>建议学时：</label>
                        <div class="require_content">
                            <input class="recom_time" type="text" ng-model="OCMoocOffline.Hours">
                            <b>*</b>
                        </div>
                    </li>
                    <li>
                        <label>选择教师：</label>
                        <div class="require_content">
                            @*<select class="select_teacher" ng-model="OCMoocOffline.UserName">
                                    <option>教师1</option>
                                    <option>教师2</option>
                                    <option>教师3</option>
                                </select>*@
                            <input class="recom_time" type="text" ng-model="OCMoocOffline.UserName">
                        </div>
                    </li>
                    <li>
                        <label>建议授课章节：</label>
                        <div class="require_content">
                            <select class="recom_chapter" ng-model="OCMoocOffline.ChapterID">
                                <option ng-repeat="Chapter in ChapterList|MoocFilter:'=':0|orderBy:'Orde'" value="{{Chapter.ChapterID}}">{{$index+1}} {{Chapter.Title}}</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="meeting_content">
                    <ul class="meeting_point">
                        <li ng-class="{'active':Data==1}"><a href="#" ng-click="OCMoocOffline_Bind(1)">本次见面课目的</a></li>
                        <li ng-class="{'active':Data==2}"><a href="#" ng-click="OCMoocOffline_Bind(2)">教师要点说明</a></li>
                        <li ng-class="{'active':Data==3}"><a href="#" ng-click="OCMoocOffline_Bind(3)">学生组织说明</a></li>
                        <li ng-class="{'active':Data==4}"><a href="#" ng-click="OCMoocOffline_Bind(4)">评价与成绩说明</a></li>
                        <li ng-class="{'active':Data==5}"><a href="#" ng-click="OCMoocOffline_Bind(5)">资源配套说明</a></li>
                        <li ng-class="{'active':Data==6}"><a href="#" ng-click="OCMoocOffline_Bind(6)">考核方式</a></li>
                    </ul>
                    <div class="point_box">
                        <p ng-show="Data==1">答疑课，讨论课的内容有哪些？以什么样的引导，鼓励学生走上讲台，促进学生能力提升？</p>
                        <p ng-show="Data==2">教师要点说明</p>
                        <p ng-show="Data==3">学生组织说明</p>
                        <p ng-show="Data==4">评价与成绩说明</p>
                        <p ng-show="Data==5">资源配套说明</p>
                        <p ng-show="Data==6">考核方式</p>

                        <input type="hidden" name="oEditor1" id="oEditor1" ng-value="" />
                        <iframe id="frmoEditor1" src="../../../../Frameworks/ewebeditor/ewebeditor.htm?id=oEditor1&style=mini" frameborder="0" scrolling="no" width="809" height="290" style="display: block;"></iframe>
                        <div class="btn_box">
                            <a class="keep" href="javascript:void(0)" ng-click="OCMoocOffline_Upd()" >保存</a>
                            <a class="cancel" href="javascript:void(0)" data-dismiss="modal" aria-hidden="true">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ChapterFile" class="pop_600 modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
            <h4>资料设置</h4>
            <i class="icon icon_close"></i>
            <div class="wrap_box">
                <div class="upload_btn">
                    <a href="javascript:void(0)"><em><i class="icon_mooc icon_up"></i></em><span>上传新资料</span></a>
                    <a href="javascript:void(0)"><em><i class="icon icon_add"></i></em><span>从资料库选择</span></a>
                    仅支持常规视频/音频格式、word、ppt、pdf 文件上传
                </div>
                <table class="data_table">
                    <tr ng-repeat="OCMoocFile in OCMoocFileList|filter : fileFiter|orderBy:'-UploadTime' ">
                        <td width="360" ng-switch on="OCMoocFile.Ext">
                            <p class="data_name">
                                <i ng-switch-when="mp4" class="icon_24 mp4"></i>
                                <i ng-switch-when="pdf" class="icon_24 pdf"></i>
                                <i ng-switch-when="jpg" class="icon_24 pic"></i>
                                {{OCMoocFile.FileTitle}}
                            </p>
                        </td>
                        <td ng-switch on="OCMoocFile.FileType == 1 || OCMoocFile.FileType == 2">
                            @*1,2为视频文件和音频文件*@
                            <p ng-switch-when="true" class="learning_time">{{OCMoocFile.TimeLength|FormatSeconds }}</p>
                            <p ng-switch-when="false" class="learning_time">
                                <input type="text" value="{{OCMoocFile.TimelimitMin}}" />分钟
                            </p>
                        </td>
                        <td>
                            <p class="data_btn">
                                <i ng-click="OCMoocFileStatus(OCMoocFile)" ng-class="{'icon_mooc icon_flag':OCMoocFile.IsMust==0,'icon_mooc icon_flag2':OCMoocFile.IsMust==1}"></i>
                                <i class="icon icon_delete"></i>
                            </p>
                        </td>
                    </tr>

                </table>
                <div class="btn_box">
                    <a class="keep" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">保存</a>
                    <a class="cancel" data-dismiss="modal" href="javascript:void(0)">取消</a>
                </div>
            </div>
        </div>

        <div id="div_CompleteCheck" class="data_check modal hide fade" tabindex="0" role="dialog" aria-hidden="true">
            <h4 class="pop_tit">资料完整度检查</h4>
            <i class="icon icon_close"></i>
            <div class="check_wrap">
                <div class="check_result" ng-switch on="Incomplete>0">
                    <p ng-switch-when="true"><img src="../../../images/cry.png" width="36" height="36" alt="">至少还有<span>{{Incomplete}}</span>处资料没有准备好，继续加油！</p>
                    <p ng-switch-when="false"><img src="../../../images/smile.png" width="36" height="36" alt="">恭喜您！通过了课程资料完整度检查！</p>
                    <a class="check_again" ng-click="CompleteCheck();" href="#"><i class="icon_mooc icon_check"></i>重新检查</a>
                </div>
                <div class="complete_box">
                    <p class="complete_tip"><span>点击</span><i class="icon_mooc icon_warning"></i><span>即可完善空缺的内容</span></p>
                    <ul class="item_box">
                        <li ng-repeat="Chapter in ChapterList|MoocFilter:'=':0|orderBy:'Orde'">
                            <div class="chapter_b chapter_item">
                                <b class="wid310">
                                    <i ng-click="Chapter.active=true" ng-show="Chapter.Title==null||Chapter.Title==''" class="icon_mooc icon_warning">
                                    </i><span>第{{Index2=$index+1}}章&nbsp;</span>
                                    <span ng-show="Chapter.active!=true">{{Chapter.Title}}</span>
                                    <input ng-show="Chapter.active==true" ng-blur="Chapter_Title_Upd(Chapter)" type="text" ng-model="Chapter.Title" focus-me="{{Chapter.active}}" />

                                </b>


                                <b class="wid100">计划天数<i ng-click="ChapterDetail(Chapter)" ng-show="Chapter.PlanDay==null||Chapter.PlanDay==0" class="icon_mooc icon_warning"></i>{{Chapter.PlanDay}}</b>
                                <b class="wid125">最低学时<i ng-click="ChapterDetail(Chapter)" ng-show="Chapter.MinHour==null||Chapter.MinHour==0" class="icon_mooc icon_warning"></i>{{Chapter.MinHour}}</b>
                                <b class="wid80">简介</b>
                                <b class="wid80">资料</b>
                                <b class="wid80">讨论</b>
                                <b class="wid80">测试</b>
                                <b>知识点</b>
                            </div>
                            <ul class="second_section">
                                <li ng-repeat="Chapter2 in ChapterList|MoocFilter:'=':Chapter.ChapterID|orderBy:'Orde'">
                                    <div class="chapter_item">
                                        <span class="wid310"><span>{{Index2}}.{{$index+1}}</span> 
                                            <span ng-show="Chapter2.active!=true">{{Chapter2.Title}}</span>
                                            <input ng-show="Chapter2.active==true" ng-blur="Chapter_Title_Upd(Chapter2)" type="text" ng-model="Chapter2.Title" focus-me="{{Chapter2.active}}" />
                                        </span>
                                        <span class="wid100"></span>
                                        <span class="wid125"></span>
                                        <span class="wid80" ng-switch on="Chapter2.Brief == null || Chapter2.Brief == ''">
                                            <i ng-switch-when="false" class="icon_mooc icon_finish"></i>
                                            <a ng-switch-when="true" ng-click="PartDetail(Chapter2)" class="num_show" href="javascript:;">输入</a>
                                        </span>

                                        <span class="wid80" ng-switch on="Chapter2.FileNum == null || Chapter2.FileNum == 0">
                                            <i ng-switch-when="true" ng-click="PartFile(Chapter2)" class="icon_mooc icon_warning"></i>
                                            <span ng-switch-when="false" class="num_show">{{Chapter2.FileNum}}</span>
                                        </span>
                                        <span class="wid80"><a class="num_show" href="javascript:;"></a></span>
                                        <span class="wid80"><a class="num_show" href="javascript:;">{{Chapter2.TestNum}}</a></span>
                                      
                                        <span>{{Chapter2.KenNum}}</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="chapter_item">
                                <span class="wid310">章测试</span>
                                <span class="wid100"></span>
                                <span class="wid125"></span>
                                <span class="wid80"></span>
                                <span class="wid80"></span>
                                <span class="wid80" ng-switch on="Chapter.TopicNum == null || Chapter.TopicNum == 0">
                                    <a ng-switch-when="true" ng-click="PartDiscussion(Chapter)" class="num_show">{{Chapter.TopicNum}}</a>
                                    <a ng-switch-when="false" class="num_show">{{Chapter.TopicNum}}</a>
                                </span>
                                <span class="wid80" ng-switch on="Chapter.TestNum == null || Chapter.TestNum == 0">
                                    <i ng-switch-when="true" ng-click="" class="icon_mooc icon_warning"></i>
                                    <a ng-switch-when="false" class="num_show">{{Chapter.TestNum}}</a>
                                </span>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div class="chapter_b chapter_item">
                                <b class="wid310">
                                    课程结业考试
                                </b>
                                <b class="wid100"></b>
                                <b class="wid125"></b>
                                <b class="wid80"></b>
                                <b class="wid80"></b>
                                <b class="wid80"></b>
                                <b class="wid80">测试</b>
                                <b></b>
                            </div>

                        </li>
                        <li>
                            <div class="chapter_item">
                                <b class="wid310">
                                    课程合计
                                </b>
                                <b class="wid100">{{OCMoocTotal.PlanDay}}天</b>
                                <b class="wid125">{{OCMoocTotal.MinHour}}时</b>
                                <b class="wid80"></b>
                                <b class="wid80">{{OCMoocTotal.VideoNum}}视频/{{OCMoocTotal.FileNum}}文档</b>
                                <b class="wid80">{{OCMoocTotal.TopicNum}}讨论</b>
                                <b class="wid80">{{OCMoocTotal.TestNum}}题</b>
                                <b>{{OCMoocTotal.KenNum}}知识点</b>
                            </div>

                        </li>

                    </ul>
                    <div class="btn_box">
                        <a class="cancel btn" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">关闭</a>
                    </div>
                </div>
            </div>
        </div>


        <div id="div_TeachingPlan" class="data_check modal hide fade" tabindex="0" role="dialog" aria-hidden="true">
            <h4 class="pop_tit">教学计划</h4>
            <i class="icon icon_close"></i>
            <div class="teaching_plan">
                <div class="plan_box">              
                    <div class="plan_detail" ng-repeat="Chapter in ChapterList|MoocFilter:'=':0|orderBy:'Orde'" on-offline-get>
                        <div class="step_box">
                            <p>第{{$index+1}}阶段 {{Chapter.PlanDay}}天</p>
                            <span class="line"></span>
                            <i class="icon_24 icon_node"></i>
                        </div>
                        <div class="online_box">
                            <div class="step_detail">
                                <div class="chapt_box">
                                    <span class="learning_style online_learning">在线学习</span>
                                    <h4>第{{$index+1}}章：{{Chapter.Title}}<b>（{{Chapter.MinHour}}学时）</b></h4>
                                    <div class="chapt_detail">
                                        <a href="javascript:;"><i class="icon_con icon_test" title="测试"></i>{{Chapter.TestNumTotal}}</a>
                                        <a href="javascript:;"><i class="icon_con icon_know" title="知识点"></i>{{Chapter.KenNumTotal}}</a>
                                        <a href="javascript:;"><i class="icon_con icon_discuss" title="讨论"></i>{{Chapter.TopicNum}}</a>
                                        <a href="javascript:;"><i class="icon_con icon_txt" title="资料"></i>{{Chapter.FileNumTotal}}</a>
                                        <a href="javascript:;"><i class="icon_con icon_video" title="视频"></i>{{Chapter.VideoNumTotal}}</a>
                                    </div>
                                </div>
                                <ul class="chapt_list">
                                    <li ng-repeat="Chapter2 in ChapterList|MoocFilter:'=':Chapter.ChapterID|orderBy:'Orde'">
                                        {{$index+1}}:{{Chapter2.Title}}
                                    </li>
                                </ul>
                            </div>
                            <div class="step_detail" ng-repeat=" OCMoocOffline in OCMoocOfflineList|MoocOfflineFilter:'=':Chapter.ChapterID">
                                <div class=" chapt_box">
                                    <span class="learning_style off_learning">见面课</span>
                                    <h4>{{OCMoocOffline.Title}}<b>（{{OCMoocOffline.Hours}}学时）</b></h4>
                                    <div class="group_discuss">
                                        <span>小组讨论 | {{OCMoocOffline.UserName}}</span>
                                        <a href="javascript:;">[展开]</a>
                                    </div>
                                </div>
                                <ul class="discuss_question" style="display:none;">
                                    <li>
                                        <b>本次见面课的目的</b>
                                        <p>{{OCMoocOffline.Purpose}}</p>

                                    </li>
                                    <li>
                                        <b>教师要点说明</b>
                                        <p>{{OCMoocOffline.Points}}</p>
                                    </li>
                                    <li>
                                        <b>学生组织说明</b>
                                        <p>{{OCMoocOffline.Grouping}}</p>
                                    </li>
                                    <li>
                                        <b>评价与成绩说明</b>
                                        <p>{{OCMoocOffline.Score}}</p>
                                    </li>
                                    <li>
                                        <b>配套资源说明</b>
                                        <p>{{OCMoocOffline.Resource}}</p>
                                    </li>
                                    <li>
                                        <b>考核方式</b>
                                        <p>{{OCMoocOffline.Assess}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="plan_detail">
                        <div class="step_box">
                            <p>结业考试</p>
                            <span class="line"></span>
                            <i class="icon_24 icon_end"></i>
                        </div>
                    </div>
                </div>
                <div class="btn_box">
                    <a class="cancel btn" data-dismiss="modal" aria-hidden="true" href="javascript:void(0)">关闭</a>
                </div>
            </div>
        </div>
    </div>
</div>




















