@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <link href="~/Css/PublicDialog.css" rel="stylesheet" />
</head>
<body>
    <div class="pop_bg"></div>
    <div class="pop_800" style="display:block;">
        <h4>在读学生</h4>
        <i class="icon icon_close"></i>
        <div class="wrap_box">
            <p class="on_study">在读：2 / 不限</p>
            <table class="curri_table student_table">
                <tr>
                    <th width="10"></th>
                    <th width="90">学号</th>
                    <th width="80">姓名</th>
                    <th width="150">专业</th>
                    <th width="150">行政班</th>
                    <th width="80">年级</th>
                    <th width="80">注册日期</th>
                    <th>MOOC学习进度</th>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>李四</td>
                    <td>机械自动化</td>
                    <td>04机械自动化2班</td>
                    <td>2014</td>
                    <td>2014-08-03</td>
                    <td>34%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>赵哼哼</td>
                    <td>计算机</td>
                    <td>03计算机3班</td>
                    <td>2013</td>
                    <td>2014-08-03</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>李四</td>
                    <td>机械自动化</td>
                    <td>04机械自动化2班</td>
                    <td>2014</td>
                    <td>2014-08-03</td>
                    <td>34%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>赵哼哼</td>
                    <td>计算机</td>
                    <td>03计算机3班</td>
                    <td>2013</td>
                    <td>2014-08-03</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>李四</td>
                    <td>机械自动化</td>
                    <td>04机械自动化2班</td>
                    <td>2014</td>
                    <td>2014-08-03</td>
                    <td>34%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>赵哼哼</td>
                    <td>计算机</td>
                    <td>03计算机3班</td>
                    <td>2013</td>
                    <td>2014-08-03</td>
                    <td>0%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>李四</td>
                    <td>机械自动化</td>
                    <td>04机械自动化2班</td>
                    <td>2014</td>
                    <td>2014-08-03</td>
                    <td>34%</td>
                </tr>
                <tr>
                    <td></td>
                    <td>3091817313</td>
                    <td>赵哼哼</td>
                    <td>计算机</td>
                    <td>03计算机3班</td>
                    <td>2013</td>
                    <td>2014-08-03</td>
                    <td>0%</td>
                </tr>
            </table>
            <div class="page">
                <div class="page_box">
                    <a class="prev" href="javascript:;">前一页</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <span class="more">...</span>
                    <a href="#">8</a>
                    <a class="prev" href="javascript:;">后一页</a>
                    <span>共229条，到第<input type="text">页</span>
                    <a class="confirm" href="#">确认</a>
                </div>
            </div>
            <div class="btn_box">
                <a class="cancel" href="javascript:;">关闭</a>
            </div>
        </div>
    </div>

</body>
</html>
