@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <script src="~/js/jquery-1.8.3.min.js"></script>
    <link href="~/Css/PublicDialog.css" rel="stylesheet" />
</head>
<body>
    <div class="pop_bg"></div>
    <div class="pop_400" style="display:block;">
        <h4>选择站内用户</h4>
        <div class="form_box">
            <div class="search_name">
                <p><label>用户姓名：</label><input class="name_box" type="text"></p>
                <a href="#">[搜索]</a>
            </div>
        </div>
        <span class="icon close_pop"></span>
        <div class="search_content">
            <div class="user_search">
                <input type="text" placeholder='请输入“工号” “姓名” 关键字'>
                <b>*</b>
                <a href="#">搜索</a>
            </div>
            <table class="class_box">
                <tr>
                    <th width="120">工号</th>
                    <th width="120">姓名</th>
                    <th>所属机构</th>
                </tr>
                <tr>
                    <td><input type="radio"><label>39018</label></td>
                    <td>刘晓明</td>
                    <td>文学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39076</label></td>
                    <td>王金</td>
                    <td>机械工程学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39018</label></td>
                    <td>刘晓明</td>
                    <td>文学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39018</label></td>
                    <td>刘晓明</td>
                    <td>文学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39076</label></td>
                    <td>王金</td>
                    <td>机械工程学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39018</label></td>
                    <td>刘晓明</td>
                    <td>文学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39018</label></td>
                    <td>刘晓明</td>
                    <td>文学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39076</label></td>
                    <td>王金</td>
                    <td>机械工程学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39018</label></td>
                    <td>刘晓明</td>
                    <td>文学院</td>
                </tr>
                <tr>
                    <td><input type="radio"><label>39018</label></td>
                    <td>刘晓明</td>
                    <td>文学院</td>
                </tr>
            </table>
            <div class="page_box">
                <a class="prev" href="javascript:;">前一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <span class="more">...</span>
                <a href="#">8</a>
                <a class="prev" href="javascript:;">后一页</a>
                <span>共229条，到第<input type="text">页</span>
                <a class="confirm" href="#">确认</a>
            </div>
        </div>
    </div>
</body>
</html>