@{
    Layout = Request.AppRelativeCurrentExecutionFilePath.StartsWith("~/views/") ? null : "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/check.css" rel="stylesheet" />
<!--右侧主题内容开始-->
<div class="main_content">
    <div class="coursesite_box" ng-controller="AffairsController">
        <div class="exercise_search">
            <select class="item_box" ng-model="Affairs.DictID" ng-options="m.ID as m.Name for m in DictList" ng-change="DictSelectChanged();">
                <option value="">全部事务</option>
            </select>
            <a class="batch_box" href="javascript:;" ng-click="BatchEdit(1)"><em><i class="icon batch_icon"></i></em><span>批量同意</span></a>
            <a class="batch_box" href="javascript:;" ng-click="BatchEdit(2)"><em><i class="icon refuse_icon"></i></em><span>批量拒绝</span></a>
        </div>
        <table class="item_table">
            <tr>
                <th width="15"></th>
                <th width="25"><input type="checkbox" ng-model="CheckAll" ng-checked="CheckAll" ng-click="SelectAll()"></th>
                <th width="120">学生姓名</th>
                <th width="150">所属机构</th>
                <th width="125">所属班级</th>
                <th width="115">事务类型</th>
                <th width="145">申请原因</th>
                <th width="125">事务详情</th>
                <th width="100">申请时间</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="Affairs in AffairsList">
                <td></td>
                <td><input type="checkbox" ng-checked="Affairs.IsSelected" ng-model="Affairs.IsSelected" ng-click="SelectSingle()"></td>
                <td ng-bind-template="{{Affairs.UserName}}"></td>
                <td ng-bind="Affairs.OrganizationName"></td>
                <td ng-bind="Affairs.ClassName"></td>
                <td ng-bind="Affairs.AffairType">补交作业</td>
                <td ng-bind="Affairs.Reson">忘记做了</td>
                <td ng-bind="Affairs.AffairDesc">第一章单元测试</td>
                <td ng-bind="Affairs.CreateDate|dateFormat">2015-01-08</td>
                <td>
                    <p ng-show="Affairs.Status==0" class="operation_btn">
                        <a href="javascript:;" ng-click="StatusEdit(Affairs,1)">同意</a>
                        <a href="javascript:;" ng-click="StatusEdit(Affairs,2)">拒绝</a>
                    </p>
                    <span ng-show="Affairs.Status==2" class="refuse_box">老师已拒绝</span>
                    <span ng-show="Affairs.Status==1" class="agree_box">老师已同意</span>
                </td>
            </tr>
        </table>
        <div id="AffairsPage" style="margin:20px; margin-left:150px;"></div>

    </div>
    <!--右侧主题内容结束-->
</div>