.search_btn {
    float: right;
    width: 260px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

    .search_btn input {
        width: 233px;
        margin-top: 5px;
        height: 30px;
        line-height: 30px\9;
        padding: 0 20px 0 5px;
        border: 1px solid #ccc;
    }

.icon_admin {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../../Content/Images/icon_admin.png) no-repeat;
}

.search_btn i {
    position: absolute;
    top: 12px;
    right: 4px;
    cursor: pointer;
}

.search_icon {
    background-position: 0 0;
}

.wod_btn {
    display: block;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    line-height: 30px;
    text-align: center;
    margin: 0px 0 0px 0px;
    background: #284a51;
    color: #fff;
    float: left;
}

    .wod_btn:hover {
        background: #244248;
    }

.wrt_btn {
    display: block;
    width: 80px;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0px 0 0px 0px;
    background: #ccc;
    color: #000;
    float: left;
    margin-left: 10px;
}

    .wrt_btn:hover {
        background: #f2f2f2;
    }

.result_table {
    width: 100%;
    
}

    .result_table tr th {
        text-align: left;
       
    }

        .result_table tr th, .result_table tr td i, .result_table tr td a, .result_table tr th a {
            vertical-align: middle;
        }

    .result_table tr th, .result_table tr td {
        height: 30px;
        line-height: 30px;
        color: #333;
    }

        .result_table tr th input, .result_table tr td input {
            height: 30px;
            vertical-align: middle;
        }

.treeRightCss table {
    height:40px;
    font-size:15px;
    font-weight:600;
    width:200px;
    margin-left:20px;
}
.treeRightCss table tr td {
    border-bottom:1px solid #ccc;
}
