<div class="coursesite_box">
    <div class="exercise_nav">
        @*<ul class="exercise_nav_list">
                <li ng-repeat="item in courses" ng-class="{active:course.OCID==item.OCID}">
                    <a class="first_nav" ng-click="courseChanged(item);" ng-bind="item.Name"></a>
                </li>
                <li ng-show="moreCourses.length > 0">
                    <a class="first_nav">查看更多<i class="icon"></i></a>
                    <div class="second_nav">
                        <a ng-repeat="item in moreCourses" ng-bind="item.Name" ng-click="courseChanged(item);"></a>
                    </div>
                </li>
            </ul>*@
        @*<ul class="exercise_nav_list">
                <li ng-repeat="item in courses" ng-class="{active:course.OCID==item.OCID}">
                    <a class="first_nav" href="#" ng-show="$index<=2">{{item.Name}}</a>
                    <a class="first_nav" href="#" ng-show="$index==3">查看更多<i class="icon"></i></a>
                    <div class="second_nav" ng-show="$index>=3">
                        <a href="#">{{item.Name}}</a>
                    </div>
                </li>
            </ul>*@
        <ul class="exercise_nav_list">
            <more-course ng-repeat="item in courses" course="item" course-index="$index" selection="course" on-selected="courseChanged(item)">
            </more-course>
        </ul>
    </div>
    <div ui-view></div>
</div>