<div class="add_paper_box">
    <div class="add_tit">
        <h4>新建试题</h4>
        <a class="icon icon_close" href="javascript:;"></a>
        <a class="recom_case" href="#">建议案例</a>
    </div>
    <div class="paper_box">
        <div class="paper_sort">
            <select class="which_course" ng-model="data.course" ng-options="item.Name for item in courses"></select>
            <select class="question_type" ng-model="data.exerciseType" ng-options="item.name for item in exerciseTypes"></select>
            <select class="difficulty_degree" ng-model="data.difficult" ng-options="item.name for item in difficulties"></select>
            <div class="range_applicable">
                <span>适用范围</span>
                <p ng-repeat="item in scopes">
                    <input type="checkbox" checklist-model="data.scopes" checklist-value="item">{{item.name}}
                </p>
            </div>
        </div>
        <div class="label_box">
            <div class="label_item">
                <div>
                    @*<select ng-model="keySelection" ng-options="item.Name for item in keys">
                        </select>*@
                    <input type="text" ng-model="exerciseKey" />
                    <a ng-click="addKey(exerciseKey)"><span class="icon"></span>添加标签</a>
                </div>
                <ul class="item_list">
                    <li ng-repeat="item in data.keys"><a ng-click="removeKey(item)">{{item.Name}}<span>×</span></a></li>
                </ul>
            </div>
            <div class="zhishi_box">
                @*<input type="text" ng-model="exerciseKen" />
                    <a class="connect_knowledge" href="#"><em><i class="icon"></i></em><span>关联知识点</span></a>*@
                <div>
                    <input type="text" ng-model="exerciseKen" />
                    <a ng-click="addKen(exerciseKen)"><span class="icon"></span>添加知识点</a>
                </div>
                <ul class="knowledge_item">
                    <li ng-repeat="item in data.kens"><a ng-click="removeKen(item);">{{item.Name}}<span>×</span></a></li>
                </ul>
            </div>
        </div>
        <div class="paper_content">
            <div ui-view></div>
            <div class="btn_box">
                <a dialog-show dialog-id="eExercisePreview" class="save" ng-click="preview()">预览</a>
                <a href="javascript:;" class="save" ng-click="submit()">保存</a>
                <a href="javascript:;" class="cancel" ui-sref="content.exercise">取消</a>
            </div>
        </div>

    </div>
</div>

<exercise-preview id="eExercisePreview" style="display:none" exercise="data.exercise"></exercise-preview>
<ies-file-uploader id="eIesUploader" style="display:none" upload-url="/DataProvider/FileUpload.ashx/?FROM=2" />

