<div class="add_paper_box">
    <div class="add_tit">
        <h4>新建试题</h4>
        <a class="icon icon_close" href="javascript:;"></a>
        <a class="recom_case" href="#">建议案例</a>
    </div>
    <div class="paper_box">
        <div class="paper_sort">
            <select class="which_course">
                <option>适用课程</option>
                <option>适用课程</option>
                <option>适用课程</option>
            </select>
            <select class="question_type">
                <option>单选题</option>
                <option>多选题</option>
            </select>
            <select class="difficulty_degree">
                <option>难易程度</option>
                <option>简单</option>
                <option>中等</option>
                <option>较难</option>
            </select>
            <div class="range_applicable">
                <span>适用范围</span>
                <p><input type="checkbox">作业考试</p>
                <p><input type="checkbox">学生练习</p>
                <p><input type="checkbox">正式考试</p>
            </div>
        </div>
        <div class="label_box">
            <div class="label_item">
                <p>
                    <select>
                        <option>请选择或输入标签</option>
                        <option>请选择或输入标签</option>
                        <option>请选择或输入标签</option>
                    </select>
                    <a href="javascript:;"><span class="icon"></span></a>
                </p>
                <ul class="item_list">
                    <li><a href="#">标签1<span>×</span></a></li>
                    <li><a href="#">标签2<span>×</span></a></li>
                </ul>
            </div>
            <div class="zhishi_box">
                <a class="connect_knowledge" href="#"><em><i class="icon"></i></em><span>关联知识点</span></a>
                <ul class="knowledge_item">
                    <li><a ng-click="doChanged();">知识点1<span>×</span></a></li>
                    <li><a ng-click="doChanged();">知识点2<span>×</span></a></li>
                    <li><a ng-click="doChanged();">知识点3<span>×</span></a></li>
                    <li><a ng-click="doChanged();">知识点4<span>×</span></a></li>
                </ul>
            </div>
        </div>
        <div class="paper_content"> 
            <div ui-view></div>
            <div class="btn_box">
                <a href="javascript:;" class="save">预览</a>
                <a href="javascript:;" class="save" ng-click="submit()">保存</a>
                <a href="javascript:;" class="cancel">取消</a>
            </div>
        </div>
    </div>
</div>