<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="MicYear" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年/学期 --</option>
                    </select>
                </div>
                <div class="col-sm-5">                    
                    <div ng-repeat="grade in GradeCourses" class="checkbox-inline">
                        <input type="checkbox" value="{{grade.CourseCode}}" name="grades" />{{grade.FullName}}
                    </div>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary" ng-click="query()"><span class="glyphicon glyphicon-ok"></span>查询</button>
                </div>
            </div>
            <div class="form-group" ng-show="testShow">
                <div class="col-sm-3">
                    <select class="form-control" ng-model="TestType" ng-options="m.Name for m in TestTypes">
                        <option value="">-- 请选择考试类型 --</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" ng-model="TestNo" ng-options="m.TestNo for m in TestLogins">
                        <option value="">-- 请选择考试号 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-show="testShow">
                <div class="col-sm-12">
                    <div ng-repeat="student in Students" class="checkbox-inline">
                        <input type="checkbox" value="{{student.StudentId}}" name="selected" />{{student.StdName}}
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group" ng-show="testShow">
                <div class="col-sm-2">
                    最高分：<font style="color:blue;">{{maxNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    最低分：<font style="color:blue;">{{minNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    单/多次平均分：<font style="color:blue;">{{aveNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    合计人次：<font style="color:blue;">{{couNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    优良人次：<font style="color:blue;">{{goodNumScore}}</font>
                </div>
                <div class="col-sm-2">
                    不及格人次：<font style="color:blue;">{{failNumScore}}</font>
                </div>
            </div>
        </form>
    </div>
</div>