<div class="row">
    <div class="col-sm-3">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="form-control" ng-model="MicYear" ng-options="m.MicYear for m in AcademicYears">
                        <option value="">-- 请选择学年/学期 --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="form-control" ng-model="GradeCourse" ng-change="studentLoad()" ng-options="m.FullName for m in GradeCourses">
                        <option value="">-- 请选择课程--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <select class="form-control" ng-model="GradeCode"  ng-options="m.GradeName for m in GradeCodes">
                        <option value="">-- 请选择年级--</option>
                    </select>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-sm-12">
                    <label ng-repeat="student in Students" class="checkbox-inline">
                        <input type="checkbox" value="{{student.SRID}}" name="selected" />{{student.StdName}}
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>