@{
    //Layout = null;
}
<div id="file_size" style="width: 400px; border-bottom: 1px solid #C0C0C0;"></div>
<div style="width: 400px; height: 300px;">
    <div style="font-size: 13px; font-weight:bold;color: #808080;font-family:'微软雅黑','黑体','华文细黑';">对于上传按钮和选择文件按钮，你可以使用其他任何形式的元素，可以是图片或一切你能想到的东西，都是可以的</div>
    <input id="fileupload" type="button" value="选择文件" />
    <input id="files" type="button" value="上传" />
    <!-- <div style="width: 420px; height: 180px; overflow:auto;border:1px solid #C0C0C0;">-->
    <div id="fileList" style="margin-top: 10px; padding-top:10px; font-size: 13px; width:400px">

    </div>
    <!-- </div>-->
</div>
<br />
<div id="testdiv"></div>
